.materialize-red {
  background-color: #e51c23 !important; }

.materialize-red-text {
  color: #e51c23 !important; }

.materialize-red.lighten-5 {
  background-color: #fdeaeb !important; }

.materialize-red-text.text-lighten-5 {
  color: #fdeaeb !important; }

.materialize-red.lighten-4 {
  background-color: #f8c1c3 !important; }

.materialize-red-text.text-lighten-4 {
  color: #f8c1c3 !important; }

.materialize-red.lighten-3 {
  background-color: #f3989b !important; }

.materialize-red-text.text-lighten-3 {
  color: #f3989b !important; }

.materialize-red.lighten-2 {
  background-color: #ee6e73 !important; }

.materialize-red-text.text-lighten-2 {
  color: #ee6e73 !important; }

.materialize-red.lighten-1 {
  background-color: #ea454b !important; }

.materialize-red-text.text-lighten-1 {
  color: #ea454b !important; }

.materialize-red.darken-1 {
  background-color: #d0181e !important; }

.materialize-red-text.text-darken-1 {
  color: #d0181e !important; }

.materialize-red.darken-2 {
  background-color: #b9151b !important; }

.materialize-red-text.text-darken-2 {
  color: #b9151b !important; }

.materialize-red.darken-3 {
  background-color: #a21318 !important; }

.materialize-red-text.text-darken-3 {
  color: #a21318 !important; }

.materialize-red.darken-4 {
  background-color: #8b1014 !important; }

.materialize-red-text.text-darken-4 {
  color: #8b1014 !important; }

.red {
  background-color: #F44336 !important; }

.red-text {
  color: #F44336 !important; }

.red.lighten-5 {
  background-color: #FFEBEE !important; }

.red-text.text-lighten-5 {
  color: #FFEBEE !important; }

.red.lighten-4 {
  background-color: #FFCDD2 !important; }

.red-text.text-lighten-4 {
  color: #FFCDD2 !important; }

.red.lighten-3 {
  background-color: #EF9A9A !important; }

.red-text.text-lighten-3 {
  color: #EF9A9A !important; }

.red.lighten-2 {
  background-color: #E57373 !important; }

.red-text.text-lighten-2 {
  color: #E57373 !important; }

.red.lighten-1 {
  background-color: #EF5350 !important; }

.red-text.text-lighten-1 {
  color: #EF5350 !important; }

.red.darken-1 {
  background-color: #E53935 !important; }

.red-text.text-darken-1 {
  color: #E53935 !important; }

.red.darken-2 {
  background-color: #D32F2F !important; }

.red-text.text-darken-2 {
  color: #D32F2F !important; }

.red.darken-3 {
  background-color: #C62828 !important; }

.red-text.text-darken-3 {
  color: #C62828 !important; }

.red.darken-4 {
  background-color: #B71C1C !important; }

.red-text.text-darken-4 {
  color: #B71C1C !important; }

.red.accent-1 {
  background-color: #FF8A80 !important; }

.red-text.text-accent-1 {
  color: #FF8A80 !important; }

.red.accent-2 {
  background-color: #FF5252 !important; }

.red-text.text-accent-2 {
  color: #FF5252 !important; }

.red.accent-3 {
  background-color: #FF1744 !important; }

.red-text.text-accent-3 {
  color: #FF1744 !important; }

.red.accent-4 {
  background-color: #D50000 !important; }

.red-text.text-accent-4 {
  color: #D50000 !important; }

.pink {
  background-color: #e91e63 !important; }

.pink-text {
  color: #e91e63 !important; }

.pink.lighten-5 {
  background-color: #fce4ec !important; }

.pink-text.text-lighten-5 {
  color: #fce4ec !important; }

.pink.lighten-4 {
  background-color: #f8bbd0 !important; }

.pink-text.text-lighten-4 {
  color: #f8bbd0 !important; }

.pink.lighten-3 {
  background-color: #f48fb1 !important; }

.pink-text.text-lighten-3 {
  color: #f48fb1 !important; }

.pink.lighten-2 {
  background-color: #f06292 !important; }

.pink-text.text-lighten-2 {
  color: #f06292 !important; }

.pink.lighten-1 {
  background-color: #ec407a !important; }

.pink-text.text-lighten-1 {
  color: #ec407a !important; }

.pink.darken-1 {
  background-color: #d81b60 !important; }

.pink-text.text-darken-1 {
  color: #d81b60 !important; }

.pink.darken-2 {
  background-color: #c2185b !important; }

.pink-text.text-darken-2 {
  color: #c2185b !important; }

.pink.darken-3 {
  background-color: #ad1457 !important; }

.pink-text.text-darken-3 {
  color: #ad1457 !important; }

.pink.darken-4 {
  background-color: #880e4f !important; }

.pink-text.text-darken-4 {
  color: #880e4f !important; }

.pink.accent-1 {
  background-color: #ff80ab !important; }

.pink-text.text-accent-1 {
  color: #ff80ab !important; }

.pink.accent-2 {
  background-color: #ff4081 !important; }

.pink-text.text-accent-2 {
  color: #ff4081 !important; }

.pink.accent-3 {
  background-color: #f50057 !important; }

.pink-text.text-accent-3 {
  color: #f50057 !important; }

.pink.accent-4 {
  background-color: #c51162 !important; }

.pink-text.text-accent-4 {
  color: #c51162 !important; }

.purple {
  background-color: #9c27b0 !important; }

.purple-text {
  color: #9c27b0 !important; }

.purple.lighten-5 {
  background-color: #f3e5f5 !important; }

.purple-text.text-lighten-5 {
  color: #f3e5f5 !important; }

.purple.lighten-4 {
  background-color: #e1bee7 !important; }

.purple-text.text-lighten-4 {
  color: #e1bee7 !important; }

.purple.lighten-3 {
  background-color: #ce93d8 !important; }

.purple-text.text-lighten-3 {
  color: #ce93d8 !important; }

.purple.lighten-2 {
  background-color: #ba68c8 !important; }

.purple-text.text-lighten-2 {
  color: #ba68c8 !important; }

.purple.lighten-1 {
  background-color: #ab47bc !important; }

.purple-text.text-lighten-1 {
  color: #ab47bc !important; }

.purple.darken-1 {
  background-color: #8e24aa !important; }

.purple-text.text-darken-1 {
  color: #8e24aa !important; }

.purple.darken-2 {
  background-color: #7b1fa2 !important; }

.purple-text.text-darken-2 {
  color: #7b1fa2 !important; }

.purple.darken-3 {
  background-color: #6a1b9a !important; }

.purple-text.text-darken-3 {
  color: #6a1b9a !important; }

.purple.darken-4 {
  background-color: #4a148c !important; }

.purple-text.text-darken-4 {
  color: #4a148c !important; }

.purple.accent-1 {
  background-color: #ea80fc !important; }

.purple-text.text-accent-1 {
  color: #ea80fc !important; }

.purple.accent-2 {
  background-color: #e040fb !important; }

.purple-text.text-accent-2 {
  color: #e040fb !important; }

.purple.accent-3 {
  background-color: #d500f9 !important; }

.purple-text.text-accent-3 {
  color: #d500f9 !important; }

.purple.accent-4 {
  background-color: #aa00ff !important; }

.purple-text.text-accent-4 {
  color: #aa00ff !important; }

.deep-purple {
  background-color: #673ab7 !important; }

.deep-purple-text {
  color: #673ab7 !important; }

.deep-purple.lighten-5 {
  background-color: #ede7f6 !important; }

.deep-purple-text.text-lighten-5 {
  color: #ede7f6 !important; }

.deep-purple.lighten-4 {
  background-color: #d1c4e9 !important; }

.deep-purple-text.text-lighten-4 {
  color: #d1c4e9 !important; }

.deep-purple.lighten-3 {
  background-color: #b39ddb !important; }

.deep-purple-text.text-lighten-3 {
  color: #b39ddb !important; }

.deep-purple.lighten-2 {
  background-color: #9575cd !important; }

.deep-purple-text.text-lighten-2 {
  color: #9575cd !important; }

.deep-purple.lighten-1 {
  background-color: #7e57c2 !important; }

.deep-purple-text.text-lighten-1 {
  color: #7e57c2 !important; }

.deep-purple.darken-1 {
  background-color: #5e35b1 !important; }

.deep-purple-text.text-darken-1 {
  color: #5e35b1 !important; }

.deep-purple.darken-2 {
  background-color: #512da8 !important; }

.deep-purple-text.text-darken-2 {
  color: #512da8 !important; }

.deep-purple.darken-3 {
  background-color: #4527a0 !important; }

.deep-purple-text.text-darken-3 {
  color: #4527a0 !important; }

.deep-purple.darken-4 {
  background-color: #311b92 !important; }

.deep-purple-text.text-darken-4 {
  color: #311b92 !important; }

.deep-purple.accent-1 {
  background-color: #b388ff !important; }

.deep-purple-text.text-accent-1 {
  color: #b388ff !important; }

.deep-purple.accent-2 {
  background-color: #7c4dff !important; }

.deep-purple-text.text-accent-2 {
  color: #7c4dff !important; }

.deep-purple.accent-3 {
  background-color: #651fff !important; }

.deep-purple-text.text-accent-3 {
  color: #651fff !important; }

.deep-purple.accent-4 {
  background-color: #6200ea !important; }

.deep-purple-text.text-accent-4 {
  color: #6200ea !important; }

.indigo {
  background-color: #3f51b5 !important; }

.indigo-text {
  color: #3f51b5 !important; }

.indigo.lighten-5 {
  background-color: #e8eaf6 !important; }

.indigo-text.text-lighten-5 {
  color: #e8eaf6 !important; }

.indigo.lighten-4 {
  background-color: #c5cae9 !important; }

.indigo-text.text-lighten-4 {
  color: #c5cae9 !important; }

.indigo.lighten-3 {
  background-color: #9fa8da !important; }

.indigo-text.text-lighten-3 {
  color: #9fa8da !important; }

.indigo.lighten-2 {
  background-color: #7986cb !important; }

.indigo-text.text-lighten-2 {
  color: #7986cb !important; }

.indigo.lighten-1 {
  background-color: #5c6bc0 !important; }

.indigo-text.text-lighten-1 {
  color: #5c6bc0 !important; }

.indigo.darken-1 {
  background-color: #3949ab !important; }

.indigo-text.text-darken-1 {
  color: #3949ab !important; }

.indigo.darken-2 {
  background-color: #303f9f !important; }

.indigo-text.text-darken-2 {
  color: #303f9f !important; }

.indigo.darken-3 {
  background-color: #283593 !important; }

.indigo-text.text-darken-3 {
  color: #283593 !important; }

.indigo.darken-4 {
  background-color: #1a237e !important; }

.indigo-text.text-darken-4 {
  color: #1a237e !important; }

.indigo.accent-1 {
  background-color: #8c9eff !important; }

.indigo-text.text-accent-1 {
  color: #8c9eff !important; }

.indigo.accent-2 {
  background-color: #536dfe !important; }

.indigo-text.text-accent-2 {
  color: #536dfe !important; }

.indigo.accent-3 {
  background-color: #3d5afe !important; }

.indigo-text.text-accent-3 {
  color: #3d5afe !important; }

.indigo.accent-4 {
  background-color: #304ffe !important; }

.indigo-text.text-accent-4 {
  color: #304ffe !important; }

.blue {
  background-color: #2196F3 !important; }

.blue-text {
  color: #2196F3 !important; }

.blue.lighten-5 {
  background-color: #E3F2FD !important; }

.blue-text.text-lighten-5 {
  color: #E3F2FD !important; }

.blue.lighten-4 {
  background-color: #BBDEFB !important; }

.blue-text.text-lighten-4 {
  color: #BBDEFB !important; }

.blue.lighten-3 {
  background-color: #90CAF9 !important; }

.blue-text.text-lighten-3 {
  color: #90CAF9 !important; }

.blue.lighten-2 {
  background-color: #64B5F6 !important; }

.blue-text.text-lighten-2 {
  color: #64B5F6 !important; }

.blue.lighten-1 {
  background-color: #42A5F5 !important; }

.blue-text.text-lighten-1 {
  color: #42A5F5 !important; }

.blue.darken-1 {
  background-color: #1E88E5 !important; }

.blue-text.text-darken-1 {
  color: #1E88E5 !important; }

.blue.darken-2 {
  background-color: #1976D2 !important; }

.blue-text.text-darken-2 {
  color: #1976D2 !important; }

.blue.darken-3 {
  background-color: #1565C0 !important; }

.blue-text.text-darken-3 {
  color: #1565C0 !important; }

.blue.darken-4 {
  background-color: #0D47A1 !important; }

.blue-text.text-darken-4 {
  color: #0D47A1 !important; }

.blue.accent-1 {
  background-color: #82B1FF !important; }

.blue-text.text-accent-1 {
  color: #82B1FF !important; }

.blue.accent-2 {
  background-color: #448AFF !important; }

.blue-text.text-accent-2 {
  color: #448AFF !important; }

.blue.accent-3 {
  background-color: #2979FF !important; }

.blue-text.text-accent-3 {
  color: #2979FF !important; }

.blue.accent-4 {
  background-color: #2962FF !important; }

.blue-text.text-accent-4 {
  color: #2962FF !important; }

.blue.active {
  background-color: #2194f3 !important; }

.blue-text.text-active {
  color: #2194f3 !important; }

.light-blue {
  background-color: #03a9f4 !important; }

.light-blue-text {
  color: #03a9f4 !important; }

.light-blue.lighten-5 {
  background-color: #e1f5fe !important; }

.light-blue-text.text-lighten-5 {
  color: #e1f5fe !important; }

.light-blue.lighten-4 {
  background-color: #b3e5fc !important; }

.light-blue-text.text-lighten-4 {
  color: #b3e5fc !important; }

.light-blue.lighten-3 {
  background-color: #81d4fa !important; }

.light-blue-text.text-lighten-3 {
  color: #81d4fa !important; }

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important; }

.light-blue-text.text-lighten-2 {
  color: #4fc3f7 !important; }

.light-blue.lighten-1 {
  background-color: #29b6f6 !important; }

.light-blue-text.text-lighten-1 {
  color: #29b6f6 !important; }

.light-blue.darken-1 {
  background-color: #039be5 !important; }

.light-blue-text.text-darken-1 {
  color: #039be5 !important; }

.light-blue.darken-2 {
  background-color: #0288d1 !important; }

.light-blue-text.text-darken-2 {
  color: #0288d1 !important; }

.light-blue.darken-3 {
  background-color: #0277bd !important; }

.light-blue-text.text-darken-3 {
  color: #0277bd !important; }

.light-blue.darken-4 {
  background-color: #01579b !important; }

.light-blue-text.text-darken-4 {
  color: #01579b !important; }

.light-blue.accent-1 {
  background-color: #80d8ff !important; }

.light-blue-text.text-accent-1 {
  color: #80d8ff !important; }

.light-blue.accent-2 {
  background-color: #40c4ff !important; }

.light-blue-text.text-accent-2 {
  color: #40c4ff !important; }

.light-blue.accent-3 {
  background-color: #00b0ff !important; }

.light-blue-text.text-accent-3 {
  color: #00b0ff !important; }

.light-blue.accent-4 {
  background-color: #0091ea !important; }

.light-blue-text.text-accent-4 {
  color: #0091ea !important; }

.cyan {
  background-color: #00bcd4 !important; }

.cyan-text {
  color: #00bcd4 !important; }

.cyan.lighten-5 {
  background-color: #e0f7fa !important; }

.cyan-text.text-lighten-5 {
  color: #e0f7fa !important; }

.cyan.lighten-4 {
  background-color: #b2ebf2 !important; }

.cyan-text.text-lighten-4 {
  color: #b2ebf2 !important; }

.cyan.lighten-3 {
  background-color: #80deea !important; }

.cyan-text.text-lighten-3 {
  color: #80deea !important; }

.cyan.lighten-2 {
  background-color: #4dd0e1 !important; }

.cyan-text.text-lighten-2 {
  color: #4dd0e1 !important; }

.cyan.lighten-1 {
  background-color: #26c6da !important; }

.cyan-text.text-lighten-1 {
  color: #26c6da !important; }

.cyan.darken-1 {
  background-color: #00acc1 !important; }

.cyan-text.text-darken-1 {
  color: #00acc1 !important; }

.cyan.darken-2 {
  background-color: #0097a7 !important; }

.cyan-text.text-darken-2 {
  color: #0097a7 !important; }

.cyan.darken-3 {
  background-color: #00838f !important; }

.cyan-text.text-darken-3 {
  color: #00838f !important; }

.cyan.darken-4 {
  background-color: #006064 !important; }

.cyan-text.text-darken-4 {
  color: #006064 !important; }

.cyan.accent-1 {
  background-color: #84ffff !important; }

.cyan-text.text-accent-1 {
  color: #84ffff !important; }

.cyan.accent-2 {
  background-color: #18ffff !important; }

.cyan-text.text-accent-2 {
  color: #18ffff !important; }

.cyan.accent-3 {
  background-color: #00e5ff !important; }

.cyan-text.text-accent-3 {
  color: #00e5ff !important; }

.cyan.accent-4 {
  background-color: #00b8d4 !important; }

.cyan-text.text-accent-4 {
  color: #00b8d4 !important; }

.teal {
  background-color: #009688 !important; }

.teal-text {
  color: #009688 !important; }

.teal.lighten-5 {
  background-color: #e0f2f1 !important; }

.teal-text.text-lighten-5 {
  color: #e0f2f1 !important; }

.teal.lighten-4 {
  background-color: #b2dfdb !important; }

.teal-text.text-lighten-4 {
  color: #b2dfdb !important; }

.teal.lighten-3 {
  background-color: #80cbc4 !important; }

.teal-text.text-lighten-3 {
  color: #80cbc4 !important; }

.teal.lighten-2 {
  background-color: #4db6ac !important; }

.teal-text.text-lighten-2 {
  color: #4db6ac !important; }

.teal.lighten-1 {
  background-color: #26a69a !important; }

.teal-text.text-lighten-1 {
  color: #26a69a !important; }

.teal.darken-1 {
  background-color: #00897b !important; }

.teal-text.text-darken-1 {
  color: #00897b !important; }

.teal.darken-2 {
  background-color: #00796b !important; }

.teal-text.text-darken-2 {
  color: #00796b !important; }

.teal.darken-3 {
  background-color: #00695c !important; }

.teal-text.text-darken-3 {
  color: #00695c !important; }

.teal.darken-4 {
  background-color: #004d40 !important; }

.teal-text.text-darken-4 {
  color: #004d40 !important; }

.teal.accent-1 {
  background-color: #a7ffeb !important; }

.teal-text.text-accent-1 {
  color: #a7ffeb !important; }

.teal.accent-2 {
  background-color: #64ffda !important; }

.teal-text.text-accent-2 {
  color: #64ffda !important; }

.teal.accent-3 {
  background-color: #1de9b6 !important; }

.teal-text.text-accent-3 {
  color: #1de9b6 !important; }

.teal.accent-4 {
  background-color: #00bfa5 !important; }

.teal-text.text-accent-4 {
  color: #00bfa5 !important; }

.green {
  background-color: #4CAF50 !important; }

.green-text {
  color: #4CAF50 !important; }

.green.lighten-5 {
  background-color: #E8F5E9 !important; }

.green-text.text-lighten-5 {
  color: #E8F5E9 !important; }

.green.lighten-4 {
  background-color: #C8E6C9 !important; }

.green-text.text-lighten-4 {
  color: #C8E6C9 !important; }

.green.lighten-3 {
  background-color: #A5D6A7 !important; }

.green-text.text-lighten-3 {
  color: #A5D6A7 !important; }

.green.lighten-2 {
  background-color: #81C784 !important; }

.green-text.text-lighten-2 {
  color: #81C784 !important; }

.green.lighten-1 {
  background-color: #66BB6A !important; }

.green-text.text-lighten-1 {
  color: #66BB6A !important; }

.green.darken-1 {
  background-color: #43A047 !important; }

.green-text.text-darken-1 {
  color: #43A047 !important; }

.green.darken-2 {
  background-color: #388E3C !important; }

.green-text.text-darken-2 {
  color: #388E3C !important; }

.green.darken-3 {
  background-color: #2E7D32 !important; }

.green-text.text-darken-3 {
  color: #2E7D32 !important; }

.green.darken-4 {
  background-color: #1B5E20 !important; }

.green-text.text-darken-4 {
  color: #1B5E20 !important; }

.green.accent-1 {
  background-color: #B9F6CA !important; }

.green-text.text-accent-1 {
  color: #B9F6CA !important; }

.green.accent-2 {
  background-color: #69F0AE !important; }

.green-text.text-accent-2 {
  color: #69F0AE !important; }

.green.accent-3 {
  background-color: #00E676 !important; }

.green-text.text-accent-3 {
  color: #00E676 !important; }

.green.accent-4 {
  background-color: #00C853 !important; }

.green-text.text-accent-4 {
  color: #00C853 !important; }

.light-green {
  background-color: #8bc34a !important; }

.light-green-text {
  color: #8bc34a !important; }

.light-green.lighten-5 {
  background-color: #f1f8e9 !important; }

.light-green-text.text-lighten-5 {
  color: #f1f8e9 !important; }

.light-green.lighten-4 {
  background-color: #dcedc8 !important; }

.light-green-text.text-lighten-4 {
  color: #dcedc8 !important; }

.light-green.lighten-3 {
  background-color: #c5e1a5 !important; }

.light-green-text.text-lighten-3 {
  color: #c5e1a5 !important; }

.light-green.lighten-2 {
  background-color: #aed581 !important; }

.light-green-text.text-lighten-2 {
  color: #aed581 !important; }

.light-green.lighten-1 {
  background-color: #9ccc65 !important; }

.light-green-text.text-lighten-1 {
  color: #9ccc65 !important; }

.light-green.darken-1 {
  background-color: #7cb342 !important; }

.light-green-text.text-darken-1 {
  color: #7cb342 !important; }

.light-green.darken-2 {
  background-color: #689f38 !important; }

.light-green-text.text-darken-2 {
  color: #689f38 !important; }

.light-green.darken-3 {
  background-color: #558b2f !important; }

.light-green-text.text-darken-3 {
  color: #558b2f !important; }

.light-green.darken-4 {
  background-color: #33691e !important; }

.light-green-text.text-darken-4 {
  color: #33691e !important; }

.light-green.accent-1 {
  background-color: #ccff90 !important; }

.light-green-text.text-accent-1 {
  color: #ccff90 !important; }

.light-green.accent-2 {
  background-color: #b2ff59 !important; }

.light-green-text.text-accent-2 {
  color: #b2ff59 !important; }

.light-green.accent-3 {
  background-color: #76ff03 !important; }

.light-green-text.text-accent-3 {
  color: #76ff03 !important; }

.light-green.accent-4 {
  background-color: #64dd17 !important; }

.light-green-text.text-accent-4 {
  color: #64dd17 !important; }

.lime {
  background-color: #cddc39 !important; }

.lime-text {
  color: #cddc39 !important; }

.lime.lighten-5 {
  background-color: #f9fbe7 !important; }

.lime-text.text-lighten-5 {
  color: #f9fbe7 !important; }

.lime.lighten-4 {
  background-color: #f0f4c3 !important; }

.lime-text.text-lighten-4 {
  color: #f0f4c3 !important; }

.lime.lighten-3 {
  background-color: #e6ee9c !important; }

.lime-text.text-lighten-3 {
  color: #e6ee9c !important; }

.lime.lighten-2 {
  background-color: #dce775 !important; }

.lime-text.text-lighten-2 {
  color: #dce775 !important; }

.lime.lighten-1 {
  background-color: #d4e157 !important; }

.lime-text.text-lighten-1 {
  color: #d4e157 !important; }

.lime.darken-1 {
  background-color: #c0ca33 !important; }

.lime-text.text-darken-1 {
  color: #c0ca33 !important; }

.lime.darken-2 {
  background-color: #afb42b !important; }

.lime-text.text-darken-2 {
  color: #afb42b !important; }

.lime.darken-3 {
  background-color: #9e9d24 !important; }

.lime-text.text-darken-3 {
  color: #9e9d24 !important; }

.lime.darken-4 {
  background-color: #827717 !important; }

.lime-text.text-darken-4 {
  color: #827717 !important; }

.lime.accent-1 {
  background-color: #f4ff81 !important; }

.lime-text.text-accent-1 {
  color: #f4ff81 !important; }

.lime.accent-2 {
  background-color: #eeff41 !important; }

.lime-text.text-accent-2 {
  color: #eeff41 !important; }

.lime.accent-3 {
  background-color: #c6ff00 !important; }

.lime-text.text-accent-3 {
  color: #c6ff00 !important; }

.lime.accent-4 {
  background-color: #aeea00 !important; }

.lime-text.text-accent-4 {
  color: #aeea00 !important; }

.yellow {
  background-color: #ffeb3b !important; }

.yellow-text {
  color: #ffeb3b !important; }

.yellow.lighten-5 {
  background-color: #fffde7 !important; }

.yellow-text.text-lighten-5 {
  color: #fffde7 !important; }

.yellow.lighten-4 {
  background-color: #fff9c4 !important; }

.yellow-text.text-lighten-4 {
  color: #fff9c4 !important; }

.yellow.lighten-3 {
  background-color: #fff59d !important; }

.yellow-text.text-lighten-3 {
  color: #fff59d !important; }

.yellow.lighten-2 {
  background-color: #fff176 !important; }

.yellow-text.text-lighten-2 {
  color: #fff176 !important; }

.yellow.lighten-1 {
  background-color: #ffee58 !important; }

.yellow-text.text-lighten-1 {
  color: #ffee58 !important; }

.yellow.darken-1 {
  background-color: #fdd835 !important; }

.yellow-text.text-darken-1 {
  color: #fdd835 !important; }

.yellow.darken-2 {
  background-color: #fbc02d !important; }

.yellow-text.text-darken-2 {
  color: #fbc02d !important; }

.yellow.darken-3 {
  background-color: #f9a825 !important; }

.yellow-text.text-darken-3 {
  color: #f9a825 !important; }

.yellow.darken-4 {
  background-color: #f57f17 !important; }

.yellow-text.text-darken-4 {
  color: #f57f17 !important; }

.yellow.accent-1 {
  background-color: #ffff8d !important; }

.yellow-text.text-accent-1 {
  color: #ffff8d !important; }

.yellow.accent-2 {
  background-color: #ffff00 !important; }

.yellow-text.text-accent-2 {
  color: #ffff00 !important; }

.yellow.accent-3 {
  background-color: #ffea00 !important; }

.yellow-text.text-accent-3 {
  color: #ffea00 !important; }

.yellow.accent-4 {
  background-color: #ffd600 !important; }

.yellow-text.text-accent-4 {
  color: #ffd600 !important; }

.amber {
  background-color: #ffc107 !important; }

.amber-text {
  color: #ffc107 !important; }

.amber.lighten-5 {
  background-color: #fff8e1 !important; }

.amber-text.text-lighten-5 {
  color: #fff8e1 !important; }

.amber.lighten-4 {
  background-color: #ffecb3 !important; }

.amber-text.text-lighten-4 {
  color: #ffecb3 !important; }

.amber.lighten-3 {
  background-color: #ffe082 !important; }

.amber-text.text-lighten-3 {
  color: #ffe082 !important; }

.amber.lighten-2 {
  background-color: #ffd54f !important; }

.amber-text.text-lighten-2 {
  color: #ffd54f !important; }

.amber.lighten-1 {
  background-color: #ffca28 !important; }

.amber-text.text-lighten-1 {
  color: #ffca28 !important; }

.amber.darken-1 {
  background-color: #ffb300 !important; }

.amber-text.text-darken-1 {
  color: #ffb300 !important; }

.amber.darken-2 {
  background-color: #ffa000 !important; }

.amber-text.text-darken-2 {
  color: #ffa000 !important; }

.amber.darken-3 {
  background-color: #ff8f00 !important; }

.amber-text.text-darken-3 {
  color: #ff8f00 !important; }

.amber.darken-4 {
  background-color: #ff6f00 !important; }

.amber-text.text-darken-4 {
  color: #ff6f00 !important; }

.amber.accent-1 {
  background-color: #ffe57f !important; }

.amber-text.text-accent-1 {
  color: #ffe57f !important; }

.amber.accent-2 {
  background-color: #ffd740 !important; }

.amber-text.text-accent-2 {
  color: #ffd740 !important; }

.amber.accent-3 {
  background-color: #ffc400 !important; }

.amber-text.text-accent-3 {
  color: #ffc400 !important; }

.amber.accent-4 {
  background-color: #ffab00 !important; }

.amber-text.text-accent-4 {
  color: #ffab00 !important; }

.orange {
  background-color: #ff9800 !important; }

.orange-text {
  color: #ff9800 !important; }

.orange.lighten-5 {
  background-color: #fff3e0 !important; }

.orange-text.text-lighten-5 {
  color: #fff3e0 !important; }

.orange.lighten-4 {
  background-color: #ffe0b2 !important; }

.orange-text.text-lighten-4 {
  color: #ffe0b2 !important; }

.orange.lighten-3 {
  background-color: #ffcc80 !important; }

.orange-text.text-lighten-3 {
  color: #ffcc80 !important; }

.orange.lighten-2 {
  background-color: #ffb74d !important; }

.orange-text.text-lighten-2 {
  color: #ffb74d !important; }

.orange.lighten-1 {
  background-color: #ffa726 !important; }

.orange-text.text-lighten-1 {
  color: #ffa726 !important; }

.orange.darken-1 {
  background-color: #fb8c00 !important; }

.orange-text.text-darken-1 {
  color: #fb8c00 !important; }

.orange.darken-2 {
  background-color: #f57c00 !important; }

.orange-text.text-darken-2 {
  color: #f57c00 !important; }

.orange.darken-3 {
  background-color: #ef6c00 !important; }

.orange-text.text-darken-3 {
  color: #ef6c00 !important; }

.orange.darken-4 {
  background-color: #e65100 !important; }

.orange-text.text-darken-4 {
  color: #e65100 !important; }

.orange.accent-1 {
  background-color: #ffd180 !important; }

.orange-text.text-accent-1 {
  color: #ffd180 !important; }

.orange.accent-2 {
  background-color: #ffab40 !important; }

.orange-text.text-accent-2 {
  color: #ffab40 !important; }

.orange.accent-3 {
  background-color: #ff9100 !important; }

.orange-text.text-accent-3 {
  color: #ff9100 !important; }

.orange.accent-4 {
  background-color: #ff6d00 !important; }

.orange-text.text-accent-4 {
  color: #ff6d00 !important; }

.deep-orange {
  background-color: #ff5722 !important; }

.deep-orange-text {
  color: #ff5722 !important; }

.deep-orange.lighten-5 {
  background-color: #fbe9e7 !important; }

.deep-orange-text.text-lighten-5 {
  color: #fbe9e7 !important; }

.deep-orange.lighten-4 {
  background-color: #ffccbc !important; }

.deep-orange-text.text-lighten-4 {
  color: #ffccbc !important; }

.deep-orange.lighten-3 {
  background-color: #ffab91 !important; }

.deep-orange-text.text-lighten-3 {
  color: #ffab91 !important; }

.deep-orange.lighten-2 {
  background-color: #ff8a65 !important; }

.deep-orange-text.text-lighten-2 {
  color: #ff8a65 !important; }

.deep-orange.lighten-1 {
  background-color: #ff7043 !important; }

.deep-orange-text.text-lighten-1 {
  color: #ff7043 !important; }

.deep-orange.darken-1 {
  background-color: #f4511e !important; }

.deep-orange-text.text-darken-1 {
  color: #f4511e !important; }

.deep-orange.darken-2 {
  background-color: #e64a19 !important; }

.deep-orange-text.text-darken-2 {
  color: #e64a19 !important; }

.deep-orange.darken-3 {
  background-color: #d84315 !important; }

.deep-orange-text.text-darken-3 {
  color: #d84315 !important; }

.deep-orange.darken-4 {
  background-color: #bf360c !important; }

.deep-orange-text.text-darken-4 {
  color: #bf360c !important; }

.deep-orange.accent-1 {
  background-color: #ff9e80 !important; }

.deep-orange-text.text-accent-1 {
  color: #ff9e80 !important; }

.deep-orange.accent-2 {
  background-color: #ff6e40 !important; }

.deep-orange-text.text-accent-2 {
  color: #ff6e40 !important; }

.deep-orange.accent-3 {
  background-color: #ff3d00 !important; }

.deep-orange-text.text-accent-3 {
  color: #ff3d00 !important; }

.deep-orange.accent-4 {
  background-color: #dd2c00 !important; }

.deep-orange-text.text-accent-4 {
  color: #dd2c00 !important; }

.brown {
  background-color: #795548 !important; }

.brown-text {
  color: #795548 !important; }

.brown.lighten-5 {
  background-color: #efebe9 !important; }

.brown-text.text-lighten-5 {
  color: #efebe9 !important; }

.brown.lighten-4 {
  background-color: #d7ccc8 !important; }

.brown-text.text-lighten-4 {
  color: #d7ccc8 !important; }

.brown.lighten-3 {
  background-color: #bcaaa4 !important; }

.brown-text.text-lighten-3 {
  color: #bcaaa4 !important; }

.brown.lighten-2 {
  background-color: #a1887f !important; }

.brown-text.text-lighten-2 {
  color: #a1887f !important; }

.brown.lighten-1 {
  background-color: #8d6e63 !important; }

.brown-text.text-lighten-1 {
  color: #8d6e63 !important; }

.brown.darken-1 {
  background-color: #6d4c41 !important; }

.brown-text.text-darken-1 {
  color: #6d4c41 !important; }

.brown.darken-2 {
  background-color: #5d4037 !important; }

.brown-text.text-darken-2 {
  color: #5d4037 !important; }

.brown.darken-3 {
  background-color: #4e342e !important; }

.brown-text.text-darken-3 {
  color: #4e342e !important; }

.brown.darken-4 {
  background-color: #3e2723 !important; }

.brown-text.text-darken-4 {
  color: #3e2723 !important; }

.blue-grey {
  background-color: #607d8b !important; }

.blue-grey-text {
  color: #607d8b !important; }

.blue-grey.lighten-5 {
  background-color: #eceff1 !important; }

.blue-grey-text.text-lighten-5 {
  color: #eceff1 !important; }

.blue-grey.lighten-4 {
  background-color: #cfd8dc !important; }

.blue-grey-text.text-lighten-4 {
  color: #cfd8dc !important; }

.blue-grey.lighten-3 {
  background-color: #b0bec5 !important; }

.blue-grey-text.text-lighten-3 {
  color: #b0bec5 !important; }

.blue-grey.lighten-2 {
  background-color: #90a4ae !important; }

.blue-grey-text.text-lighten-2 {
  color: #90a4ae !important; }

.blue-grey.lighten-1 {
  background-color: #78909c !important; }

.blue-grey-text.text-lighten-1 {
  color: #78909c !important; }

.blue-grey.darken-1 {
  background-color: #546e7a !important; }

.blue-grey-text.text-darken-1 {
  color: #546e7a !important; }

.blue-grey.darken-2 {
  background-color: #455a64 !important; }

.blue-grey-text.text-darken-2 {
  color: #455a64 !important; }

.blue-grey.darken-3 {
  background-color: #37474f !important; }

.blue-grey-text.text-darken-3 {
  color: #37474f !important; }

.blue-grey.darken-4 {
  background-color: #263238 !important; }

.blue-grey-text.text-darken-4 {
  color: #263238 !important; }

.grey {
  background-color: #9e9e9e !important; }

.grey-text {
  color: #9e9e9e !important; }

.grey.lighten-5 {
  background-color: #fafafa !important; }

.grey-text.text-lighten-5 {
  color: #fafafa !important; }

.grey.lighten-4 {
  background-color: #f5f5f5 !important; }

.grey-text.text-lighten-4 {
  color: #f5f5f5 !important; }

.grey.lighten-3 {
  background-color: #eeeeee !important; }

.grey-text.text-lighten-3 {
  color: #eeeeee !important; }

.grey.lighten-2 {
  background-color: #e0e0e0 !important; }

.grey-text.text-lighten-2 {
  color: #e0e0e0 !important; }

.grey.lighten-1 {
  background-color: #bdbdbd !important; }

.grey-text.text-lighten-1 {
  color: #bdbdbd !important; }

.grey.darken-1 {
  background-color: #757575 !important; }

.grey-text.text-darken-1 {
  color: #757575 !important; }

.grey.darken-2 {
  background-color: #616161 !important; }

.grey-text.text-darken-2 {
  color: #616161 !important; }

.grey.darken-3 {
  background-color: #424242 !important; }

.grey-text.text-darken-3 {
  color: #424242 !important; }

.grey.darken-4 {
  background-color: #212121 !important; }

.grey-text.text-darken-4 {
  color: #212121 !important; }

.black {
  background-color: #000000 !important; }

.black-text {
  color: #000000 !important; }

.white {
  background-color: #FFFFFF !important; }

.white-text {
  color: #FFFFFF !important; }

.transparent {
  background-color: transparent !important; }

.transparent-text {
  color: transparent !important; }

/*
  Gradient color mixin
*/
.gradient-45deg-light-blue-teal {
  background: #b3e5fc;
  background: -webkit-linear-gradient(45deg, #b3e5fc, #64ffda) !important;
  background: -moz-linear-gradient(45deg, #b3e5fc, #64ffda) !important;
  background: -o-linear-gradient(45deg, #b3e5fc, #64ffda) !important;
  background: linear-gradient(45deg, #b3e5fc, #64ffda) !important; }
  .gradient-45deg-light-blue-teal.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5) !important; }

.gradient-45deg-indigo-light-blue {
  background: #3949ab;
  background: -webkit-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: -moz-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: -o-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
  background: linear-gradient(45deg, #3949ab, #4fc3f7) !important; }
  .gradient-45deg-indigo-light-blue.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(79, 195, 247, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(79, 195, 247, 0.5) !important; }

.gradient-45deg-light-blue-indigo {
  background: #b3e5fc;
  background: -webkit-linear-gradient(45deg, #b3e5fc, #9fa8da) !important;
  background: -moz-linear-gradient(45deg, #b3e5fc, #9fa8da) !important;
  background: -o-linear-gradient(45deg, #b3e5fc, #9fa8da) !important;
  background: linear-gradient(45deg, #b3e5fc, #9fa8da) !important; }
  .gradient-45deg-light-blue-indigo.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(159, 168, 218, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(159, 168, 218, 0.5) !important; }

.gradient-45deg-yellow-green {
  background: #ffff8d;
  background: -webkit-linear-gradient(45deg, #ffff8d, #B9F6CA) !important;
  background: -moz-linear-gradient(45deg, #ffff8d, #B9F6CA) !important;
  background: -o-linear-gradient(45deg, #ffff8d, #B9F6CA) !important;
  background: linear-gradient(45deg, #ffff8d, #B9F6CA) !important; }
  .gradient-45deg-yellow-green.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(185, 246, 202, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(185, 246, 202, 0.5) !important; }

.gradient-45deg-orange-deep-orange {
  background: #ffe0b2;
  background: -webkit-linear-gradient(45deg, #ffe0b2, #ffccbc) !important;
  background: -moz-linear-gradient(45deg, #ffe0b2, #ffccbc) !important;
  background: -o-linear-gradient(45deg, #ffe0b2, #ffccbc) !important;
  background: linear-gradient(45deg, #ffe0b2, #ffccbc) !important; }
  .gradient-45deg-orange-deep-orange.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 204, 188, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(255, 204, 188, 0.5) !important; }

.gradient-45deg-deep-purple-purple {
  background: #d1c4e9;
  background: -webkit-linear-gradient(45deg, #d1c4e9, #f3e5f5) !important;
  background: -moz-linear-gradient(45deg, #d1c4e9, #f3e5f5) !important;
  background: -o-linear-gradient(45deg, #d1c4e9, #f3e5f5) !important;
  background: linear-gradient(45deg, #d1c4e9, #f3e5f5) !important; }
  .gradient-45deg-deep-purple-purple.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(243, 229, 245, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(243, 229, 245, 0.5) !important; }

.gradient-45deg-red-pink {
  background: #FF5252;
  background: -webkit-linear-gradient(45deg, #FF5252, #f48fb1) !important;
  background: -moz-linear-gradient(45deg, #FF5252, #f48fb1) !important;
  background: -o-linear-gradient(45deg, #FF5252, #f48fb1) !important;
  background: linear-gradient(45deg, #FF5252, #f48fb1) !important; }
  .gradient-45deg-red-pink.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5) !important; }

.gradient-45deg-light-green-amber {
  background: #c5e1a5;
  background: -webkit-linear-gradient(45deg, #c5e1a5, #fff8e1) !important;
  background: -moz-linear-gradient(45deg, #c5e1a5, #fff8e1) !important;
  background: -o-linear-gradient(45deg, #c5e1a5, #fff8e1) !important;
  background: linear-gradient(45deg, #c5e1a5, #fff8e1) !important; }
  .gradient-45deg-light-green-amber.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 248, 225, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(255, 248, 225, 0.5) !important; }

.gradient-45deg-amber-amber {
  background: #ff6f00;
  background: -webkit-linear-gradient(45deg, #ff6f00, #ffca28) !important;
  background: -moz-linear-gradient(45deg, #ff6f00, #ffca28) !important;
  background: -o-linear-gradient(45deg, #ff6f00, #ffca28) !important;
  background: linear-gradient(45deg, #ff6f00, #ffca28) !important; }
  .gradient-45deg-amber-amber.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 202, 40, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(255, 202, 40, 0.5) !important; }

.gradient-45deg-purple-pink {
  background: #ea80fc;
  background: -webkit-linear-gradient(45deg, #ea80fc, #fce4ec) !important;
  background: -moz-linear-gradient(45deg, #ea80fc, #fce4ec) !important;
  background: -o-linear-gradient(45deg, #ea80fc, #fce4ec) !important;
  background: linear-gradient(45deg, #ea80fc, #fce4ec) !important; }
  .gradient-45deg-purple-pink.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(252, 228, 236, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(252, 228, 236, 0.5) !important; }

.gradient-45deg-teal-cyan {
  background: #e0f2f1;
  background: -webkit-linear-gradient(45deg, #e0f2f1, #00e5ff) !important;
  background: -moz-linear-gradient(45deg, #e0f2f1, #00e5ff) !important;
  background: -o-linear-gradient(45deg, #e0f2f1, #00e5ff) !important;
  background: linear-gradient(45deg, #e0f2f1, #00e5ff) !important; }
  .gradient-45deg-teal-cyan.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 229, 255, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(0, 229, 255, 0.5) !important; }

.gradient-45deg-blue-grey-blue-grey {
  background: #cfd8dc;
  background: -webkit-linear-gradient(45deg, #cfd8dc, #546e7a) !important;
  background: -moz-linear-gradient(45deg, #cfd8dc, #546e7a) !important;
  background: -o-linear-gradient(45deg, #cfd8dc, #546e7a) !important;
  background: linear-gradient(45deg, #cfd8dc, #546e7a) !important; }
  .gradient-45deg-blue-grey-blue-grey.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(84, 110, 122, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(84, 110, 122, 0.5) !important; }

.gradient-45deg-orange-amber {
  background: #e65100;
  background: -webkit-linear-gradient(45deg, #e65100, #1976D2) !important;
  background: -moz-linear-gradient(45deg, #e65100, #1976D2) !important;
  background: -o-linear-gradient(45deg, #e65100, #1976D2) !important;
  background: linear-gradient(45deg, #e65100, #1976D2) !important; }
  .gradient-45deg-orange-amber.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5) !important; }

.gradient-45deg-indigo-blue {
  background: #303f9f;
  background: -webkit-linear-gradient(45deg, #303f9f, #1976D2) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #1976D2) !important;
  background: -o-linear-gradient(45deg, #303f9f, #1976D2) !important;
  background: linear-gradient(45deg, #303f9f, #1976D2) !important; }
  .gradient-45deg-indigo-blue.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5) !important; }

.gradient-45deg-brown-brown {
  background: #6d4c41;
  background: -webkit-linear-gradient(45deg, #6d4c41, #BBDEFB) !important;
  background: -moz-linear-gradient(45deg, #6d4c41, #BBDEFB) !important;
  background: -o-linear-gradient(45deg, #6d4c41, #BBDEFB) !important;
  background: linear-gradient(45deg, #6d4c41, #BBDEFB) !important; }
  .gradient-45deg-brown-brown.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(187, 222, 251, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(187, 222, 251, 0.5) !important; }

.gradient-45deg-blue-grey-blue {
  background: #263238;
  background: -webkit-linear-gradient(45deg, #263238, #2979FF) !important;
  background: -moz-linear-gradient(45deg, #263238, #2979FF) !important;
  background: -o-linear-gradient(45deg, #263238, #2979FF) !important;
  background: linear-gradient(45deg, #263238, #2979FF) !important; }
  .gradient-45deg-blue-grey-blue.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(41, 121, 255, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(41, 121, 255, 0.5) !important; }

.gradient-45deg-purple-deep-orange {
  background: #8e24aa;
  background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background: -moz-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background: -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
  background: linear-gradient(45deg, #8e24aa, #ff6e40) !important; }
  .gradient-45deg-purple-deep-orange.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5) !important; }

.gradient-45deg-green-teal {
  background: #43A047;
  background: -webkit-linear-gradient(45deg, #43A047, #1de9b6) !important;
  background: -moz-linear-gradient(45deg, #43A047, #1de9b6) !important;
  background: -o-linear-gradient(45deg, #43A047, #1de9b6) !important;
  background: linear-gradient(45deg, #43A047, #1de9b6) !important; }
  .gradient-45deg-green-teal.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(29, 233, 182, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(29, 233, 182, 0.5) !important; }

.gradient-45deg-purple-light-blue {
  background: #e040fb;
  background: -webkit-linear-gradient(45deg, #e040fb, #4fc3f7) !important;
  background: -moz-linear-gradient(45deg, #e040fb, #4fc3f7) !important;
  background: -o-linear-gradient(45deg, #e040fb, #4fc3f7) !important;
  background: linear-gradient(45deg, #e040fb, #4fc3f7) !important; }
  .gradient-45deg-purple-light-blue.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(79, 195, 247, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(79, 195, 247, 0.5) !important; }

.gradient-45deg-cyan-cyan {
  background: #18ffff;
  background: -webkit-linear-gradient(45deg, #18ffff, #00e5ff) !important;
  background: -moz-linear-gradient(45deg, #18ffff, #00e5ff) !important;
  background: -o-linear-gradient(45deg, #18ffff, #00e5ff) !important;
  background: linear-gradient(45deg, #18ffff, #00e5ff) !important; }
  .gradient-45deg-cyan-cyan.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 229, 255, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(0, 229, 255, 0.5) !important; }

.gradient-45deg-yellow-teal {
  background: #fff9c4;
  background: -webkit-linear-gradient(45deg, #fff9c4, #64ffda) !important;
  background: -moz-linear-gradient(45deg, #fff9c4, #64ffda) !important;
  background: -o-linear-gradient(45deg, #fff9c4, #64ffda) !important;
  background: linear-gradient(45deg, #fff9c4, #64ffda) !important; }
  .gradient-45deg-yellow-teal.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5) !important; }

.gradient-45deg-purple-deep-purple {
  background: #7b1fa2;
  background: -webkit-linear-gradient(45deg, #7b1fa2, #7c4dff) !important;
  background: -moz-linear-gradient(45deg, #7b1fa2, #7c4dff) !important;
  background: -o-linear-gradient(45deg, #7b1fa2, #7c4dff) !important;
  background: linear-gradient(45deg, #7b1fa2, #7c4dff) !important; }
  .gradient-45deg-purple-deep-purple.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(124, 77, 255, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(124, 77, 255, 0.5) !important; }

.gradient-45deg-cyan-light-green {
  background: #0097a7;
  background: -webkit-linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: -moz-linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: -o-linear-gradient(45deg, #0097a7, #b2ff59) !important;
  background: linear-gradient(45deg, #0097a7, #b2ff59) !important; }
  .gradient-45deg-cyan-light-green.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(178, 255, 89, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(178, 255, 89, 0.5) !important; }

.gradient-45deg-purple-amber {
  background: #d500f9;
  background: -webkit-linear-gradient(45deg, #d500f9, #ffa000) !important;
  background: -moz-linear-gradient(45deg, #d500f9, #ffa000) !important;
  background: -o-linear-gradient(45deg, #d500f9, #ffa000) !important;
  background: linear-gradient(45deg, #d500f9, #ffa000) !important; }
  .gradient-45deg-purple-amber.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 160, 0, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(255, 160, 0, 0.5) !important; }

.gradient-45deg-indigo-purple {
  background: #303f9f;
  background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -moz-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: -o-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important; }
  .gradient-45deg-indigo-purple.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(123, 31, 162, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(123, 31, 162, 0.5) !important; }

.gradient-45deg-deep-purple-blue {
  background: #6200ea;
  background: -webkit-linear-gradient(45deg, #6200ea, #1976D2) !important;
  background: -moz-linear-gradient(45deg, #6200ea, #1976D2) !important;
  background: -o-linear-gradient(45deg, #6200ea, #1976D2) !important;
  background: linear-gradient(45deg, #6200ea, #1976D2) !important; }
  .gradient-45deg-deep-purple-blue.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5) !important; }

.gradient-45deg-deep-orange-orange {
  background: #bf360c;
  background: -webkit-linear-gradient(45deg, #bf360c, #f57c00) !important;
  background: -moz-linear-gradient(45deg, #bf360c, #f57c00) !important;
  background: -o-linear-gradient(45deg, #bf360c, #f57c00) !important;
  background: linear-gradient(45deg, #bf360c, #f57c00) !important; }
  .gradient-45deg-deep-orange-orange.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(245, 124, 0, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(245, 124, 0, 0.5) !important; }

.gradient-45deg-light-blue-cyan {
  background: #0288d1;
  background: -webkit-linear-gradient(45deg, #0288d1, #26c6da) !important;
  background: -moz-linear-gradient(45deg, #0288d1, #26c6da) !important;
  background: -o-linear-gradient(45deg, #0288d1, #26c6da) !important;
  background: linear-gradient(45deg, #0288d1, #26c6da) !important; }
  .gradient-45deg-light-blue-cyan.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5) !important; }

.gradient-45deg-blue-indigo {
  background: #2962FF;
  background: -webkit-linear-gradient(45deg, #2962FF, #3949ab) !important;
  background: -moz-linear-gradient(45deg, #2962FF, #3949ab) !important;
  background: -o-linear-gradient(45deg, #2962FF, #3949ab) !important;
  background: linear-gradient(45deg, #2962FF, #3949ab) !important; }
  .gradient-45deg-blue-indigo.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(57, 73, 171, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(57, 73, 171, 0.5) !important; }

.gradient-45deg-semi-dark {
  background: #00AEFF;
  background: -webkit-gradient(linear, right top, left top, from(#00AEFF), to(#3369E6)) !important;
  background: -webkit-linear-gradient(right, #00AEFF, #3369E6) !important;
  background: -moz-linear-gradient(right, #00AEFF, #3369E6) !important;
  background: -o-linear-gradient(right, #00AEFF, #3369E6) !important;
  background: linear-gradient(-90deg, #00AEFF, #3369E6) !important; }
  .gradient-45deg-semi-dark.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(51, 105, 230, 0.5) !important;
    box-shadow: 0 6px 20px 0 rgba(51, 105, 230, 0.5) !important; }

#appicon {
  line-height: 64px;
  width: 110px;
  margin-left: 40px; }

strong {
  font-weight: 600 !important; }

.btn {
  background-color: #00aeef;
  border-radius: 26px;
  text-transform: none !important; }

.btn-fab {
  position: fixed;
  bottom: 24px;
  right: 24px; }

.footer {
  margin-bottom: 0px !important; }

.privacy {
  padding: 0px 50px; }

.terms {
  padding: 0px 50px; }

.versionnumber {
  padding: 0px 50px; }

.vertical-align-middle {
  vertical-align: middle; }

.nav-menu {
  display: none;
  position: relative;
  float: left;
  margin: 0 20px 0 10px; }

.nav-collapsed .brand-sidebar .logo-wrapper a.brand-logo img {
  height: 15px; }

.nav-drop-icon {
  list-style: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px; }

#nav-avatar .avatar div {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #ccc !important;
  border-radius: 50%; }

#nav-avatar .avatar .avatar-frame {
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%; }

.sidenav li .collapsible-body ul li a span {
  margin-left: 44px; }

.sidenav li a.active {
  background: -webkit-gradient(linear, left top, right top, from(#12b4f0), to(#ffffff00));
  background: -webkit-linear-gradient(left, #12b4f0 0%, #ffffff00 100%);
  background: -moz-linear-gradient(left, #12b4f0 0%, #ffffff00 100%);
  background: -o-linear-gradient(left, #12b4f0 0%, #ffffff00 100%);
  background: linear-gradient(90deg, #12b4f0 0%, #ffffff00 100%);
  -webkit-box-shadow: none;
  box-shadow: none; }
  .sidenav li a.active.material-icons-outlined {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

.sidenav li a .sidenav-icon {
  width: 26px;
  vertical-align: middle;
  margin-right: 10px; }
  .sidenav li a .sidenav-icon:nth-of-type(2) {
    display: none; }

.sidenav li a.active .sidenav-icon:nth-of-type(1) {
  display: none; }

.sidenav li a.active .sidenav-icon:nth-of-type(2) {
  display: initial; }

.nav-links-small {
  display: none; }
  .nav-links-small a.active {
    color: #fff !important; }

.modal-content {
  padding-bottom: 80px !important; }
  .modal-content .modal-title {
    font-size: 18px;
    background-color: #dcdcdc;
    padding: 10px 30px;
    margin-left: -24px;
    width: 50%;
    border-radius: 0px 30px 30px 0px; }

#toast-container {
  top: auto !important;
  right: 3% !important;
  bottom: 3%; }

table.dataTable tbody tr[role] {
  cursor: pointer; }

.navbar .navbar-light ul a.active {
  background: #fff;
  color: #2196F3; }

#card-stats .card-stats-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.profile-card .card-image .card-title {
  color: #fff;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 0.7);
  padding: 0 1rem; }
  .profile-card .card-image .card-title h6 {
    font-size: 1rem; }
  .profile-card .card-image .card-title p {
    font-size: 0.9rem; }

#main .section-data-tables.table-filter .dataTables_wrapper .dataTables_length, #main .section-data-tables.table-filter .dataTables_wrapper .dataTables_filter {
  display: block; }
  #main .section-data-tables.table-filter .dataTables_wrapper .dataTables_length label input, #main .section-data-tables.table-filter .dataTables_wrapper .dataTables_filter label input {
    width: auto;
    height: auto; }
  #main .section-data-tables.table-filter .dataTables_wrapper .dataTables_length label select, #main .section-data-tables.table-filter .dataTables_wrapper .dataTables_filter label select {
    display: inline-block;
    width: auto;
    height: auto; }

.main-banner {
  display: inline;
  top: 64px;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .main-banner img {
    padding: 0;
    margin: 0;
    min-height: 400px; }
  .main-banner .banner-title {
    position: absolute;
    top: 130px;
    margin-left: 50px;
    font-size: 20px;
    width: 30%; }
  .main-banner .banner-title2 {
    position: absolute;
    top: 160px;
    margin-left: 50px;
    font-size: 25px;
    width: 30%;
    color: black !important;
    line-height: 1.4; }
  .main-banner .banner-title3 {
    position: absolute;
    top: 100px;
    margin-left: 50px;
    font-size: 12px;
    width: 30%;
    color: black !important; }
  .main-banner .banner-title4 {
    position: absolute;
    top: 170px;
    margin-left: 50px;
    font-size: 25px;
    width: 50%;
    line-height: 1.3; }

.breadcrumb {
  font-size: 12px;
  color: #0a0a0a; }

.breadcrumb .active {
  color: #00aeef !important; }

.breadcrumb:last-child {
  color: #000; }

.breadcrumb:before {
  content: '\E5CC';
  color: #03a9f4;
  vertical-align: top;
  display: inline;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  margin: 0px;
  -webkit-font-smoothing: antialiased; }

.breadcrumb-new-sub {
  color: black !important; }

.navbar-list > li {
  float: right; }

.btn-manage-permissions {
  border-radius: 25px;
  width: 200px;
  text-align: center;
  color: #00aeef;
  line-height: 40px;
  margin: 0px;
  border: 1px solid #00aeef; }

.material-icons-outlined {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec008c), to(#00aeef));
  background: -webkit-linear-gradient(top, #ec008c 0%, #00aeef 100%);
  background: -moz-linear-gradient(top, #ec008c 0%, #00aeef 100%);
  background: -o-linear-gradient(top, #ec008c 0%, #00aeef 100%);
  background: linear-gradient(to bottom, #ec008c 0%, #00aeef 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

th {
  border-right: 1px solid #cfd8dc !important; }

#user-table_length {
  float: left; }

#card-stats {
  padding-top: 0px; }

textarea {
  border-radius: 5px !important;
  border: 1px solid #c1c1c1 !important;
  height: 8rem !important;
  padding-left: 10px !important; }

/* .balancesummary {
  max-height: 250px; } */

.requestleave {
  max-height: 250px; }

.fc .fc-button {
  background: #2196f3 !important; }

.fc-toolbar .fc-left > h2 {
  font-size: 31px; }

.leavetabs .tabs > li {
  padding: 0px; }

.leavetabs .tabs > li > a {
  padding: 0px;
  text-overflow: initial !important; }

.leavetabs .tabs > li > a.active {
  background-color: #7986cb !important;
  color: white !important; }

.requesthistory {
  margin-left: 1px !important; }

@media only screen and (min-width: 1800px) {
  #user-table {
    min-height: 460px; } }

@media only screen and (max-width: 1800px) {
  #user-table {
    min-height: 450px; } }

@media only screen and (min-width: 1700px) {
  #user-table .card .card-image {
    max-height: 200px;
    position: relative;
    overflow: hidden; } }

@media only screen and (min-width: 1500px) {
  #user-table .card .card-image {
    max-height: 170px;
    position: relative;
    overflow: hidden; } }

@media only screen and (max-width: 1500px) {
  .fc-toolbar .fc-left > h2 {
    font-size: 25px; }
  #user-table .card .card-image {
    max-height: 140px;
    position: relative;
    overflow: hidden; }
  .profile-card .card-image .card-title h6 {
    font-size: 0.8rem; }
  .profile-card .card-image .card-title p {
    font-size: 0.8rem; }
  .card-action > a {
    font-size: 12px; } }

@media only screen and (max-width: 1280px) {
  .main-banner-img {
    padding: 0;
    margin: 0;
    min-height: 300px; }
  .footer-copyright {
    padding-left: 10px !important; }
  #user-table {
    max-height: 290px; }
  #user-table {
    min-height: 400px; } }

@media only screen and (max-width: 1200px) {
  /* .balancesummary {
    max-height: 370px; } */
  .requestleave {
    max-height: 370px; }
  #page-length-option_filter {
    margin-right: 30px; } }

@media only screen and (max-width: 1025px) {
  .main-banner-img {
    padding: 0 !important;
    margin: 0 !important; }
  .footer-copyright {
    padding-left: 0px !important; }
  nav ul a {
    padding: 0 15px !important;
    font-size: 12px !important; }
  #nav-avatar:after {
    display: none; }
  .selectaplan > p {
    top: 5px !important;
    right: 70px !important;
    width: 100px !important;
    line-height: 40px !important; }
  .daysleft {
    right: 190px !important; }
  .scheduleicon {
    right: 278px !important; }
  .searchicon {
    right: 310px !important; } }

@media only screen and (max-width: 992px) {
  .nav-menu {
    display: inline-block; }
  .navbar-list {
    padding-left: 200px !important; }
  #appicon {
    display: inline-block !important;
    margin-left: 30px; }
  .app-logo {
    display: none; }
  .sidenav-main .brand-sidebar .brand-logo {
    padding: 16px 12px 20px 12px !important;
    padding-left: 75px !important;
    padding-top: 10px !important;
    padding-right: 0px !important; } }

@media only screen and (max-width: 768px) {
  #nav-avatar:after {
    display: none; }
  nav ul a {
    padding: 0 15px 0px 0px !important;
    font-size: 12px !important; }
  .landing-page-nav-links li a {
    padding: 0 20px !important; }
  .homedesc .content .container {
    top: 100px !important;
    padding-left: 50px !important; }
  .signinbutton > a {
    height: 40px !important;
    top: 10px !important;
    line-height: 0px !important;
    padding: 20px !important; } }

@media only screen and (max-width: 601px) {

  #nav-avatar .avatar div, #nav-avatar .avatar .avatar-frame {
    margin-top: 4px;
    margin-bottom: 4px; }
  .nav-links {
    display: none; }
  .nav-links-small {
    display: initial; }
  .balancesummary {
    max-height: none; }
  .requestleave {
    max-height: none; } }

@media (max-width: 992px) {
  .sidenav-main {
    z-index: 999; }
  #appicon {
    display: none; }
  .sidenav-main .brand-sidebar .brand-logo {
    padding: 16px 12px 20px 12px;
    padding-left: 65px;
    padding-top: 8px;
    padding-right: 0px; }
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 40px;
    width: auto;
    margin-bottom: 20px;
    margin-bottom: 20px; }
  .btn-floating {
    background-color: #fff; }
  .btn-floating:hover {
    background-color: #fff; } }

@media (max-width: 800px) {
  .main-banner-img {
    padding: 0;
    margin: 0;
    min-height: 250px; }
  title4 {
    position: absolute;
    top: 160px;
    margin-left: 50px;
    font-size: 21px;
    width: 50%;
    line-height: 1.3; } }

@media only screen and (max-width: 480px) {
  .circles > p {
    margin-left: 10% !important;
    text-align: center;
    margin-bottom: 15px !important; }
  .pay-logo {
    width: 290px !important; }
  #contactForm {
    width: 350px !important;
    height: 75% !important;
    top: 49% !important;
    right: -165px !important; }
  .set-padding {
    padding: 0 !important; }
  .set-margin {
    margin: 0 !important; }
  .mob-font1 {
    font-size: 20px !important; }
  .mob-font2 {
    font-size: 16px !important; }
  .profile-card .card-image .card-title h6 {
    font-size: 0.9rem; }
  .profile-card .card-image .card-title p {
    font-size: 0.9rem; }
  .popup-contactus-content {
    height: 70% !important; }
  .pend-apprv {
    margin-right: 78px !important;
    margin-top: 20px; }
  .requester {
    float: left;
    margin-left: 10% !important; }
  .payroll-item {
    margin-right: 0px !important;
    float: right; }
  .down-report-btn {
    margin-right: 77px; }
  .appr-date-end {
    margin-left: 0px !important; }
  .add-holi-link {
    font-size: 14px;
    margin-right: 14px !important; }
  .modal-holi {
    padding: 10px !important; }
  .del-dep-span {
    margin-left: 14%;
    float: left;
    margin-bottom: 25px !important; }
  .del-dep {
    width: 95% !important; }
  .img-del-dep {
    float: right;
    margin-right: 0px !important;
    margin-bottom: -4px; }
  .btn-add-holiday {
    margin-top: 0px;
    margin-right: 0px !important;
    font-size: 14px;
    margin-bottom: 10px !important; }
  .holi-list {
    margin-left: 20px;
    float: right;
    margin-right: 0px !important; }
  .add-job-title {
    width: 80% !important; }
  .add-new-grp {
    width: 100% !important; }
  .edit-ppl {
    width: 100% !important; }
  .edit-icon {
    width: 21px !important;
    height: 21px !important;
    margin-left: 48% !important;
    margin-top: 15% !important; }
  .edit-title {
    font-size: 14px !important;
    background-color: #dcdcdc !important;
    width: 50% !important;
    text-align: center !important;
    border-radius: 0px 30px 30px 0px !important;
    padding: 10px !important; }
  .edit-per {
    width: 100% !important; }
  .label-switch {
    float: right;
    margin-right: 24px !important; }
  #acc-notice {
    padding-left: 0px !important; }
  .acc-info {
    margin-right: 0px !important;
    color: darkgrey; }
  .prof-name {
    float: none !important;
    margin-top: 40px !important;
    margin-left: 0px !important; }
  .img-acc-settings {
    width: 120px !important;
    height: 120px !important;
    float: none !important;
    margin-left: 0px !important; }
  #chg-pass-text {
    margin-left: -5px !important; }
  #btn-chg-pass {
    margin-bottom: 25px !important;
    margin-right: 24% !important; }
  .btn-upload {
    margin-top: 43px;
    margin-right: 0px !important;
    float: none !important; }
  .paginate_button {
    padding: 6px 10px !important; }
  .content-contact-us .container {
    padding: 0px 15px !important; }
  .g-recaptcha-placeholder > p > img {
    width: 250px !important; }
  .leave-calculation {
    padding: 15px 0px !important; }
  .annual-cycle {
    padding: 15px 0px !important; }
  .company-setting {
    padding: 15px 0px !important; }
  #basic-calendar .fc-left {
    display: contents !important; }
  #basic-calendar .fc-today-button {
    right: 20px !important;
    left: auto !important; }
  .leavetabs .tabs .tab > a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 10px;
    white-space: normal; }
  .org-chart-dropdownlist ul li .collapsible-body {
    padding: 15px 10px !important;
    padding-bottom: 0px !important; }
  .org-chart-dropdownlist ul li .org-chart-employee {
    height: 150px !important; }
  .org-chart-dropdownlist .contact-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 80px;
    left: 30px; }
  .btn-manage-permissions {
    border-radius: 25px;
    width: 140px;
    text-align: center;
    color: #00aeef;
    line-height: 40px;
    margin: 0px;
    margin-right: -10px !important;
    border: 1px solid #00aeef;
    padding: 0px 10px;
    font-size: 12px; }
  td {
    white-space: nowrap !important; }
  #main .section-data-tables table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: block;
    white-space: nowrap !important; }
  #basic-calendar .fc-right {
    float: left;
    margin-top: 10px; }
  #page-length-option_filter {
    position: initial !important; }
  .main-banner {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .main-banner-image-desktop {
    display: none; }
  .main-banner-image-mobile {
    display: block !important; }
  .landing-page-nav-links li a {
    padding: 0 8px !important;
    font-size: 10px !important; }
  .navbar-list {
    padding-left: 0px !important; }
  .homedesc .content .container {
    font-size: 0.6em;
    top: 60px !important;
    padding-left: 20px !important;
    margin-top: 0px !important; }
  .homedesc .content .container .btn-small {
    margin-top: 5px !important;
    font-size: 0.7rem !important;
    height: 25px;
    line-height: 25px; }
  .homedesc .content .container .pink-text {
    font-size: 1.2rem !important; }
  .homedesc .content .container .black-text {
    font-size: 0.6rem !important;
    margin-top: 0px !important; }
  .dictionary-card #page-length-option_filter {
    left: 40px !important;
    top: 155px !important;
    position: initial !important;
    background-color: white !important;
    margin-left: 0px; }
  .profile-card .card-image .card-title {
    padding: 1rem; }
  .card-title > h6 {
    margin: 10px 0px !important; }
  .card {
    margin-top: 30px;
    border-radius: 10px; }
  .signinbutton > a {
    position: relative !important;
    line-height: 20px !important;
    right: 15px !important;
    text-align: center !important;
    padding: 5px 20px !important;
    font-size: 1rem !important;
    height: 30px !important;
    top: 20px !important; }
  .breadcrumb {
    font-size: 11px;
    color: #0a0a0a; }
  .breadcrumb:before {
    font-size: 12px !important;
    margin: 0px !important; }
  .main-banner .banner-title3 {
    position: absolute;
    top: 70px;
    margin-left: 12px;
    font-size: 11px;
    width: 30%;
    color: black !important; }
  .main-banner .banner-title {
    position: absolute;
    top: 100px;
    margin-left: 20px;
    font-size: 14px;
    width: 50%; }
  .main-banner .banner-title2 {
    position: absolute;
    top: 130px;
    margin-left: 20px;
    font-size: 16px;
    width: 90%;
    color: black !important; }
  .main-banner {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 3px rgba(0, 0, 0, 0.12), 0px 2px rgba(0, 0, 0, 0.24); }
  .main-banner-img {
    background-color: #fff;
    padding: 0;
    margin: 0;
    min-height: 140px;
    width: 500px;
    margin-left: 50px; }
  .hr-content {
    margin: 80px 0px !important; }
  .main-banner .banner-title4 {
    position: absolute;
    top: 125px;
    margin-left: 20px;
    font-size: 14px;
    width: 100%;
    line-height: 1.3; }
  .signinlogo > img {
    width: 180px !important;
    padding-left: 10px; }
  .privacy {
    padding: 0px 30px; }
  .terms {
    padding: 0px 30px; }
  .versionnumber {
    padding: 0px 30px; }
  .signinlogo > h5 {
    font-size: 21px !important; }
  #signup-page {
    margin: 70px 0px !important; }
  .createbtn {
    width: 100% !important;
    left: 0% !important; }
  .login-form .infodetails {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px; }
  .loginwords {
    bottom: 20px !important;
    font-size: 14px !important; }
  .main-banner-img {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 120px !important;
    opacity: 0.5 !important; }
  .selectaplan > p {
    display: inline;
    background-color: #00aeef;
    color: white !important;
    margin-bottom: 10px;
    position: absolute;
    display: inline;
    color: #00aeef;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 110px;
    margin-top: 5px !important;
    margin-bottom: 8px;
    width: 130px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px; }
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: auto;
    width: 90px;
    margin-bottom: 20px;
    margin-bottom: 20px; }
  .sidenav-main .brand-sidebar .brand-logo {
    padding-left: 40px !important; }
  .daysleft {
    display: none !important; }
  .searchicon {
    right: 210px !important; }
  .scheduleicon {
    right: 178px !important; }
  .main-banner .banner-title {
    position: absolute !important;
    top: 160px !important;
    margin-left: 12px !important;
    font-size: 14px !important;
    width: 100% !important; }
  .main-banner .banner-title4 {
    position: absolute !important;
    top: 180px !important;
    margin-left: 12px !important;
    font-size: 14px !important;
    width: 60% !important;
    line-height: 1.3 !important; }
  .section-data-tables {
    margin: 20px !important; }
  .dropdown-content li {
    padding-left: 20px; }
  #user-table_filter {
    margin-left: 0px !important;
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
    text-align: left !important;
    height: auto !important;
    margin-left: 0px !important; }
  #page-length-option_filter {
    margin-left: 5px !important;
    margin-right: 10px; }
  #basic-calendar table {
    width: 100% !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
    display: inline-table !important; }
  .acc-name {
    float: none !important; } }

.holi-list {
  margin-left: 20px;
  float: right;
  margin-right: 241px; }

.add-job-title {
  width: 55%; }

.add-new-grp {
  width: 45%; }

.edit-ppl {
  width: 55%; }

.edit-title {
  margin-left: -1%;
  font-size: 128%;
  background-color: #dcdcdc;
  width: 45%;
  text-align: center;
  border-radius: 0px 30px 30px 0px;
  padding: 10px; }

.edit-icon {
  width: 4%;
  height: 5%;
  margin-left: 6%;
  margin-top: 31%; }

.edit-per {
  width: 60%; }

.acc-info {
  margin-right: 125px;
  color: darkgrey; }

.acc-name {
  float: left; }

.btn-upload {
  margin-top: 43px;
  margin-right: 50px;
  float: right; }

#chg-pass-text {
  margin-left: 100px; }

#btn-chg-pass {
  margin-bottom: 25px;
  margin-right: 220px; }

.btn-add-holiday {
  margin-top: 0px;
  margin-right: 21%;
  font-size: 14px; }

.img-del-dep {
  float: right;
  margin-right: 17%;
  margin-bottom: -4px; }

.del-dep {
  width: 40%; }

.del-dep-span {
  margin-left: 14%;
  float: left; }

.dep-span {
  margin-left: 14px;
  margin-top: 0px;
  float: left;
  font-size: 14px;
  color: darkgrey; }

.modal-holi {
  padding: 24px; }

.add-holi-link {
  font-size: 14px;
  margin-right: 192px; }

.appr-date-end {
  margin-left: 20px; }

.down-report-btn {
  margin-right: 53px; }

.payroll-item {
  margin-right: 20px;
  float: right; }

.requester {
  float: left;
  margin-left: 4%; }

.pend-apprv {
  margin-right: 4%; }

@media only screen and (max-width: 380px) {
  .btn-claim {
    font-size: 9px !important; }
  .main-banner .banner-title {
    top: 150px !important;
    margin-left: 25px !important; }
  .main-banner .banner-title4 {
    top: 170px !important;
    margin-left: 25px !important; }
  #add-office {
    margin-right: -7px !important; }
  .card-content .waves-effect {
    margin-top: 0px;
    height: auto;
    line-height: 30px;
    font-size: 12px; }
  .footer-privacy {
    display: contents; }
  .terms-privacy > p {
    padding: 0px 10px; }
  .footer-privacy .container {
    padding-top: 70px;
    margin-top: 20px; }
  .page-footer {
    display: contents; }
  #appicon {
    margin-left: 10px; }
  
  .loginwords {
    bottom: -10px !important; }
  #nav-avatar .avatar div {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important;
    text-align: center;
    background: #ccc !important;
    border-radius: 50% !important;
    top: 10px !important;
    margin-top: 12px !important; }
  .selectaplan > p {
    top: 10px !important;
    right: 70px !important;
    width: 80px !important;
    line-height: 30px !important;
    height: 30px !important;
    font-size: 10px; }
  .scheduleicon {
    right: 158px !important; }
  .searchicon {
    right: 185px !important; }
  .main-banner .banner-title3 {
    top: 70px !important; }
  #main .content {
    margin-top: 10px; }
  .privacy {
    padding: 0px 10px !important; }
  .terms {
    padding: 0px 10px !important; }
  .versionnumber {
    padding: 0px 10px !important; } }

@media only screen and (max-width: 330px) {
  .hide-icon {
    display: none !important; }
  .create-btn {
    width: 100px !important;
    position: unset !important; }
  #contactForm {
    width: 300px !important;
    right: -140px !important; }
  .landing-page-nav-links li a {
    padding: 0 5px !important;
    font-size: 9px !important; }
  .signinbutton > a {
    position: relative !important;
    line-height: 20px !important;
    right: 15px !important;
    text-align: center !important;
    padding: 5px 15px !important;
    font-size: 0.8rem !important;
    height: 30px !important;
    top: 20px !important; }
  .card-content .waves-effect {
    margin-bottom: 10px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    position: absolute;
    top: 110px; }
  .card-content .waves-effect {
    left: 40px !important; }
  .collapsible-header {
    padding-left: 20px !important; }
  .org-chart-dropdownlist .collapsible .collapsible-header:before {
    left: -10px !important; } }

.app-logo {
  float: left; }

nav ul.left {
  margin-left: 20px; }

nav ul a {
  padding: 0 35px; }

.navbar-list > li:nth-child(2) {
  float: right; }

nav ul a:hover {
  background-color: transparent;
  color: #2196F3 !important; }

.upcoming-content {
  margin: 15px 0px;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #dcdcdc; }

.upcoming-contents {
  margin: 15px 0px;
  padding-bottom: 10px !important; }

.hr-content {
  margin: 40px 0px; }

.sidenav-active-square .sidenav li > a.active .material-icons-outlined {
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

#nav-avatar:after {
  font-family: "Material Icons";
  content: "keyboard_arrow_down";
  color: #afafaf;
  font-size: 18px;
  position: absolute;
  right: 16px;
  transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out 0.1s, -webkit-transform 0.3s ease-in-out;
  top: 0px;
  right: 10px; }

.newstitle {
  position: absolute;
  margin-bottom: 10px;
  padding-bottom: 10px;
  top: 20px;
  left: 60px; }

.directorytitle {
  position: absolute;
  margin-bottom: 10px;
  padding-bottom: 10px;
  top: 20px;
  left: 60px; }

select {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  height: 3rem;
  border: 1px solid #e2e2e2; }

#page-length-option_filter {
  border: 1px solid #e2e2e2;
  padding: 3px 10px 0px;
  border-radius: 10px;
  float: left;
  margin-left: 15px;
  position: absolute;
  left: 120px;
  top: 0px; }

#page-length-option_filter > label > input {
  border-bottom: none; }

#user-table_filter {
  border: 1px solid #e2e2e2;
  padding: 3px 10px 0px;
  border-radius: 10px;
  float: left;
  margin-left: 15px;
  position: absolute;
  left: 120px;
  top: 0px; }

#user-table_filter > label > input {
  border-bottom: none !important; }

table.dataTable.no-footer {
  border-bottom: none !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  border: 1px solid #bbbbbb !important;
  border-radius: 10px; }

#main .section-data-tables .dataTables_wrapper .dataTables_paginate .paginate_button:hover, #main .section-data-tables .dataTables_wrapper #page-length-option_paginate .paginate_button:hover {
  color: #fff !important;
  border: 1px solid #00aeef !important;
  border-radius: 6px;
  background: #00aeef !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer; }

#main .section-data-tables .dataTables_wrapper table.dataTable thead th {
  font-weight: 600; }

.section-data-tables {
  margin: 50px; }

#page-length-option {
  width: 100%; }

#main .section-data-tables .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
  border: 1px solid #00aeef !important;
  border-radius: 6px;
  background: #00aeef !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.paginate_button {
  border: 1px solid #bbbbbb !important;
  border-radius: 10px !important; }

table > thead > tr {
  background-color: #eff1f9; }

table {
  padding: 20px 0px;
  width: 100%;
  table-layout: fixed; }

td {
  white-space: normal; }

.forgetpassword {
  position: absolute;
  bottom: 20px;
  float: right;
  right: 25px; }

.loginbtn {
  width: 50% !important;
  left: 25% !important;
  background: #00aeef !important; }

.createbtn {
  width: 30%;
  left: 35%;
  background: #00aeef !important; }

.footer-light {
  background-color: #f9f9f9; }

footer {
  padding-left: 0px;
  text-align: center; }

.footer-privacy {
  text-align: center;
  padding-bottom: 20px; }

.signinlogo > img {
  width: 230px;
  padding-left: 19px; }

.signinbutton > a:hover {
  color: white !important; }

.footer-copyright {
  padding-left: 20px !important; }

input[type=text]:not(.browser-default) {
  border: 1px solid #c1c1c1 !important;
  border-radius: 5px !important;
  padding-left: 10px !important; }

.input-field.col label {
  padding-left: 10px !important; }

input[type=password]:not(.browser-default) {
  border: 1px solid #c1c1c1 !important;
  border-radius: 5px !important; }

.login-form .input-field {
  margin: 5px 0px !important; }

#signup-page {
  margin: 100px 0px; }

.select-wrapper > input {
  padding-left: 10px !important;
  width: -webkit-fill-available !important; }

.getresetlink {
  width: 50% !important;
  left: 27% !important;
  background: #00aeef !important; }

.main-banner-img {
  min-height: 0px; }

.main-banner .banner-title4 {
  position: absolute;
  top: 160px;
  margin-left: 50px;
  font-size: 21px;
  width: 50%;
  line-height: 1.3; }

.main-banner .banner-title {
  position: absolute;
  top: 125px;
  margin-left: 50px;
  font-size: 20px;
  width: 30%; }

.line {
  display: inline;
  border-right: 1px solid #c1c1c1;
  right: 65px;
  position: absolute;
  margin: 0px;
  height: 45px;
  margin: 10px 0px; }

.selectaplan > p {
  display: inline;
  background-color: #00aeef;
  color: white !important;
  margin-bottom: 10px;
  position: absolute;
  display: inline;
  color: #00aeef;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 110px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 130px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px; }

.daysleft {
  display: inline;
  color: #00aeef;
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 265px; }

.scheduleicon {
  display: inline;
  color: #00aeef;
  position: absolute;
  margin: 0px;
  right: 365px; }

.searchicon {
  display: inline;
  position: absolute;
  margin: 0px;
  right: 405px; }

input[type=password]:not(.browser-default) {
  border: 1px solid #c1c1c1 !important;
  border-radius: 5px !important;
  padding-left: 10px !important; }

.toggle-options a {
  background-color: #fff; }
  .toggle-options a i {
    color: #9e9e9e; }
  .toggle-options a.active, .toggle-options a:hover {
    background-color: #2196F3; }
    .toggle-options a.active i, .toggle-options a:hover i {
      color: #fff; }

tbody {
  border: 1px solid #cfd8dc !important; }

tr {
  white-space: nowrap !important;
  border-right: 1px solid #cfd8dc !important; }

#user-table > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word; }

.card .card-action {
  text-align: center;
  padding-left: 50px; }

.profile-card {
  border-radius: 15px; }

.card-title > h6 {
  margin: 0px; }

.card-title > p {
  margin: 0px;
  margin-bottom: 5px; }

.profile-card .card-title {
  padding-top: 10px !important;
  width: 100%; }

.profile-card .card-image .card-title {
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 0.5); }

.card-image > img {
  background-color: #e0e0e0; }

th {
  border-bottom: none !important; }

.main-banner img {
  padding: 0;
  margin: 0;
  min-height: 0px !important;
  width: inherit; }

.navbar .navbar-light ul a.active {
  background: transparent;
  color: #2196F3 !important; }

.homedesc .content .container {
  position: absolute;
  top: 200px;
  padding-left: 100px; }

.homedesc .content .container .pink-text {
  line-height: 1.4; }

.homedesc .content .container .black-text {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 20px; }

.homedesc .content .container .btn-small {
  margin-top: 20px; }

.footer {
  border-top: 1px solid #d2d2d2 !important;
  margin-bottom: 15px; }

.main-banner-image .footer-privacy {
  text-align: center;
  padding: 10px 0px; }

.pink-text {
  color: #ec008c !important; }

.homedesc .content .container .pink-text {
  line-height: 1.4;
  font-weight: 600;
  font-size: 28px; }

.paginate_button {
  padding: 10px 20px; }

.toggle-options .bulkupload > p > a:hover {
  background-color: transparent !important; }

.circle .card-content {
  padding: 15px !important; }

.modal-footer > a {
  padding: 0px 30px; }

.circle {
  width: 100px;
  height: 100px;
  display: inline-block; }

.btn-add-custom-policy {
  background-color: #00aeef;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  color: white;
  line-height: 40px;
  margin: 0px;
  margin-top: -10px; }

@media only screen and (max-width: 400px) {
  .btn-upload {
    margin-top: 43px;
    margin-right: 0px !important;
    float: none !important; }
  .clr-fil-appr {
    padding-top: 5px !important;
    margin-right: 5px !important; }
  .btn-appr-claims {
    width: 100px !important;
    margin: 0px !important;
    margin-top: 0px !important; }
  .btn-add-custom-policy {
    background-color: #00aeef;
    border-radius: 25px;
    width: 120px;
    text-align: center;
    color: white;
    margin: 0px;
    margin-top: -10px;
    font-size: 12px; }
  .btn-add-policy {
    background-color: #00aeef;
    border-radius: 25px;
    width: 120px;
    text-align: center;
    color: white;
    line-height: 40px;
    margin-right: 58px;
    margin-top: -10px; }
  .btn-myclaims {
    background-color: #00aeef;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    color: white;
    line-height: 40px;
    margin: 0px;
    margin-top: -10px; }
  .btn-appr-claims {
    background-color: #00aeef;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    color: white;
    line-height: 40px;
    margin: 0px;
    margin-top: -10px; }
  .btn-bulk-update {
    background-color: #00aeef;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    color: white;
    line-height: 50px;
    margin: 0px;
    margin-top: -10px; }
  .clr-fil-appr {
    padding-top: 25px;
    margin: 0px; }
  .btn-download-payslip {
    background-color: #00aeef;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    color: white;
    line-height: 40px;
    margin-right: 57px !important;
    margin-top: 48px; }
  .input-field.col label {
    padding-left: 0px !important; }
  .login-card {
    padding: 30px 10px !important; }
  .forgetpassword {
    right: 10px; }
  .input-name-payslip {
    margin-right: 40px; }
  .clr-fil-myclaims {
    padding-top: 25px;
    margin-right: 0px; }
  .title-ent-settings {
    margin-top: 35px; }
  .input-ent-settings {
    width: 80% !important; }
  .switch-settings {
    margin-top: 20px; }
  .p-approved {
    border-radius: 20px;
    text-align: center;
    width: 80%;
    background-color: green;
    color: white;
    font-size: small; }
  .p-declined {
    border-radius: 20px;
    text-align: center;
    width: 80%;
    background-color: red;
    color: white;
    font-size: small; }
  .p-pending {
    border-radius: 20px;
    text-align: center;
    width: 100%;
    background-color: #b2a30f;
    color: white;
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px; } }

.label-switch {
  float: right;
  margin-right: 45px; }

.acc-noti-set {
  padding-left: 37px !important; }

.prof-name {
  float: left;
  margin-top: 40px;
  margin-left: 23px; }

.img-acc-settings {
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 55px;
  text-align: center; }

.btn-add-policy {
  background-color: #00aeef;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  color: white;
  line-height: 40px;
  margin: 0px;
  margin-top: -10px; }

/*my-claims*/
.btn-myclaims {
  background-color: #00aeef;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  color: white;
  line-height: 40px;
  margin: 0px;
  margin-top: -10px; }

.btn-appr-claims {
  background-color: #00aeef;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  color: white;
  line-height: 40px;
  margin: 0px;
  margin-top: -10px; }

/*Bulk Update*/
.btn-bulk-update {
  background-color: #00aeef;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  color: white;
  line-height: 50px;
  margin: 0px;
  margin-top: -10px; }

.option-date-appr {
  margin-left: 10px; }

.clr-fil-appr {
  padding-top: 25px;
  margin-right: 47px; }

.btn-download-payslip {
  background-color: #00aeef;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  color: white;
  line-height: 40px;
  margin: 0px;
  margin-top: 48px; }

.clr-fil-myclaims {
  padding-top: 25px;
  margin-right: 47px; }

#basic-calendar .fc-today-button {
  opacity: 1;
  position: absolute;
  left: 25px;
  padding: 10px 20px;
  border-radius: 10px; }

#basic-calendar .fc-left {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 80px; }

.sidenav li a .sidenav-icon {
  width: 21px;
  vertical-align: middle;
  margin-right: 10px; }

.p-approved {
  border-radius: 20px;
  text-align: center;
  width: 60%;
  background-color: green;
  color: white; }

.p-declined {
  border-radius: 20px;
  text-align: center;
  width: 60%;
  background-color: red;
  color: white; }

.p-pending {
  border-radius: 20px;
  text-align: center;
  width: 122px;
  background-color: #b2a30f;
  color: white; }

.org-chart-dropdownlist .collapsible .collapsible-header:before {
  font-family: "Material Icons";
  content: "keyboard_arrow_down";
  color: #afafaf;
  font-size: 18px;
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out 0.1s, -webkit-transform 0.3s ease-in-out;
  padding-top: 7px;
  left: -20px; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%; }

.tooltip:hover.tooltiptext {
  visibility: visible; }

.button-group input {
  display: none; }

.button-group input:checked + label,
.button-group input:checked + label:active {
  background-color: #00aeef;
  color: white; }

.vl {
  border-left: 1px solid darkgray;
  height: 270px; }

.modal.modal-fixed-footer .modal-content {
  padding-left: 0px; }

.modal-content > h5 {
  padding-left: 20px !important; }

.modal.modal-fixed-footer {
  border-radius: 15px; }

@media (max-width: 900px) {
  .seven-cols {
    width: 100%;
    text-align: center !important; } }

@media (min-width: 900px) {
  .seven-cols {
    width: 14.285714285714285714285714285714%; } }

@media only screen and (max-width: 993px) {
  .margin-zero{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .vl {
    border-left: unset !important;
    border-top: 1px solid darkgray !important;
    height: auto !important;
    padding-left: 0px !important; }
  #summary {
    margin-left: 0 !important; } }

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #039be5;
  will-change: left, right; }

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: black; }

.p-pending {
  width: 60%; }
