<!doctype html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <!--    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">-->
    <!--    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">-->
    <!--    <meta name="author" content="ThemeSelect">-->

    <title>{% block title %}{% endblock %}</title>
<!--    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">-->
<!--    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">-->
{% block styles %}{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    
    
    <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function (fn) {
            frappe.ready_events.push(fn);
        };
        window.dev_server = 1;
        window.socketio_port = 9000;
        frappe.csrf_token = "{{ csrf_token }}";
    </script>
</head>
<!-- END: Head-->
<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 2-columns"
      data-open="click" data-menu="vertical-modern-menu" data-col="2-columns" style="">

<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
            <div class="nav-wrapper">

                <a id="beep-logo" href="/hr" class="app-logo waves-effect waves-light" >
                    <span><img
                            src="/images/logo.svg"
                            width="30" id="appicon"
                            style="vertical-align: middle;margin-right:10px;"></span>
                </a>
                <ul class="navbar-list">
                {% block nav %}{% endblock %}    
                </ul>

            </div>
        </nav>
    </div>
</header>
<!-- END: Header-->

<!-- BEGIN: SideNav-->
{% block sidenav %}
{% endblock %}
<!--<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">-->
<!--    <div class="brand-sidebar">-->
<!--        <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="/"><img-->
<!--                src="images/logo.svg"></a><a class="navbar-toggler" href="#"><i-->
<!--                class="material-icons-outlined">radio_button_checked</i></a></h1>-->
<!--    </div>-->
<!--    <div class="navigation-background"></div>-->
<!--    <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"-->
<!--       href="#" data-target="slide-out"><i class="material-icons-outlined">menu</i></a>-->
<!--</aside>-->
<!-- END: SideNav-->

<!-- BEGIN: Page Main-->
{% block main %}
{% endblock %}
<!-- END: Page Main-->

<!-- BEGIN: Footer-->
{% block footer %}
{% endblock %}

<!-- END: Footer-->

<!--BEGIN FRAPPE JS-->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
<script type="text/javascript" src="/assets/js/erpnext-web.min.js"></script>
<!--END FRAPPE JS-->

<!-- BEGIN VENDOR JS-->
<script src="/app-assets/js/vendors.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/sweetalert/sweetalert.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->

<!-- BEGIN THEME  JS-->
<script src="/js/plugins.js" type="text/javascript"></script>
<!-- END THEME  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="/app-assets/js/scripts/advance-ui-scrollspy.js"></script>
<script src="/js/index.js" defer></script>
{% block scripts %}
{% endblock %}

<!-- END PAGE LEVEL JS-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<div class="sidenav-overlay"></div>
<div class="drag-target right-aligned"></div>
<div class="sidenav-overlay"></div>
<div class="drag-target right-aligned"></div>
</body>
</html>