<span class="nav-links">
    {% if show_menu["top-hr"] %}
    <li><a class="left" href="/hr" aria-current="page">HR Hub</a></li>
    {% endif %}
    {% if show_menu["top-claims"] %}
    <li><a class="left" href="/claims" aria-current="page">Claims</a></li>
    {% endif %}
    {% if show_menu["top-payroll"] %}
    <li><a class="left" href="/payroll" aria-current="page">Payroll</a></li>
    {% endif %}
    {% if show_menu["top-benefits"] %}
    <li><a class="left" href="/benefits" aria-current="page">Benefits</a></li>
    {% endif %}
</span>
<span class="nav-plan hide">
                <i class="large material-icons searchicon hide-icon">search</i>
                <i class="large material-icons scheduleicon hide-icon">schedule</i>
                <p class="daysleft">30 days left</p>
                <a class="selectaplan" href="#" target="_blank" rel="noopener noreferrer"><p>Select A Plan</p></a>
                <!--<p class="line"> </p>-->
</span>
<li><a id="nav-avatar" class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);"
       data-target="profile-dropdown"><span class="avatar-status"><img
        src="/images/avatar.svg" alt="avatar"><i></i></span></a>
    <ul class="dropdown-content" id="profile-dropdown" tabindex="0">
        <span class="nav-links-small">
            <li tabindex="0" style="padding-top: 20px;"><a href="/hr" class="grey-text text-darken-1" aria-current="page">HR Hub</a></li>
            <li tabindex="0" style="padding-top: 20px;"><a href="/claims" class="grey-text text-darken-1" aria-current="page">Claims</a></li>
            <li tabindex="0" style="padding-top: 20px;"><a href="/payroll" class="grey-text text-darken-1" aria-current="page">Payroll</a></li>
            <li tabindex="0" style="padding-top: 20px;"><a href="/benefits" class="grey-text text-darken-1" aria-current="page">Benefits</a></li>
        </span>
        <li class="divider" tabindex="0"></li>
        <li tabindex="0"><a href="/acc-settings.html" class="grey-text text-darken-1" style="line-height: 50px;"><i class="material-icons-outlined">settings</i>Account Setting</a>
            <li class="divider" tabindex="0"></li>
        <li tabindex="0"><a href="/desk" class="grey-text text-darken-1" style="line-height: 50px;"><i class="material-icons-outlined">free_breakfast</i>Switch to desk</a>
        </li>
<!--        <li tabindex="0"><a class="grey-text text-darken-1"><i class="material-icons-outlined">chat_bubble_outline</i> Chat</a>-->
<!--        </li>-->
<!--        <li tabindex="0"><a class="grey-text text-darken-1"><i class="material-icons-outlined">help_outline</i> Help</a></li>-->
        <li class="divider" tabindex="0"></li>
        <li tabindex="0" class="">
            <a class="grey-text text-darken-1" href="#" onclick="hrm.logout()" style="line-height: 50px;">
                <i class="material-icons-outlined">exit_to_app</i> Sign out
            </a>
        </li>
    </ul>
</li>