{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
<style type="text/css">
  @media only screen and (max-width: 360px){
      .border-request{
        margin-left: 0px !important;
      }

      .btn-approve{
        margin-right: 0px !important;
      }
      
    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
  <link rel="stylesheet" type="text/css" href="/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}   
{% endblock %}
{% block footer %}
{% include "www/footer.html" %}
{% endblock %}
{% block main %}
{% if frappe.request.url.split("?")[1] %}
{% set expense_voucher = frappe.request.url.split("?")[1].split("=")[1] %}
{% set expense_claim = frappe.get_all("Expense Claim",filters={'name':expense_voucher},fields=['employee','department','expense_verifier','approval_status','status','total_claimed_amount','employee_name','expense_approver','reimbursement_type']) %}
{% set claim_details = frappe.get_all("Expense Claim Detail",filters={'parent': expense_voucher},fields=["expense_type","expense_date","merchant","amount","description","attach_document"])%}
{% endif %}
<div id="main">
 <div class="row" id="DivIdToPrint">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a href="/claims/index" class="breadcrumb">All Claims</a>
          <a href="/claims/claim-title1.html/?expense_claim={{expense_voucher}}" class="breadcrumb active">{{expense_voucher}}</a>
        </div>
      
      </div>
      
      <div class="col xl20 l20 m18 s12">
        <div id="card-stats" class="card" style="border-radius: 10px!important;">
          <div class="card-content">        
            <div class="row">
              <div style="height: 30px;"></div>
              <div class="row margin infodetails">
               <div class=" border-request requester">
                {% for exp in expense_claim %}
               
                <table style="table-layout: auto; display: contents !important;">
                  <tr>
                    <td><a href="#">Requester : {{exp.employee_name}}</a></td>
                    <td>{% set employee_pic = frappe.get_all("Employee",filters={'name':exp.employee},fields=['image'])%}
                      {% for file in employee_pic %}    
                      {% if(file.image != '' and file.image != 'None' and file.image != None ) %}
                      <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="{{file.image}}">
                      {% else %}
                      <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="/images/profile_icon.png">
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                </table>
                {% endfor %}
              </div>

              <div class=" border-request requester" style="margin-left: 35px; float: left;">
                {% for exp in expense_claim %}
                
                
                <!-- <img style="float: right; margin-left: 10px;" width="25" height="25" src="/images/avatar.svg"> -->
                
                <table style="table-layout: auto ;    display: contents !important;">
                  <tr>
                    <td><a href="#">Verifier : {{exp.expense_verifier}}</a></td>
                    <td>{% set employee_pic = frappe.get_all("Employee",filters={'user_id':exp.expense_verifier},fields=['image'])%}
                      {% for file in employee_pic %}    
                      {% if(file.image != '' and file.image != 'None' and file.image != None ) %}
                      <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="{{file.image}}">
                      {% else %}
                      <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="/images/profile_icon.png">
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                </table>
                {% endfor %}
              </div>
              {% for exp in expense_claim %}
              {% if exp.approval_status != "Draft" %}
              <div class=" border-request requester" style="margin-left: 35px; float: left;">
                
                <!-- <img style="float: right; margin-left: 10px;" width="25" height="25" src="/images/avatar.svg"> -->
                
                <table style="table-layout: auto ;    display: contents !important;">
                  <tr>
                    <td><a href="#">Approver : {{exp.expense_approver}}</a></td>
                    <td>{% set employee_pic = frappe.get_all("Employee",filters={'user_id':exp.expense_approver},fields=['image'])%}
                      {% for file in employee_pic %}    
                      {% if(file.image != '' and file.image != 'None' and file.image != None ) %}
                      <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="{{file.image}}">
                      {% else %}
                      <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="/images/profile_icon.png">
                      {% endif %}
                      {% endfor %}</td>
                  </tr>
                </table>
                
              </div>
              {% endif %}
              {% endfor %}
             <div class="pend-apprv right">
              {% for ap in expense_claim %}
              {% if (ap.status == 'Draft') and (ap.approval_status != 'Verified') %}
              <p style="border-radius: 20px;text-align: center;width: 100%;background-color: grey;color: white;font-size: 20px;">
                  Pending
              </p>
              {% elif (ap.status == 'Draft') and (ap.approval_status == 'Verified') %}
              <p style="border-radius: 20px;text-align: center;width: 100%;background-color: #9C27B0;color: white;font-size: 20px;">
                  Verified
              </p>

              {% elif ap.status == 'Unpaid' %}
              <p style="border-radius: 20px;text-align: center;width: 100%;background-color:  #b2a30f;color: white;font-size: 20px;">
                  {{ap.status}}
                </p>
              
              
              
              {% elif ap.status == 'Paid' %}
              <p style="border-radius: 20px;text-align: center;width: 100%;background-color: #0c811b;color: white;font-size: 20px;">
                  {{ap.status}}
                </p>
              
              
              {% elif ap.status == 'Rejected'%}
              <p style="border-radius: 20px;text-align: center;width: 100%;background-color: #ff0000;color: white;font-size: 20px;">
                  {{ap.status}}
                </p>
              
              
              {%- endif %}
              
              
              {% endfor %}
              <p style="font-size: 19px;text-align: right;">
                
                {% for ap in expense_claim %}
                {{currency}} {{'%0.2f'| format(ap.total_claimed_amount|float)}}
                {% endfor %}</p>
              <span style="font-size: 12px;text-align: right;">Total claim amount</span>
            </div>

          </div>
          
        </div>
      </div>
    </div>


  </div>
  <div class="col xl20 l20 m18 s12">
    <div id="card-stats" class="card" style="border-radius: 10px!important;">
      <div class="card-content">  
        <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
        {% for claim in expense_claim %}
        {% if claim.reimbursement_type == "Submission via Payroll" %}
        <div class="card-title" style="margin-top: -5px;;text-align: left;margin-left: 35px;">Reimbursement via payroll</div>
        {% elif claim.reimbursement_type == "Direct Payment" %}
        <div class="card-title" style="margin-top: -5px;;text-align: left;margin-left: 35px;">Reimbursement via Direct Pay</div>
        {% endif %}
        {% endfor %}
        <br>
        
        
        <table style="font-size: 14px;">
          <thead>
         <tr style="font-size: 16px; background-color: #f9f9f9; width: 100%!important;" >
          <th style="border-right:none!important;">Date</th>
          <th style="border-right:none!important;">Claim Type</th>
          <th style="border-right:none!important;">Merchant</th>
          <th style="border-right:none!important;">Description</th>
          <th style="border-right:none!important;">Amount</th>
          <th style="border-right:none!important;"></th>
        </tr>
        </thead>
        <tbody>
        {% for claim in claim_details %}
        <tr>
          <td>{{claim.expense_date.strftime("%d-%m-%Y")}}</td>
          <td>{{claim.expense_type}}</td>
          <td>{{claim.merchant}}</td>
          <td>{{claim.description}}</td>
          <td>{{currency}} {{'%0.2f'| format(claim.amount|float)}}</td>
          {% if claim.attach_document %}
          <td style="text-align: center;"><a href="{{site_url}}{{claim.attach_document}}" target="_blank"><i class="material-icons-outlined">attach_file</i></a></td>
          {%else%}
          <td style="text-align: center;">No Attachment</td>
          {% endif %}
        </tr>
        {% endfor %}
      
      </tbody>
      
        <tr>
          <th colspan="4">Total Claim Amount</th>
          
          <th colspan="2">{% for ap in expense_claim %}
            {{currency}} {{'%0.2f'| format(ap.total_claimed_amount|float)}}
            {% endfor %}</th>
        </tr>
        
      

      </table> 
      

      
</div>

{% for ap in expense_claim %}

{% if ap.approval_status == "Draft" %}
<a href="#add-approver" style=" background-color: #00aeef;  border-radius: 25px;  width: 100px;  text-align: center;  color: white;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " 
  class="modal-trigger waves-effect waves-light right btn-approve" id="add_approver">Verify</a>
{% elif ap.approval_status == "Verified" %}
<div class="row margin infodetails" style="display: block;">
  <a href="#" style=" background-color: #00aeef;  border-radius: 25px;  width: 100px;  text-align: center;  color: white;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " 
  class="waves-effect waves-light right btn-approve" id="print_page">Print</a>
  <a href="#" style=" background-color: #00aeef;  border-radius: 25px;  width: 100px;  text-align: center;  color: white;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " 
  class="modal-trigger waves-effect waves-light right btn-approve" id="approve">Approve</a>
  <a href="#" style=" background-color: white; border: 1px #00aeef solid; border-radius: 25px;  width: 100px;  text-align: center;  color:#00aeef;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " 
  class="modal-trigger waves-effect waves-dark right" id="decline">Decline</a></div>
</div>

{% elif ap.status == "Unpaid" and ap.reimbursement_type == "Direct Payment" %}
<a href="#" style=" background-color: #00aeef;  border-radius: 25px;  width: 300px;  text-align: center;  color: white;  line-height: 50px;line-height: 40px;margin-right: 28px;margin-bottom: 13px; " 
  class="modal-trigger waves-effect waves-light right btn-approve" id="d_reimburse">Reimburse Via Direct Payment</a>
{% endif %}
{% endfor %}

</div>
</div>
</div>
<p style="page-break-after: always;">&nbsp;</p>
</div>
</div>

<div id="add-approver" class="modal modal-fixed-footer" style="padding-right: 50px;background-color: #fff !important">
  <div class="modal-content" style="padding: 0px !important; margin-top: 24px;">
   <p class="edit-title">Select Approver</p>
   <form class="col s12" style="padding: 24px; padding-top: 0px;" id = "approver_pop">
     <div class="row">

       <div class="input-field col s12" style="margin-top: 0px;">
         <p>Approver</p>
         <select name="category" id="assigned_approver">
           <option value="" selected>Select Approver</option>
          {% for ap in expense_claim %}
          {% set approver = frappe.get_all("Department Approver",filters={'parent':ap.department,'parentfield':'expense_approvers'},fields=['approver'])  %}
          {% for app in approver %}
           <option value="{{app.approver}}" >{{app.approver}}</option>
           {% endfor %}
           {% endfor %}
         </select>
       </div>
  </div>
</form>
</div>
<div class="modal-footer" style="background-color: #fff !important;">
 <a href="#!" class="right waves-effect waves-light btn" id = "assign_appeover">Save</a>
 <a href="#!" class="right blue-text btn-flat"
 onclick="$('#add-approver').modal('close')">Cancel</a>
</div>
</div>
{% endblock %}

{% block scripts %}

<script defer src="/claims/js/claim-title1.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.js" type="text/javascript"></script>

<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
<script type="text/javascript">
  var all_claim = document.getElementById("all-claim");
  all_claim.classList.add("active");
</script>
{% endblock %}