{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css"/> -->

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<style type="text/css">
  .print_button{
  height: 40px;
  background-color: aqua !important;
  }
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}
{% block footer %}
{% include "www/footer.html" %}
{% endblock %}
{% block main %}



<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a href="/claims/reports" class="breadcrumb active">Reports</a>
        </div>
      </div>
      <div class="col xl12 l12 m12 s12">
        <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
          <div class="card-content">
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/reports.png">
            <h4 class="card-title directorytitle" style="text-align: left;">Reports</h4>

            <!--   <a href="#" class="btn-myclaims modal-trigger waves-effect waves-light right">
            Create Report</a> -->
            <br><br>
            
            <h4 class="card-title" style="text-align: left;">Export an Overview of the Approved Claims</h4> 
            <span style="float: left; font-size: 14px; color: darkgrey; text-align: justify;">You can extract a report by selecting approve dates and employees who have submitted the claims</span>


            <div style="height: 60px;"></div>
            <h4 class="card-title" style="text-align: left;">Export Approved Claims</h4> 



            <div class="row">
              <div style="height: 30px;"></div>
              <div class="row margin infodetails">
                <div class="input-field col s12 m4 l4 xl3">
                 <p style="text-align: left;margin-bottom: 10px;">Approved Date (Start)</p>
                 <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                 <input style="border: 1px solid #c1c1c1; border-radius: 5px;width: -webkit-fill-available" class="textbox-n date-range-filter" type="date" onfocus="(this.type='date')"  id="from_date">
               </div>

               <div class="appr-date-end input-field col s12 m4 l4 xl3">
                 <p style="text-align: left;margin-bottom: 10px;">Approved Date (End)</p>
                 <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                 <input style="border: 1px solid #c1c1c1; border-radius: 5px;width: -webkit-fill-available" class="textbox-n date-range-filter" type="date" onfocus="(this.type='date')"  id="to_date">
               </div>

               <div style="margin-left: 20px;" class="right input-field col s12 m3">
                <p style="text-align: left;margin-bottom: 10px;">Submitted By</p>
                <select style="width: -webkit-fill-available;" id="emp_filter">
                  <option value="" selected>All Employees</option>
                  {% for emp in employee | sort(attribute='employee_name') %}
                  <option value={{emp.employee_name}}>{{emp.employee_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col s12" id="table-scroll">
              
                <table style="font-size: 14px;" class="table table-striped dataTable display" id="table_id">
                <thead>
                  <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                    <th style="border-right:none!important;">Title</th>
                    <th style="border-right:none!important;">Date</th>
                    <th style="border-right:none!important;">Amount</th>
                    <th style="border-right:none!important;">Requester</th>
                    <th style="border-right:none!important;">Cutoff Date</th>
                    <th style="border-right:none!important;">Status</th>
                  </tr>
                </thead>
                  {% set expense1 = frappe.get_all("Expense Claim", fields=['name','cutoff_date','approval_status','status','employee','employee_name','total_claimed_amount','posting_date']) %}
                <tbody>
                  {% for ex in expense1 %}
                  <tr>              
                    <td>{{ex.name}}</td>
                    <td>{{ex.posting_date}}</td>
                    <td>{{currency}} {{'%0.2f'| format(ex.total_claimed_amount|float)}}</td>
                    <td>{{ex.employee_name}}</td>
                    <td>{% if(ex.cutoff_date) %}{{ ex.cutoff_date.strftime(" %d-%m-%Y ")  }}{%else%}-{% endif %}</td>
                    <td>{% if(ex.status == 'Draft') and (ex.approval_status != 'Verified') %}Pending{% elif(ex.status == 'Draft') and (ex.approval_status == 'Verified') %}Verified{% else %}{{ex.status}}{% endif %}</td>  
                  </tr>
  
                  {% endfor %}
                </tbody>
                </table>
                </div>
            <!-- <div style="height: 30px;"></div>
            <a href="#!" style="margin-right: 10px" class=" btn-myclaims modal-trigger waves-effect waves-light right" id="export-btn">
            Download Report</a> -->

          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <div style="height: 40px;"></div>
    <br>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script defer src="/claims/js/reports.js" type="text/javascript"></script>
<script>
  frappe.csrf_token = "{{ csrf_token }}";
  
</script>

{% endblock %}