{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}
{% block footer %}
{% include "www/footer.html" %}
{% endblock %}
{% block main %}
<style type="text/css">
.gen-info{
  padding-right: 237px; 
  margin-top: 61px; 
  color: #6c6868;
  text-align: left;
}

.day-calendar{
  margin-top: 61px;
  margin-left: 0px;
  color: #6c6868;
}

@media only screen and (max-width: 480px) {
  
  .gen-info{
    padding-right: 0px !important; 
    margin-top: 0px !important; 
    color: #6c6868;
    text-align: none;
  }
  .day-calendar{
    margin-top: 0px!important;
    
    color: #6c6868;
  }
}
</style>
<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a class="breadcrumb">Settings</a>
          <a href="/claims/set-general.html" class="breadcrumb active">General</a>
        </div>
      </div>
      <div class="col xl20 l20 m18 s12">
        <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
          <div class="card-content">
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/settings.png">
            <h4 class="card-title directorytitle" style="text-align: left;">General</h4>

            <br><br>
            
            <h4 class="card-title" style="text-align: left;">Cutoff Date</h4> 
            <span style="margin-top: 15px;float: left; font-size: 14px; color: #6c6868;text-align: justify;">You can set your company’s claim cutoff date. Claims approved before or on the cutouff date are usually reimbursed in the same month or in the following month.</span>
            <br>
            <div class="row">
              <div style="height: 40px;"></div>
              <div class="row margin infodetails">
               <div class="input-field col s12 m3">
                <p style="text-align: left;margin-bottom: 10px;">Cutoff Date</p>
                <select style="padding-left: 10px;width: -webkit-fill-available;" id="cutday">
                  
                    {% for i in range(1,32) %}
                    <option value="{{i}}" selected>{{i}}</option>
                    {% endfor %}
                </select>

              </div>
              <div class="day-calendar input-field col s12 m3" style="text-align: left">
                <span >day of calendar month</span>
              </div>



              <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="cutoff">Save</a>

            </div>
            <br>
            <hr>
            <br>
            <h4 class="card-title" style="margin-left: 11px;text-align: left;">Currency</h4> 
            <span style="margin-left: 11px;float: left; font-size: 14px; color: #6c6868;text-align: justify;">You can set the currency for your company to use on Beep Claims.</span>

            <div style="height: 40px;"></div>
            <div class="row margin infodetails">
              <div class="input-field col s12 m3">
                <p style="text-align: left;margin-bottom: 10px;">Main Currency</p>
                <select style="padding-left: 10px;width: -webkit-fill-available;" id="currval">
                  <option value="myr" selected>MYR</option>
                  <option value="usd">USD</option>
                  
                </select>

              </div>

             <!--  <div style="margin-top: 61px; margin-left: -68px; color: #6c6868;" class="input-field col s12 m1">
                <i style="padding-left: 39px;margin-left: 14px;" class="material-icons-outlined">info_outline</i>
              </div> -->

              <div style="text-align: left;" class="gen-info input-field col s12 m7">
                <img src="/icons/icon-59.png" width="20" height="20" style="margin-right: 10px;">              
                <span style="vertical-align: top; position: absolute;">Main currency cannot be changed once configured.</span>
              </div>



              <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="curr">Save</a>

              
            </div>
            <br>
            <hr>
            <br>
            <h4 class="card-title" style="margin-left: 11px;text-align: left;">Approver Settings</h4> 
            <span style="margin-left: 11px;float: left; font-size: 14px; color: #6c6868;text-align: justify;">You can set approver for your Claims. To update an Employee's Reports, go to the Employee's Profile page.To update head of department, go to  Manage People Page.</span>

            <div style="height: 40px;"></div>
            <div class="row margin infodetails">
             <div style="margin-top: 61px;text-align: left" class="input-field col s12 m3">Department</div>
             <div class="input-field col s12 m5">
              <p style="text-align: left;margin-bottom: 10px;">Department Wise Approver</p>
              {% set department = frappe.get_all("Department",filters={"is_group":"No"},fields=['name','department_name']) %}
              <select style="padding-left: 10px;width: -webkit-fill-available;" id="depval">
                <option value="" selected disabled>Department</option>
                {% for dep in department %}
                <option value="{{dep.name}}">{{dep.department_name}}</option>
                {% endfor %}
              </select>
              <!-- <p style="text-align: left">Approver List</p> -->
              <!-- <table id="apptable"></table><br> -->
              <!-- {% set user = frappe.get_all("User",filters={'user_type':'System User'},fields=['name']) %}
              <select style="padding-left: 10px;width: -webkit-fill-available;" id="appval">
                <option value="" selected disabled>Approver</option>
                {% for us in user %}
                <option value={{us.name}}>{{us.name}}</option>
                {% endfor %}
              </select> -->

            </div>

            <!-- <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="app">Add Approver</a>
            <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="delapp">Delete Approver</a> -->
            <!-- <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="app">Delete Approver</a> -->
          </div>

          <div class="row margin infodetails">
            <div style="margin-top: 61px;text-align: left" class="input-field col s12 m3">Approver List</div>
            <div class="input-field col s12 m5">
              <table border="0" id="apptable" style="color: fuchsia;">
              </table>
            </div>
            <!-- <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="app">Delete Approver</a> -->
          </div>

          <div class="row margin infodetails">
            <div style="margin-top: 61px;text-align: left" class="input-field col s12 m3">Approver</div>
            <div class="input-field col s12 m5" style="margin-top: 46px;">
              {% set user = frappe.get_all("User",filters={'user_type':'System User'},fields=['name']) %}
              <select style="padding-left: 10px;width: -webkit-fill-available;" id="appval">
                <option value="" selected disabled>Approver</option>
                {% for us in user %}
                <option value={{us.name}}>{{us.name}}</option>
                {% endfor %}
              </select>
              
            </div>
            <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="app">Add Approver</a>
            <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="delapp">Delete Approver</a>
            <!-- <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="app">Delete Approver</a> -->
          </div>

          <div class="row margin infodetails">
            <div style="margin-top: 61px;text-align: left" class="input-field col s12 m3">Verifier</div>
            <div class="input-field col s12 m5" style="margin-top: 46px;">
              {% set user = frappe.get_all("User",filters={'user_type':'System User'},fields=['name']) %}
              <select style="padding-left: 10px;width: -webkit-fill-available;" id="verval">
                <option value="" selected disabled>Verifier</option>
                {% for us in user %}
                <option value={{us.name}}>{{us.name}}</option>
                {% endfor %}
              </select>
              
            </div>
            <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="verifier_update">Update Verifier</a>
            <!-- <a href="#!" style="margin-top: 31px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right" id="app">Delete Approver</a> -->
          </div>


        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br>
  <div style="height: 40px;"></div>
  <br>
</div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  frappe.csrf_token = "{{ csrf_token }}";
</script>
<script defer src="/claims/js/set-general.js" type="text/javascript"></script>
{% endblock %}