{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style type="text/css">
    [type="checkbox"] + span:not(.lever){
        position: sticky !important;
    }

    .select-wrapper input.select-dropdown{
        position: unset !important;
    }

    @media only screen and (max-width: 360px){
    .set-claim {

      width: 100% !important;
      right: 0 !important;
      margin-top: 10px !important;
    }
  }
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<style type="text/css">
[type="checkbox"].filled-in:checked + span:not(.lever):before{
  border-right: 2px solid green !important;
  border-bottom: 2px solid green !important;
}
[type="checkbox"].filled-in + span:not(.lever):after {
  border-radius: 6px !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after{
  border: 2px solid #e1e1e1 !important;
  background-color: white !important;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after{
  border: 2px solid #e1e1e1 !important;
  background-color: white !important;
}
</style>
<div id="main">
    <div class="row">
        <div class="content-wrapper-before"></div>
        <div class="col-12">
            <div class="container">
                <div class="row section-data-tables" style="margin: 50px;">
                    <div class="col s12">
                        <div class="nav-wrapper black-text banner-title3">
                            <div class="breadcrumb">
                                <a class="breadcrumb">Claims</a>
                                <a class="breadcrumb">Settings</a>
                                <a href="/claims/set-claim-type.html" class="breadcrumb active">Claim Type</a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card" style="border-radius: 10px!important;">
                                <div class="card-content">
                                    <img width="22" height="22" class="sidenav-icon" src="/icons/settings.png">
                                    <h4 class="card-title newstitle" style="display: inline;">Claim Types</h4>
                                
                                    <a href="#create-news.modal"
                                    class="modal-trigger waves-effect waves-light btn right btn-claim set-claim" id="add_claim">Add Claim Type</a>
                                    <div class="row">
                                        <div class="col s12">
                                            <table style="font-size: 14px;margin-top: 24px; border-collapse: collapse; " id="typetab">
                                            <thead>
                                                <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                                                <th style=" border-right:none!important;">Title</th>
                                                <th style=" border-right:none!important;">Account Code</th>
                                                <!-- <th style=" border-right:none!important;">Reimbursement</th> -->
                                                <th style=" border-right:none!important;">Claim Limit</th>
                                                <th style=" border-right:none!important;">Description</th>
                                                <th style=" border-right:none!important;">&nbsp;</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ex in claim_details %}
                                            <tr>
                                                <td class="claim_title">{{ex.name}}</td>
                                                <td class="claim_account">{{ex.default_account}}</td>
                                                <!-- <td>Payroll</td> -->
                                                <td class="claim_limit">{{ex.claim_limit}}</td>
                                                <td class="claim_desc">{{ex.description}}</td>
                                                <td><a href="#create-news.modal" style="margin-right: 10px;vertical-align: -2px !important;margin-bottom: 0 !important" class="modal-trigger waves-effect waves-light edit_claim_type">Edit</a>
                                                <a href="#" style="margin-right: 10px;vertical-align: -2px !important;margin-bottom: 0 !important" class="modal-trigger waves-effect waves-light delete_but">Delete</a>
                                                <!-- <img href="#" src="/icons/icon-58.png" width="22" height="22" /> -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="create-news.modal" class="modal modal-fixed-footer" style="padding-right: 50px;">
                            <div class="modal-content" style="padding: 0px !important; margin-top: 24px;">
                                <p class="edit-title">Add Claim Type</p>
                                <form class="col s12" style="padding: 24px;" id="expense_type">
                                    <div class="row">
                                        <div class="input-field col s12" style="margin-bottom: 0px;">
                                            <p>Title</p>
                                            <input type="text" name="ex_title" id="title" placeholder="Claim Type Name" data-length="50" style="width: -webkit-fill-available !important;">
                                            <!--<label for="news-subject" class="" style="left: 30px;">Subject</label>-->
                                        </div>
                                        <div class="input-field col s12" style="margin-top: 0px;">
                                            <p>Account Code</p>
                                            <select id="account-code" name="ex_account">
                                                <option value="" disabled selected>Select Account</option>
                                                {% for ac in account_list | sort(attribute='name') %}
                                                <option value="{{ac.name}}">{{ac.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="input-field col s12" style="margin-top: 0px;">
                                            <p>Description</p>
                                            <input type="text" name="ex_desc" id="description" placeholder="Enter claim description" data-length="100" style="width: -webkit-fill-available !important;">
                                        </div>
                                        <div class="input-field col s12" style="margin-top: 0px;">
                                            <p>Claim Limit</p>
                                            <input type="text" name="ex_claim_limit" id="claim_limit" placeholder="Enter claim Limit" data-length="100" style="width: -webkit-fill-available !important;">
                                        </div>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="right waves-effect waves-light btn" id="extype">Add Claim Type</a>
                        <a href="#" class="right waves-effect waves-light btn" id="exedit">Update Claim Type</a>
                        <a href="#" class="right blue-text btn-flat"
                        onclick="$('#create-news\\.modal').modal('close')">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/app-assets/vendors/tinymce/tinymce.min.js" type="text/javascript"></script>
<!-- <script defer src="/hr/js/news.js" type="text/javascript"></script> -->
<script defer src="/claims/js/set-claim-type.js" type="text/javascript"></script>
<script>
  $(document).ready(function() {
    $('input#title , input#account-code , input#description , input#custom-question').characterCounter();
});
</script>
{% endblock %}
