{% extends "www/master.html" %}

{% block title %}Claims{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/claims/sidenav.html" %}
{% endblock %}
{% block footer %}
{% include "www/footer.html" %}
{% endblock %}
{% block main %}
<div id="main">
 <div class="row">
  <div class="container">
    <div class="section-data-tables nav-wrapper black-text banner-title3">
      <!--<div class="content-wrapper-before"></div>-->
      <div class="col s12">
        <div class="breadcrumb">
          <a class="breadcrumb">Claims</a>
          <a class="breadcrumb">Reimbursement</a>
          <a href="/claims/submission-his.html" class="breadcrumb active">Submission History</a>
        </div>
      </div>
      <div class="col xl20 l20 m18 s12">
        <div id="card-stats" class="card" style="overflow: unset!important; border-radius: 10px!important;">
          <div class="card-content">
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" 
            src="/icons/reimbursement.png">
            <br>
            <h4 class="card-title directorytitle" style="text-align: left;">Submission Claims Report</h4>
            <span style="margin-top: 35px; float: left; font-size: 14px; color: #6c6868;text-align: justify;">This is the list of the claim reports  that have been  successfully submitted to Beep Payroll</span>
            <br>
            <div class="row">
              <div style="height: 40px;"></div>
              <div class="row margin infodetails">
                <div class="input-field col s12 m3">
                  <i style="position: absolute; padding-top: 12px; right: 20px;background: #b7aeae; -webkit-background-clip: text;" class="material-icons-outlined">search</i><input style="border-radius: 5px!important;width: -webkit-fill-available" type="text" name="search" placeholder="  Search Title" id="search_i">
                </div>
                <div class="input-field col s12 m3">
                  <select style="width: -webkit-fill-available;" id="req_filter">
                    <option value="" selected>All Claim Type</option>
                    {% set Requester =  frappe.get_all("Expense Claim Type", fields=['name']) %}
                    {% for req in Requester %}
                    <option value={{req.name}}>{{req.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                


                <a href="#!" style="padding-top: 15px;" class="clr-fil-myclaims modal-trigger waves-effect waves-light right">Clear Filter</a>
                
              </div>
              <table style="font-size: 14px;" class="table table-striped dataTable display" id="table_id">
                <thead>
                <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                  <th style=" border-right:none!important;">Title</th>
                  <th style=" border-right:none!important;">Date</th>
                  <th style=" border-right:none!important;">Amount</th>
                  <th style=" border-right:none!important;">Requester</th>
                  <th style=" border-right:none!important;">Cutoff Date</th>
                </tr>
                </thead>
                <tbody>
                  {% set expense1 = frappe.get_all("Expense Claim", filters={"status":"Paid"},fields=['name','cutoff_date','approval_status','status','employee','employee_name','total_claimed_amount','posting_date']) %}
                {% for ex in expense1 %}
                <tr>
                    {% set claim_title = frappe.get_all("Expense Claim Detail",filters={'parent': ex.name},fields=["expense_type"])%}
                    <td>{{ex.name}}<br>
                      ({% for e in range(claim_title|length) %}
                    {% if e < 2 %}
                    {{claim_title[e].expense_type}}
                    {% endif %}
                    {% endfor %}
                    {% if (claim_title|length) > 2 %}
                    ...
                    {% endif %})
                    </td>
                  <td>{{ex.posting_date}}</td>
                  <td>{{ex.total_claimed_amount}}</td>
                  <td>
                    {% set employee_pic = frappe.get_all("Employee",filters={'name':ex.employee},fields=['image'])%}
                    {% for file in employee_pic %}    
                    {% if(file.image != '' and file.image != 'None' and file.image != None ) %}
                    <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="{{file.image}}">
                    {% else %}
                    <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="/images/profile_icon.png">
                    {% endif %}
                    {% endfor %}
                    </td>
                  <td>{% if(ex.cutoff_date) %}{{ ex.cutoff_date.strftime(" %d-%m-%Y ")  }}{%else%}-{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js"></script>
<script>
  frappe.csrf_token = "{{ csrf_token }}";
  var user_table = $('#table_id').DataTable({
    "order": [[ 1, "desc" ]],
    columnDefs: [ {
      targets: 1,
      render: $.fn.dataTable.render.moment('DD-MM-YYYY')
    },
     ],
    paging: true,
    searching: true,
    info: true,
    lengthChange: true,
    ordering: true,
    buttons: true
  });
  $('#req_filter').change(function(){
    
    var filter_status = $("#req_filter").val();
    console.log(user_table)
    user_table.column(0).search(filter_status, true, false, false).draw();
    });
    $('#search_i').keyup(function(){
    console.log("onup")
    user_table.search($(this).val()).draw() ;
    });
</script>
{% endblock %}