{% extends "www/master.html" %} {% block title %}Payroll{% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<style type="text/css">
    #dropdown1 li > a {
        padding: unset;
        float: left;
    }

    #dropdown1 {
        height: auto !important;
        width: fit-content !important;
        border-radius: 10px;
        padding-left: 3px !important;
    }

    #dropdown1 li {
        float: left;
        min-height: 0px !important;
    }

    #dropdown1 li a {
        display: block;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content li {
        clear: unset !important;
        width: unset !important;
        padding-left: 0px !important;
    }

    .default-indicator {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #b0b8e0;
        will-change: left, right;
        left: 1% !important;
        right: 50% !important;
    }

    .indicator {
        display: none;
    }

    .btn-link {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: #0000EE;
        padding: 0;
        font-family: inherit;
        font-size: inherit;
    }

    @media only screen and (max-width: 601px) {
        #remove-padding {
            padding: 0 !important;
        }
    }

    @media only screen and (max-width: 1460px) {
        #table-scroll {
            width: 100%;
            overflow-y: hidden;
            overflow-x: scroll;
            white-space: nowrap!important;
        }
        table {
            width: 1100px !important;
        }
    }

    @media only screen and (max-width: 480px) {
        .padd-zero {
            padding: 0 !important;
        }
    }

    @media only screen and (max-width: 1200px) {
        .tabs {
            width: 410px !important;
        }
        .tabs-scroll {
            overflow-x: auto !important;
        }
    }

    @media only screen and (max-width: 360px) {
        .search-input {
            width: 190px !important;
        }
        .search-icon {
            left: 190px !important;
        }
        .full-width {
            width: 100% !important;
        }
    }

    .toggle-options a.active,
    .toggle-options a:hover {
        background-color: #00AEEF !important;
    }

    @media only screen and (max-width: 993px) {
        .force-center {
            text-align: center !important;
        }
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %} {% block nav %} {% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %} {% if user != 'Guest' %} {% include "www/nav.html" %} {% endif %} {% endblock %} {% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %} {% endblock %} {% block footer %}
<!--footer-->
{% include "www/footer.html" %} {% endblock %} {% block main %}

<div id="main">
    <div class="row">
        <div class="content-wrapper-before"></div>
        <div class="col-12">
            <div class="container">
                <div class="row section-data-tables">
                    <div class="col s12">
                        <div class="nav-wrapper black-text banner-title3">
                            <div class="breadcrumb" style="display: inline;">

                                <a class="breadcrumb">HR Hub</a>
                                <a class="breadcrumb">People</a>
                                <a href="/HR Hub/people" class="breadcrumb active">Add Employee</a>
                            </div>

                            <!-- People Profile  -->
                            <div class="card" style="border-radius: 10px;overflow-x: auto !important;">
                                <div class="card-content">
                                    <div class="row" style="margin: auto;">
                                        <i class="material-icons-outlined" style="display: inline;">person</i>
                                        <h4 class="card-title directorytitle" style="display: inline;">Profile Overview</h4>
                                        <p style="padding-left: 36px;">Here’s quick profile of Leanne Ko.</p>

                                    </div>
                                    <br>
                                    <div class="col s12 m12 l12 xl4 force-center">
                                        <p><img src="/images/profile_icon.png" width="200" height="200" /></p>
                                    </div>

                                    <div class="col s6 m6 l6 xl4">
                                        <p style="margin-top: 10px !important;">Leanne Ko</p>
                                        <p style="margin-top: 10px !important;">
                                            <img src="/icons/people.png" width="30" height="30" style="margin-right: 15px;" />
                                            <span style="display: inline;position: absolute;margin-top: 5px;">Marketing Manager</p>
						</p>
						<p style="margin-top: 10px !important;">
						  <img src="/icons/email.png" width="30" height="30" style="margin-right: 15px;" />
						  <span style="display: inline;position: absolute;margin-top: 5px;">leanneko@bayo.my</span>
                                        </p>
                                        <p style="margin-top: 10px !important;">
                                            <img src="/icons/mobile.png" width="30" height="30" style="margin-right: 15px;" />
                                            <span style="display: inline;position: absolute;margin-top: 5px;">+60 11 2345 6789</span>
                                        </p>
                                    </div>

                                    <div class="col s6 m6 l6 xl4" style="margin-top: 10px;">
                                        <a href="#" style="float: right;color: #00aeef;"><b>Send Email</b></a>
                                    </div>

                                    <br>
                                    <div style="width: 100%; display: inline-block;">
                                        <hr />
                                    </div>

                                    <div id="remove-padding" style="width: 100%; padding-bottom: 90px;">
                                        <div class="col s12 m12 l12 xl4" style="margin-bottom: 15px;">
                                            <div class="row">
                                                <div class="col s6 m6 l6 xl12 full-width">
                                                    <p style="padding-top: 10px;padding-bottom: 10px; "><b>DEPARTMENT</b></p>
                                                </div>
                                                <div class="col s6 m6 l6 xl12 full-width">
                                                    <p style="color: #00aeef;"><b>Marketing</b></p>
                                                    <p>Member</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m12 l12 xl4" style="margin-bottom: 15px;">
                                            <div class="row">
                                                <div class="col s6 m6 l6 xl12 full-width">
                                                    <p style="padding-top: 10px;padding-bottom: 10px; "><b>JOIN DATE</b></p>
                                                </div>
                                                <div class="col s6 m6 l6 xl12 full-width">
                                                    <p>20 Mar 2016</p>
                                                    <p>3 years, 4 months, 13 days</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col s12 m12 l12 xl4" style="margin-bottom: 15px;">
                                            <div class="row">
                                                <div class="col s6 m6 l6 xl12 full-width">
                                                    <p style="padding-top: 10px;padding-bottom: 10px; "><b>Reports To</b></p>
                                                </div>
                                                <div class="col s6 m6 l6 xl12 full-width">
                                                    <div class="row">
                                                        <div class="col s3 m3 l3 xl3 padd-zero">
                                                            <img width="50" height="50" src="/images/org-chart-profile.png" style="vertical-align: middle; float: left;">
                                                        </div>
                                                        <div class="col s9 m9 l9 xl9">
                                                            <p style="margin-left: 15px;display: inline-block;vertical-align: middle; float: left;">
                                                                <a href="#" class="dropdown-trigger" style="margin-top: 5px;display: block;color: #00aeef;" data-target="dropdown1"><b>Mina Mona</b></a>
                                                                <span>Department Head</span>
                                                        </div>
                                                    </div>

                                                    </p>
                                                </div>
                                            </div>

                                            <ul id="dropdown1" class="dropdown-content">
                                                <li>
                                                    <a href="#!"><img src="/icons/people-blue.png" width="20" height="20" /></a>

                                                </li>
                                                <li>
                                                    <a href="#!"><img src="/icons/icon-57.png" width="20" height="20" /></a>
                                                </li>
                                                <li>
                                                    <a href="#!"><img src="/icons/icon-56.png" width="20" height="20" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Basic Information   -->

                            <form class="" action="/api/resource/Employee" method="post" id="create_emp">
                                <div class="card" style="border-radius: 10px;overflow-x: auto !important;">
                                    <div class="card-content">
                                        <div class="row" style="margin: auto;">

                                            <i class="material-icons-outlined" style="display: inline;">person</i>
                                            <h4 class="card-title directorytitle" style="display: inline;">Employee Information </h4>
                                            <p style="padding-left: 36px;"></p>
                                            <p style="padding-left: 36px;"><br/></p>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">First Name</p>
                                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                                <input type="text" name="first_name" style="width: -webkit-fill-available;" value="" required>
                                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Last Name</p>
                                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                                <input type="text" name="last_name" style="width: -webkit-fill-available;" value="" required>
                                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Full Name</p>
                                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                                <input type="text" name="employee_name" style="width: -webkit-fill-available;" value="" required>
                                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Company</p>
                                                <select name="company" style="padding-left: 10px;width: -webkit-fill-available;" required>
                                                    <option value="">Select Comapny</option>
                                                    {% set ev1 = frappe.get_all("Company", fields=['*']) %}
                                                    {% for i_ev1 in ev1%}
                                                        <option value="{{i_ev1.company_name}}">{{i_ev1.company_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Gender</p>
                                                <select name="gender" style="padding-left: 10px;width: -webkit-fill-available;" required>
                                                    <option value="">Select</option>
                                                    {% set ev2 = frappe.get_all("Gender", fields=['*']) %}
                                                    {% for i_ev2 in ev2%}
                                                        <option value="{{i_ev2.gender}}">{{i_ev2.gender}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Date of Birth</p>
                                                <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;">
                                                <input style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available" name="date_of_birth" placeholder="" class="datepicker" type="text"  required>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Date of Joining</p>
                                                <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;">
                                                <input style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available" name="date_of_joining" placeholder="" class="datepicker" type="text"  required>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Job Title</p>
                                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                                <select name="job_title" style="padding-left: 10px;width: -webkit-fill-available;">
                                                    <option value="">Select</option>
                                                    {% set ev3 = frappe.get_all("Job Applicant", fields=['*']) %}
                                                    {% for i_ev3 in ev3%}
                                                        <option value="{{i_ev3.applicant_name}}">{{i_ev3.applicant_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Email Address</p>
                                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                                <input type="text" name="personal_email" style="width: -webkit-fill-available;" value="" required>
                                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Mobile No.</p>
                                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                                <input type="text" name="cell_number" style="width: -webkit-fill-available;" value="" required>
                                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                            </div>

                                            <div class="input-field col s12 m12">
                                                <p style="margin-bottom: 10px;">Report to</p>
                                                <select name="reports_to" style="padding-left: 10px;width: -webkit-fill-available;" required>
                                                    <option value="">Select Name</option>
                                                    {% set ev4 = frappe.get_all("Employee", fields=['*']) %}
                                                    {% for i_ev4 in ev4%}
                                                        <option value="{{i_ev4.name}}">{{i_ev4.employee_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Department</p>
                                                <select name="department" style="padding-left: 10px;width: -webkit-fill-available;" required>
                                                    <option value="">Select</option>
                                                    {% set ev4 = frappe.get_all("Department", fields=['*']) %}
                                                    {% for i_ev4 in ev4%}
                                                        <option value="{{i_ev4.name}}">{{i_ev4.department_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Employment Type</p>
                                                <select name="employment_type" style="padding-left: 10px;width: -webkit-fill-available;" required>
                                                    <option value="">Select</option>
                                                    {% set ev4 = frappe.get_all("Employment Type", fields=['*']) %}
                                                    {% for i_ev4 in ev4%}
                                                        <option value="{{i_ev4.employee_type_name}}">{{i_ev4.employee_type_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Employee Number</p>
                                                <input type="text" name="employee_number" style="width: -webkit-fill-available;" value="" required>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <p style="margin-bottom: 10px;">Alternate staff id</p>
                                                <input type="text" name="alternate_staff_id" style="width: -webkit-fill-available;" value="" required>
                                            </div>

                                            <div class="input-field col s12 m12 ">
                                                <button type="submit" name="button" class="btn"> Create Employee </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $( ".datepicker" ).datepicker({
             dateFormat: "yy-mm-dd"
        });
    });
</script>
<script type="text/javascript">
    function list() {
        var list = document.getElementById('list');
        var card = document.getElementById('card');
        var btn_list = document.getElementById('btn_list');
        var btn_card = document.getElementById('btn_card');
        list.style.display = "block";
        card.style.display = "none";
        btn_list.classList.add('active');
        btn_card.classList.remove('active');
    }

    function card() {
        var list = document.getElementById('list');
        var card = document.getElementById('card');
        var btn_list = document.getElementById('btn_list');
        var btn_card = document.getElementById('btn_card');
        list.style.display = "none";
        card.style.display = "block";
        btn_list.classList.remove('active');
        btn_card.classList.add('active');
    }

    function profile() {
        var people_list = document.getElementById('peoplelist');
        var profile = document.getElementById('profile');
        people_list.style.display = "none";
        profile.style.display = "block";
    }

    function removeDefault() {
        var default_indicator = document.getElementsByClassName('default-indicator')[0];
        var indicator = document.getElementsByClassName('indicator')[0];
        default_indicator.style.display = "none";
        indicator.style.display = "block";
    }

    function employee_edit() {
        var emp_edit = document.getElementById('employee_btn');
        var bank_edit = document.getElementById('bank_btn');
        emp_edit.style.display = "block";
        bank_edit.style.display = "none";

    }

    function bank_edit() {
        var emp_edit = document.getElementById('employee_btn');
        var bank_edit = document.getElementById('bank_btn');
        emp_edit.style.display = "none";
        bank_edit.style.display = "block";
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, options);
    });

    // Or with jQuery

    $('.dropdown-trigger').dropdown();
</script>
<!-- <script defer src="/hr/js/people_dir.js" type="text/javascript"></script> -->
<script defer src="js/people.js" type="text/javascript"></script>
{% endblock %}
