{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-calendar.css">
<style type="text/css">
.p-purple {
    border-radius: 20px;
    text-align: center;
    width: 60%;
    background-color: #9C27B0;
    color: white;
}
.p-grey {
    border-radius: 20px;
    text-align: center;
    width: 60%;
    background-color: gray;
    color: white;
}
  @media only screen and (max-width: 1260px){
  #table-scroll{
    width: 100%;

    overflow-x: scroll;

    white-space: nowrap!important;
  }

  table{
    width: 1015px !important;
    display: inline-table !important;
  }
}

@media only screen and (max-width: 550px){


  .tabs{
    width: 410px !important;
  }

  .tabs-scroll{
    overflow-x: auto !important;
  }
}
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}

<div id="main">
    <div class="row">
        <div class="container">
            <div class="section-data-tables nav-wrapper black-text banner-title3">
                <!--<div class="content-wrapper-before"></div>-->
                <div class="col s12">
                    <div class="breadcrumb">
                        <a class="breadcrumb">HR Hub</a>
                        <a class="breadcrumb">Claims</a>
                        <a href="/hr/approval-claims" class="breadcrumb active">Approvals</a>
                    </div>
                </div>
                <div class="col xl20 l20 m18 s12">
                    <div id="card-stats" class="card" style="border-radius: 10px!important;">
                        <div class="card-content">
                            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
                            <h4 class="card-title directorytitle" style="text-align: left;">Pending Approvals</h4>

                            <br>
                            <br>
                            <!-- <div style="border-bottom: 1px solid #cdc3c3;" class="row">
                                <div class="col s12">
                                    <div class="tabs-scroll">
                                        <ul class="tabs">
                                            <li class=" tab col s5"><a style="color: black!important" class="active" href="#test1">Pending Approvals</a></li>
                                            <li class=" tab col s5"><a style="color: black!important" href="#test2">All Approvals</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="row margin infodetails">
                                    <div class="input-field col s12 m12 l6 xl4">
                                        <i style="position: absolute; padding-top: 12px; right: 20px;" class="material-icons-outlined">search</i>
                                        <input style="width: -webkit-fill-available;" type="text" name="search" placeholder="  Search Entities">
                                    </div>
                                    <div class="input-field col s12 m12 l6 xl3">
                                        <select style="width: -webkit-fill-available;" id="req_filter">
                                            <option value="" selected>All Claim Type</option>
                                            {% set Requester =  frappe.get_all("Expense Claim Type", fields=['name']) %}
                                            {% for req in Requester %}
                                            <option value={{req.name}}>{{req.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="option-date-appr input-field col s12 m12 l6 xl3">
                                        <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;">
                                        <input style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available" placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
                                    </div>
                                    <div class="col s12 m12 l6 xl2">
                                        <a href="#" class="clr-fil-appr modal-trigger waves-effect waves-light right" style="padding-bottom: 25px;">Clear Filter</a>
                                    </div>
                                </div>
                                <div class="col s12" id="table-scroll">
                                    <table class="table table-striped dataTable display" style="font-size: 14px;" id="table_id">
                                        <thead>
                                            <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;">
                                                <th style="border-right:none!important;">Title</th>
                                                <th style="border-right:none!important;">Submitted Date</th>
                                                <th style="border-right:none!important;">Amount</th>
                                                <th style="border-right:none!important;">Requester</th>
                                                <th style="border-right:none!important;">Cutoff Date</th>
                                                <th style="border-right:none!important;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set exp_list = frappe.get_all("Expense Claim", fields=['*'], filters={'status':'Draft'}) %}
                                            {% for ex in exp_list %}
                                                <tr>
                                                    {% set claim_title = frappe.get_all("Expense Claim Detail",filters={'parent': ex.name},fields=["expense_type"])%} 
                                                    <td><a style="color:#00AEEF" href="/claims/claim-title1.html/?expense_claim={{ex.name}} ">{{ex.name}}</a><br>
                    
                                                        ({% for e in range(claim_title|length) %}
                                                        {% if e < 2 %}
                                                        {{claim_title[e].expense_type}}
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% if (claim_title|length) > 2 %}
                                                        ...
                                                        {% endif %})
                                                    </td>
                                                    <td>{{ex.posting_date.strftime(" %d-%m-%Y ")}}</td>
                                                    <td>MYR {{'%0.2f'| format(ex.total_claimed_amount|float)}}</td>
                                                    <td>
                                                        {% set employee_pic = frappe.get_all("Employee",filters={'name':ex.employee},fields=['image'])%}
                                                        {% for file in employee_pic %}    
                                                        {% if(file.image != '' and file.image != 'None' and file.image != None ) %}
                                                        <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="{{file.image}}">
                                                        {% else %}
                                                        <img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="/images/profile_icon.png">
                                                        {% endif %}
                                                        {% endfor %}
                                                    </td>   
                                                    <td>{% if(ex.cutoff_date) %}{{ ex.cutoff_date.strftime(" %d-%m-%Y ")  }}{%else%}-{% endif %}</td>
                                                    {% set class_color = '' %}
                                                    {% if(ex.status == 'Unpaid') %}
                                                        {% set class_color = 'p-pending' %}
                                                    {% elif(ex.status == 'Draft') and (ex.approval_status != 'Verified') %}
                                                        {% set class_color = 'p-grey' %}
                                                    {% elif(ex.status == 'Draft') and (ex.approval_status == 'Verified') %}
                                                        {% set class_color = 'p-purple' %}
                                                    {% elif(ex.status == 'Cancelled') %}
                                                        {% set class_color = 'p-declined' %}
                                                    {% elif(ex.status == 'Rejected') %}
                                                        {% set class_color = 'p-declined' %}
                                                    {% elif(ex.status == 'Paid') %}
                                                        {% set class_color = 'p-approved' %}
                                                    {% elif(ex.status == 'Submitted') %}
                                                        {% set class_color = 'p-approved' %}
                                                    {% endif %}
                                                    <td><p class={{class_color}}>{% if(ex.status == 'Draft') and (ex.approval_status != 'Verified') %}Pending{% elif(ex.status == 'Draft') and (ex.approval_status == 'Verified') %}Verified{% else %}{{ex.status}}{% endif %}</p></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
</div>
</div>

{% block scripts %}


<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script defer src="/hr/js/leave_request.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/fullcalendar/lib/moment.min.js"></script>
<script src="../../../app-assets/vendors/fullcalendar/js/fullcalendar.min.js"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="../../../app-assets/js/scripts/app-calendar.js" type="text/javascript"></script>
<script type="text/javascript">
    
    $(document).ready( function () {
        var user_table = $('#table_id').DataTable({
            bFilter: false,
            "order": [[ 1, "desc" ]],
            paging: true,
            searching: true,
            info: true,
            lengthChange: true,
            ordering: true,
            buttons: true
        });
        $('#req_filter').change(function(){
        var filter_status = $("#req_filter").val();
        console.log(user_table)
        user_table.column(0).search(filter_status, true, false, false).draw();
    });
    });
</script>
{% endblock %}
