{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-calendar.css">
<style type="text/css">
  @media only screen and (max-width: 330px){
  .mn-per{
    width: 100% !important;
    margin-top: 15px !important;
    right: 10px !important;
  }
}
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}

<div id="main">
  <div class="row">
    <div class="container">
      <div class="section-data-tables nav-wrapper black-text banner-title3">
        <!--<div class="content-wrapper-before"></div>-->
        <div class="col s12">
          <div class="breadcrumb">
            <a class="breadcrumb">HR Hub</a>
            <a href="/hr/calendar" class="breadcrumb active">Calendar</a>
          </div>
        </div>
        <div class="col xl20 l20 m18 s12">
          <div id="card-stats" class="card" style="border-radius: 10px!important;">
            <div class="card-content">
              <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/calendar.png">
              <h4 class="card-title directorytitle" style="text-align: left;">Calendar</h4>

              <a href="#" class="btn-manage-permissions modal-trigger waves-effect waves-light right mn-per">
              Manage Permissions</a>
              <div class="row">
                <div style="height: 40px;"></div>
                <div class="row margin infodetails">
                  <div class="input-field col s12 m4">
                    <select style="width: -webkit-fill-available;" id="ev_leav_type">
                      <option value="All Leave" selected>All Leave</option>
                        {% set leave_type = frappe.get_all("Leave Type", fields=['leave_type_name']) %}
                        {% for i_leave_type in leave_type %}
                            <option value="{{i_leave_type.leave_type_name}}">{{i_leave_type.leave_type_name}}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
                <div id="basic-calendar2" class="fc fc-unthemed fc-ltr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function checked()
  {
    if(document.getElementById('check1').checked==false)
    {
      document.getElementById('check2').checked = false;
    }
  }
  function checked1()
  {
   if(document.getElementById('check2').checked==true)
   {
    document.getElementById('check1').checked = false;
  }
}

function checked2()
{
  if(document.getElementById('check3').checked==false)
  {
    document.getElementById('check4').checked = false;
  }
}
function checked3()
{
 if(document.getElementById('check4').checked==true)
 {

  document.getElementById('check3').checked = false;
}
}

</script>


<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script defer src="/hr/js/leave_request.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/fullcalendar/lib/moment.min.js"></script>
<script src="../../../app-assets/vendors/fullcalendar/js/fullcalendar.min.js"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="../../../app-assets/js/scripts/app-calendar.js" type="text/javascript"></script>


<script type="text/javascript">

    $(function(){

        $('#basic-calendar2').fullCalendar();
        all_leave();

        $('#ev_leav_type').change(function(){
            var leave_ty = $(this).val();
            if(leave_ty == 'All Leave'){
                all_leave();
            }
            if(leave_ty == 'Annual Leave'){
                leave_anual();
            }
            if(leave_ty == 'Partenity Leave'){
                leave_partenity();
            }
            if(leave_ty == 'Compassionate Leave'){
                leave_compassionate();
            }
            if(leave_ty == 'Maternity Leave'){
                leave_maternity();
            }
            if(leave_ty == 'Medical And Hospital Leave'){
                leave_medical();
            }
        });

    });

    function all_leave(){
        var envntdata = [
            {% set all_leave = frappe.get_all("Leave Application", fields=['employee_name','from_date','to_date']) %}
            {% for i_all_leave in all_leave %}
                {
                    title: '{{i_all_leave.employee_name}}',
                    start: '{{i_all_leave.from_date}}',
                    end: '{{i_all_leave.to_date}}'
                },
            {% endfor %}
        ];
        $('#basic-calendar2').fullCalendar('removeEvents');
        $('#basic-calendar2').fullCalendar('removeEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('addEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('refetchEvents');
    }

    function leave_anual(){
        var envntdata = [
            {% set all_leave = frappe.get_all("Leave Application", fields=['employee_name','from_date','to_date'], filters={'leave_type':'Annual Leave'}) %}
            {% for i_all_leave in all_leave %}
                {
                    title: '{{i_all_leave.employee_name}}',
                    start: '{{i_all_leave.from_date}}',
                    end: '{{i_all_leave.to_date}}'
                },
            {% endfor %}
        ];
        $('#basic-calendar2').fullCalendar('removeEvents');
        $('#basic-calendar2').fullCalendar('removeEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('addEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('refetchEvents');
    }

    function leave_partenity(){
        var envntdata = [
            {% set all_leave = frappe.get_all("Leave Application", fields=['employee_name','from_date','to_date'], filters={'leave_type':'Partenity Leave'}) %}
            {% for i_all_leave in all_leave %}
                {
                    title: '{{i_all_leave.employee_name}}',
                    start: '{{i_all_leave.from_date}}',
                    end: '{{i_all_leave.to_date}}'
                },
            {% endfor %}
        ];
        $('#basic-calendar2').fullCalendar('removeEvents');
        $('#basic-calendar2').fullCalendar('removeEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('addEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('refetchEvents');
    }

    function leave_compassionate(){
        var envntdata = [
            {% set all_leave = frappe.get_all("Leave Application", fields=['employee_name','from_date','to_date'], filters={'leave_type':'Compassionate Leave'}) %}
            {% for i_all_leave in all_leave %}
                {
                    title: '{{i_all_leave.employee_name}}',
                    start: '{{i_all_leave.from_date}}',
                    end: '{{i_all_leave.to_date}}'
                },
            {% endfor %}
        ];
        $('#basic-calendar2').fullCalendar('removeEvents');
        $('#basic-calendar2').fullCalendar('removeEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('addEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('refetchEvents');
    }

    function leave_maternity(){
        var envntdata = [
            {% set all_leave = frappe.get_all("Leave Application", fields=['employee_name','from_date','to_date'], filters={'leave_type':'Maternity Leave'}) %}
            {% for i_all_leave in all_leave %}
                {
                    title: '{{i_all_leave.employee_name}}',
                    start: '{{i_all_leave.from_date}}',
                    end: '{{i_all_leave.to_date}}'
                },
            {% endfor %}
        ];
        $('#basic-calendar2').fullCalendar('removeEvents');
        $('#basic-calendar2').fullCalendar('removeEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('addEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('refetchEvents');
    }

    function leave_medical(){
        var envntdata = [
            {% set all_leave = frappe.get_all("Leave Application", fields=['employee_name','from_date','to_date'], filters={'leave_type':'Medical And Hospital Leave'}) %}
            {% for i_all_leave in all_leave %}
                {
                    title: '{{i_all_leave.employee_name}}',
                    start: '{{i_all_leave.from_date}}',
                    end: '{{i_all_leave.to_date}}'
                },
            {% endfor %}
        ];
        $('#basic-calendar2').fullCalendar('removeEvents');
        $('#basic-calendar2').fullCalendar('removeEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('addEventSource', envntdata);
        $('#basic-calendar2').fullCalendar('refetchEvents');
    }
</script>


{% endblock %}
