{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<style type="text/css">
table{
  border-radius: 23px;
  overflow: hidden;
}

.add-holi-link{
  font-size: 14px;
  margin-right: 14%;
}

@media only screen and (max-width: 480px) {

  .add-holi-link{
    font-size: 14px;
    margin-right: 14px !important;
  }

  .label-pad{
    text-align: center;
    font-size: 14px;
    padding: 0px!important;
  }
}

@media only screen and (max-width: 380px) {

  .tabs{
    width: 225px !important;
  }

  .tabs-scroll{
    overflow-x: auto !important;
  }

}

@media only screen and (max-width: 330px) {
  #logo_download{
    font-size: 10px !important;
  }

  #logo_change{
    font-size: 10px !important;
  }

  .office-btn{

    width: 100% !important;
    margin-top: 15px !important;
    text-align: right !important;
    right: 10px !important;

  }
}
[type="checkbox"].filled-in:checked + span:not(.lever):before{
  border-right: 2px solid green !important;
  border-bottom: 2px solid green !important;
}
[type="checkbox"].filled-in + span:not(.lever):after {
  border-radius: 6px !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after{
  border: 2px solid #e1e1e1 !important;
  background-color: white !important;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after{
  border: 2px solid #e1e1e1 !important;
  background-color: white !important;
}

.label-pad{
  text-align: center;
  font-size: 14px;
  padding: 11px;
 width: 100%;
display: block;

}

.seven-cols{
  padding: 0 !important;
}
.dropdown-content.select-dropdown{ max-height:250px; overflow:auto; }
</style>
<div id="main">
  <div class="row">
    <div class="content-wrapper-before"></div>
    <div class="col-12">
      <div class="container">
        <div class="row section-data-tables" style="margin: 50px;">
          <div class="col s12 ">
            <div class="nav-wrapper black-text banner-title3">
              <div class="breadcrumb">
                <a class="breadcrumb">HR Hub</a>
                <a class="breadcrumb">Settings</a>
                <a href="/hr/company-settings.html" class="breadcrumb active">Company Settings</a>
              </div>
            </div>
            <div class="content">
              <div class="card" style="margin-bottom: 0px; border-top-left-radius: 10px !important;border-top-right-radius: 10px !important;">
                <div class="card-content">
                  <div>
                   <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/settings.png">
                   <h4 class="card-title newstitle" style="display: inline;">Company Settings</h4>

                 </div>
                 <br><br/>
                 <div class="col s12">
                  <div class="tabs-scroll">
                    <ul class="tabs">
                      <li class="tab col s3"><a href="#test1" class="active" style="color: black!important; text-overflow:
                    unset;">General</a></li>
                      <li class="tab col s3"><a href="#test2" style="color: black!important; text-overflow: unset;">Holiday</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div id="test1">
              <div class="card" style="margin-top: 0px; border-bottom-left-radius: 10px !important;border-bottom-right-radius: 10px !important;">
                <div class="card-content">


                 <div class="row">


                  <div  class="col s12">

                    <div style="height: 30px;"></div>
                    <div>
                     <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/settings.png">
                     <h4 style="margin-left: 10px; font-size: 18px;display: inline;">Company Profile</h4>
                     <br>
                     <span style="margin-left: 33px;margin-top: 15px;float: left; font-size: 14px; color: #6c6868">Show of your logo! Upload and edit your company name and logo here.
                      <ul >
                        <li>- Recomended size for image is 200px*200px</li>
                        <li>- Max. file size of 5MB</li>
                        <li>- File format must be in jpg, jpeg, png or gif</li>
                      </ul>
                    </span>
                  </div>

                  <div style="height: 30px"></div>
                  <br>

                  <div class="row col s12" style="padding: 0px !important">
                    <div class="col xl4 l4 m12 s12 " style="margin-left: 18px;">
                      {% if company_logo %}
                      <img src="{{company_logo}}" style="margin-top: 24px; width: 100%;">
                      {% else %}
                      <img src="/images/logo.svg" style="margin-top: 24px;width: 100px;">
                      {% endif %}
                    </div>
                    {% if company_logo %}
                    
                    <div class="col xl2 l3 m5 s5 right" style="padding: 0 !important;">
                      <a target="_blank" id="logo_download" href="{{company_logo}}" 
                        style="background-color: #00aeef; border-radius: 25px; width: -webkit-fill-available;  text-align: center;  color: white;  line-height: 40px; margin-top: 24px;" 
                        class="btn waves-effect waves-light right">                        
                        Download Logo
                      </a>
                    </div>
                     {% endif %}
                    <div class="col xl2 l3 m5 s5 right" style="padding: 0 !important; margin-right: 25px">
                      <div class="btn btn-change-logo file-field input-field waves-effect waves-light right" style="border-radius: 25px; width: -webkit-fill-available;  text-align: center;  line-height: 40px; margin-top: 24px;">
                          <div class="">
                              <span>Change Logo</span>
                              <input id="file-change-logo" type='file' accept='image/*'>
                          </div>
                          <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                          </div>
                      </div>
                    </div>
                  </div>

                  <div style="padding-bottom: 26px;margin-left: 18px;" class="input-field col s12 ">
                    <p style="margin-bottom: 10px;">Company Name</p>
                    <input type="text" id="company_name" name="company_name" value="{{company_name}}" style="width: -webkit-fill-available">
                  </div>

                  <a href="#" onclick="rename_company_name(); return false;" style="line-height: 40px !important" class="btn-myclaims waves-effect waves-light right">Save</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card" style="border-radius: 10px!important;margin-top: 3rem;">
           <div class="card-content">
              <div>
                  <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/settings.png">
                  <h4 class="card-title newstitle" style="display: inline;">Company Branch</h4>                  
                  <button data-modal="modal-branch-add" style="border-radius: 25px; width: 150px;" type="button" id="btn-add-branch" class="btn right waves-effect waves-light">Add Branch</button>
                  <span style="margin-left: 14px; margin-top: 40px;float: left; font-size: 14px; color: darkgrey">You can extract a report by selecting approve dates and employees who have submitted the claims</span>
                  <div class="clear"></div>
              </div>
              <br>
              <br>
              <div class="content-scroll" id="list-branch"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="test2">
      <div  class="card" style="margin-top: 0px; border-bottom-right-radius: 10px!important;
      border-bottom-left-radius: 10px!important; ">
      <div class="card-content">

        <div style="height: 40px;"></div>
        <div class="row margin infodetails">
          <button data-modal="modal-add-holiday" style="border-radius: 25px; width: 150px;" type="button" id="btn-add-holiday" class="btn waves-effect waves-light">Add Holiday</button>
        </div>
        <br>
        <table style="border-collapse: unset;" id="list-holiday">          
        </table>
      </div>
    </div>
  </div>
</div>

<div id="modal-edit-holiday" class="modal modal-fixed-footer">
  <div class="modal-content" style="padding: 0px !important;">
    <p class="edit-title">Edit Holiday</p>

    <form class="modal-holi col s12" id="form-holiday-edit">
      <div class="row">
       <div class="input-field col s12" style="margin-bottom: 0px;">
        <p>Name</p>    
        <input type="hidden" id="old_name" />                    
        <input readonly="readonly" type="text" data-fieldname="holiday_list_name" id="name" data-length="50" style="width: -webkit-fill-available !important;" placeholder=""> 
      </div>

      <div class="row margin infodetails">
        <div class="input-field col s12 m12" style="margin-top: 0px;">
          <p>From Date</p>
          <input data-fieldname="from_date"  autocomplete="off"
          style="border: 1px solid #c1c1c1; border-radius: 5px; padding-left: 10px;"
          placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
        </div>
        <div class="input-field col s12 m12" style="margin-top: 0px;">
          <p>To Date</p>
          <input data-fieldname="to_date"  autocomplete="off"
          style="border: 1px solid #c1c1c1; border-radius: 5px; padding-left: 10px;"
          placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
 <a href="#!" id="save_holiday_edit" class="right waves-effect waves-light btn">Save</a>
 <a href="#!" class="right blue-text btn-flat"
 onclick="$('#modal-edit-holiday').modal('close')">Cancel</a>
</div>
</div>

<div id="modal_delete" class="modal modal-fixed-footer">
  <div class="modal-content" style="padding: 0px !important; overflow:visible">
    <h5 style="background-color: #dcdcdc;text-align: center; font-weight: 600; border-radius: 0px 30px 30px 0px;padding: 10px;">Delete Department</h5>

    <p>Are you sure you want to delete the following department?</p>
  </div>
  <div class="modal-footer">
   <a href="#!" class="right waves-effect waves-light btn">Save</a>
   <a href="#!" class="right blue-text btn-flat"
   onclick="$('#modal_delete').modal('close')">Cancel</a>
 </div>
</div>

<div id="modal-add-holiday" class="modal modal-fixed-footer">
  <div class="modal-content" style="padding: 0px !important; overflow:visible">
    <p class="edit-title">Create New Holiday</p>

    <form class="col s12 modal-holi" id="form-holiday-add">
      <div class="row">
       <div class="input-field col s12" style="margin-bottom: 0px;">
        <p>Name</p>
        <input type="text" data-fieldname="holiday_list_name" id="name" data-length="50" style="width: -webkit-fill-available !important;" placeholder=""> 
      </div>

      <div class="row margin infodetails">
        <div class="input-field col s12 m12" style="margin-top: 0px;">
          <p>From Date</p>
          <input data-fieldname="from_date"  autocomplete="off"
          style="border: 1px solid #c1c1c1; border-radius: 5px; padding-left: 10px;"
          placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
        </div>
        <div class="input-field col s12 m12" style="margin-top: 0px;">
          <p>To Date</p>
          <input data-fieldname="to_date"  autocomplete="off"
          style="border: 1px solid #c1c1c1; border-radius: 5px; padding-left: 10px;"
          placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
 <a href="#!" id="save_holiday_add" class="right waves-effect waves-light btn">Create</a>
 <a href="#!" class="right blue-text btn-flat"
 onclick="$('#modal-add-holiday').modal('close')">Cancel</a>
</div>
</div>

<div id="modal-branch-add" class="modal modal-fixed-footer">
  <div class="modal-content" style="padding: 0px !important; overflow:visible">
    <p class="edit-title" >Add Branch</p>
    <form id="form_branch_add" class="col s12" style="padding: 24px;">
      <div class="row">
        <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
          <p>Branch Name</p>          
          <input type="text" id="branch" data-fieldname="branch" style="width: -webkit-fill-available !important;">          
        </div>

        <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
          <p>Street Address</p>
          <input type="text" data-fieldname="address_line_1"  style="width: -webkit-fill-available !important;">
        </div>

        <div class="row margin infodetails">
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;" >
            <p>City</p>
            <input type="text" data-fieldname="city" data-length="100"
            style="width: -webkit-fill-available !important;">
          </div>
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>Post Code</p>
            <input type="text" data-fieldname="pincode" data-length="100"
            style="width: -webkit-fill-available !important;" placeholder="47810">
          </div>
        </div>

        <div class="row margin infodetails">
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>Country</p>            
            <select data-fieldname="country" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;"  id="i_filter_leave_type" autocomplete="off">
              <option value="" selected>All</option>
              {% set country = frappe.get_all("Country", fields=['*']) %}
              {% for i_country in country %}
                  <option value="{{i_country.country_name}}">{{i_country.country_name}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>State</p>
            <input type="text" data-fieldname="state" style="width: -webkit-fill-available !important;">
          </div>
        </div>

        <div class="input-field col s12 " style="margin-top: 0px;">
          <p>Workday</p>
          <form>
            <div style="border: 1px solid #c1c1c1; margin: 0;" class=" row button-group">
              <div class="col seven-cols">
                <input id="checkbox1_add" type="checkbox" data-fieldname="sunday">
                <label class="label-pad" for="checkbox1">Sunday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox2_add" type="checkbox" data-fieldname="monday">
                <label class="label-pad" for="checkbox2">Monday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox3_add" type="checkbox" data-fieldname="tuesday">
                <label class="label-pad" for="checkbox3">Tuesday</label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox4_add" type="checkbox" data-fieldname="wednesday">
                <label class="label-pad" for="checkbox4">Wednesday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox5_add" type="checkbox" data-fieldname="thursday">
                <label class="label-pad" for="checkbox5">Thursday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox6_add" type="checkbox" data-fieldname="friday">
                <label class="label-pad" for="checkbox6">Friday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox7_add" type="checkbox" data-fieldname="saturday">
                <label class="label-pad" for="checkbox7">Saturday
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="input-field col s12" style="margin-top: 0px;">
          <p>Timezone</p>          
          <select data-fieldname="time_zone" id="time_zone" style="padding-left: 10px; width: -webkit-fill-available;">
          </select>
        </div>

        <div class="row margin infodetails">
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>Language</p>            
            <select data-fieldname="language" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;"  id="i_filter_leave_type" autocomplete="off">
              <option value="" selected>All</option>
              {% set language = frappe.get_all("Language", fields=['*']) %}
              {% for i_language in language %}
                  <option value="{{i_language.language_code}}">{{i_language.language_name}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="option-date-appr input-field col s12 m6" style="margin-top: 5px;">
            <p style="margin-bottom: 10px;">Date Format</p>
            <select data-fieldname="date_format" id="date_format" style="padding-left: 10px; width: -webkit-fill-available;">
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
   <a href="#!" id="save_branch_add" class="right waves-effect waves-light btn">Save</a>
   <a href="#!" class="right blue-text btn-flat"
   onclick="$('#modal-branch-add').modal('close')">Cancel</a>
 </div>
</div>

<div id="modal-branch-edit" class="modal modal-fixed-footer" style="overflow-y:visible !important;">
  <div class="modal-content" style="padding: 0px !important;">
    <p class="edit-title" >Edit Branch</p>
    <form id="form_branch_edit" class="col s12" style="padding: 24px;">
      <div class="row">

        <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
          <p>Branch Name</p>          
          <input type="text" id="branch" readonly="readonly" data-fieldname="branch" style="width: -webkit-fill-available !important;">
          <!-- <label for="news-subject" class="" style="left: 30px;">Subject</label> -->
        </div>

        <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
          <p>Street Address</p>
          <input type="text" data-fieldname="address_line_1"  style="width: -webkit-fill-available !important;">
        </div>

        <div class="row margin infodetails">
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;" >
            <p>City</p>
            <input type="text" data-fieldname="city" data-length="100"
            style="width: -webkit-fill-available !important;">
          </div>
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>Post Code</p>
            <input type="text" data-fieldname="pincode" data-length="100"
            style="width: -webkit-fill-available !important;" placeholder="47810">
          </div>
        </div>

        <div class="row margin infodetails">
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>Country</p>            
            <select data-fieldname="country" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;"  id="i_filter_leave_type" autocomplete="off">
              <option value="" selected>All</option>
              {% set country = frappe.get_all("Country", fields=['*']) %}
              {% for i_country in country %}
                  <option value="{{i_country.country_name}}">{{i_country.country_name}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>State</p>
            <input type="text" data-fieldname="state" style="width: -webkit-fill-available !important;">
          </div>
        </div>

        <div class="input-field col s12 " style="margin-top: 0px;">
          <p>Workday</p>
            <div style="border: 1px solid #c1c1c1; margin: 0;" class=" row button-group">
              <div class="col seven-cols">
                <input id="checkbox1" type="checkbox" data-fieldname="sunday">
                <label class="label-pad" for="checkbox1">Sunday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox2" type="checkbox" data-fieldname="monday">
                <label class="label-pad" for="checkbox2">Monday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox3" type="checkbox" data-fieldname="tuesday">
                <label class="label-pad" for="checkbox3">Tuesday</label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox4" type="checkbox" data-fieldname="wednesday">
                <label class="label-pad" for="checkbox4">Wednesday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox5" type="checkbox" data-fieldname="thursday">
                <label class="label-pad" for="checkbox5">Thursday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox6" type="checkbox" data-fieldname="friday">
                <label class="label-pad" for="checkbox6">Friday
                </label>
              </div>
              <div class="col seven-cols">
                <input id="checkbox7" type="checkbox" data-fieldname="saturday">
                <label class="label-pad" for="checkbox7">Saturday
                </label>
              </div>
            </div>
        </div>
        <div class="input-field col s12" style="margin-top: 0px;">
          <p>Timezone</p>          
          <select data-fieldname="time_zone" id="time_zone" style="padding-left: 10px; width: -webkit-fill-available;">
          </select>
        </div>

        <div class="row margin infodetails">
          <div class="input-field col s12 m12 l6 xl6" style="margin-top: 0px;">
            <p>Language</p>            
            <select data-fieldname="language" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;"  id="i_filter_leave_type" autocomplete="off">
              <option value="" selected>All</option>
              {% set language = frappe.get_all("Language", fields=['*']) %}
              {% for i_language in language %}
                  <option value="{{i_language.language_code}}">{{i_language.language_name}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="option-date-appr input-field col s12 m6" style="margin-top: 5px;">
            <p style="margin-bottom: 10px;">Date Format</p>
            <select data-fieldname="date_format" id="date_format" style="padding-left: 10px; width: -webkit-fill-available;">
            </select>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
   <a href="#!" id="save_branch_edit" class="right waves-effect waves-light btn">Save</a>
   <a href="#!" class="right blue-text btn-flat"
   onclick="$('#modal-branch-edit').modal('close')">Cancel</a>
 </div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
    var company_name = "{{ company_name }}";
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/sweetalert/sweetalert.min.js" type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/app-assets/vendors/tinymce/tinymce.min.js" type="text/javascript"></script>
<script defer src="/hr/js/company-settings.js" type="text/javascript"></script>
{% endblock %}
