{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-calendar.css">
<style type="text/css">
    @media only screen and (max-width: 330px){
      .clr-filter{
        text-align: left;
        position: unset !important;
      }

      .tabs{
        width: 210px !important;
      }


    }

    .collapsible-body{
  padding: 0 !important;
}

.custom-file-input {
  color:transparent;
  font-size: 5px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Attach File';
  color:white;
  display: inline-block;
  background:  #5ab1f6;
  border-radius: 50px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 5px;
}
.custom-file-input:active::before {
	background:  #5ab1f6;
}



.custom-file-input-after {
  color:transparent;
  font-size: 6px;
}
.custom-file-input-after::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input-after::before {
  content: 'File Attached';
  color:black;
  display: inline-block;
  background:  rgb(204, 201, 201);
  border-radius: 50px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
}
.custom-file-input-after:hover::before {
  border-color: black;
}
.custom-file-input-after:active {
  outline: 5px;
}
.custom-file-input-after:active::before {
	background:  #5ab1f6;
}
</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}

<div id="main">
   <div class="row">
    <div class="content-wrapper-before"></div>
    <div class="col-12">
      <div class="container">
        <div class="row section-data-tables">
          <div class="col s12">
            <div class="nav-wrapper black-text banner-title3">
			  <div class="breadcrumb">
				<a class="breadcrumb">HR Hub</a>
				<a class="breadcrumb">Claims</a>
				<a href="/hr/leave-request" class="breadcrumb active">My Claims</a>
			  </div>

<!-- My Expense Claim  -->				
		<div class="card" style="border-radius: 10px;overflow-x: auto !important;">
		   <div class="card-content">
			  <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
			  <h4 class="card-title directorytitle" style="display: inline;">My Expenses Claim</h4>
			<br>
			<div id="My Claim">

				  
                  
                  				  
                  <div class="input-field col s12 m12">
                    <p style="margin-bottom: 10px;">Requester</p>
					

					<input type="text"  style="width: -webkit-fill-available; color: #c0bfbf;" value="{{employee_name}}" id="claim_requester" readonly>
					<!-- <select name="claim_requester" style="padding-left: 10px;width: -webkit-fill-available;" id="claim_requester">
						<option value="" disabled selected>Requester</option>
						{% for emp in employee | sort(attribute='employee_name') %}
						<option value="{{emp.name}}">{{emp.employee_name}}</option>	
						{% endfor %}			  
					</select> -->
						
                  </div>
                  <div class="input-field col s12 m6">
					  
                    <p style="margin-bottom: 10px;">Employee ID</p>
						<input type="text"  style="width: -webkit-fill-available; color: #c0bfbf;" value="{{employee_id}}" id="employee_id" name="employee_id" readonly>
						<!-- <input type="text" name="employee_id" style="width: -webkit-fill-available;" placeholder="BAYO-1909-003" id="employee_id" readonly> -->
                    
				  </div>
				  
				  <div class="col s12 m12">
					<p style="margin-bottom: 10px;">Approver</p>
					<input type="text"  style="width: -webkit-fill-available; color: #c0bfbf;" value="{{approver}}" name="approver" id="sel_approver" readonly>
					<!-- <input type="text" name="approver" style="width: -webkit-fill-available;" placeholder="Approver" id="sel_approver" readonly> -->
                 
				  </div>
				  

				  <div class="col s12 m12">
					<p style="margin-bottom: 10px;">Verifier</p>
					<input type="text"  style="width: -webkit-fill-available; color: #c0bfbf;" value="{{verifier}}" name="verifier" id="sel_verifier" readonly>
					<!-- <input type="text" name="approver" style="width: -webkit-fill-available;" placeholder="Approver" id="sel_approver" readonly> -->
                 
                  </div>
				  
                  <div class="col xl6 l6 m9 s9">
					  <p style="margin-bottom: 10px;"><b>Reimbusement Type</b></p>
					   
						<select id="sel_payment" name="sel_payment" style="padding-left: 10px;width: -webkit-fill-available;" >
								<!-- <option value="" disabled selected>Select Reimbusement</option> -->
								<option value="Direct Payment" selected>Direct Payment</option>
								<option value="Submission via Payroll" disabled>Submission Via Payroll</option>
						</select>
                  </div>

				 
				  
                  <div class="input-field col s12 m12">
					<p style="margin-bottom: 10px;">Department</p>
					<input type="text"  style="width: -webkit-fill-available; color: #c0bfbf;" value="{{department}}" readonly>
                    <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
						<!-- <input type="text" name="department" style="width: -webkit-fill-available;" placeholder="Commercial " id="department" readonly> -->
                    <!--<label for="signup-name" class="center-align">Full Name</label>-->
				  </div>


				  <div class="content table-section" >
					
					<br>
					<div id="list" class="list-section" style="display: block; ">
							
					  <div class="row" >
						<div id="table-scroll" class="col s12" >
							<img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
			  				<h4 class="card-title" style="display: inline; margin-left: 10px;">Claim Details</h4>
						</div>
						<div id="table-scroll" class="col s12" style="outline:1px solid #dbdbdb;">
						  <table class ="table" id="claim_table" style="margin-top: 15px; display: inline-table!important;">
							<thead>
							<tr style="background-color: #eff1f9;">
							  <th style=" border-right:none!important;"><b>No.</b></th>
							  <th style=" border-right:none!important;"><b>Expenses Date</b></th>
							  <th style=" border-right:none!important;"><b>Claim Type</b></th>
							  <th style=" border-right:none!important;"><b>Mechant</b></th>
							  <th style=" border-right:none!important;"><b>Description</b></th>
							  
							  <th style=" border-right:none!important;"><b>Amount</b></th>
							  <th style=" border-right:none!important;"><b>Attachment</b></th>
							  
							</tr>
						</thead>
						<tbody>
						</tbody>
						  </table>
						  
						  <div class="input-field col s12 m12" >
							
							<!-- <div class="input-field col s12 m6" style="margin-left: 530px;">
								<p style="margin-bottom: 10px; color: #87c1f1;">Total Amount</p>
								<input type="label" disabled value="{{currency}}" style="padding:0;border-top-left-radius: 5px; border-bottom-left-radius: 5px;border: 1px solid #c1c1c1 !important;width: 47px;height: 3rem;padding-left: 10px; float: left; -webkit-box-sizing: content-box;" >
								<input type="text" name="claim_amount" style="width: -webkit-fill-available; display: flex;border-radius: unset !important;border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important;border: 1px solid #87c1f1 !important;" placeholder="Your claim amount" id="tabtotal_amount" readonly>

							  </div> -->
							  <div class="input-field col s12 m2">
								<a class="modal-trigger waves-effect btn right" id="remove_claim">Remove Claim</a>
								
							  </div>

							  <div class="input-field col s12 m2">
								<a class="modal-trigger waves-effect btn right" href="#add_claim_modal">Add Claim</a>
								<!-- <a class="modal-trigger waves-effect btn right">Add Claim</a> -->
								
							  </div>

							  
							  
							</div>
						</div>
					  </div>
					</div>

				</div>  
				  
				  




 
                  <div class="input-field col s12 m12">
                    <p style="margin-bottom: 10px;">Total Claim Amount</p>
                    <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
					<p style="font-size:40px; margin-bottom: 10px;display: inline-block;float: left;color: #ef32a1">{{currency}} </p>
					<p style="font-size:40px; margin-bottom: 10px;display: inline-block;float: left;color: #ef32a1" id="total_amount"></p>
                    <!--<label for="signup-name" class="center-align">Full Name</label>-->
					<a href="#create-news.modal" class="modal-trigger waves-effect btn right" id="save_claim">Save Claim</a>
						<br><br><br><br>
				  </div>

				<br><br><br>
            </div>
		   </div>
		</div>

<!-- Claim History List -->

		<!-- <div class="card" style="border-radius: 10px;overflow-x: auto !important;">
		   <div class="card-content">
			  <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
			  <h4 class="card-title directorytitle" style="display: inline;">Claim History</h4>
			<br>
			<div id="My Claim History">

				<div class="content table-section">
						<br>
						<div id="list" class="list-section" style="display: block;">
						  <div class="row">
							<div id="table-scroll" class="col s12">
							  <table class ="table" id="claim_table" style="margin-top: 15px; display: inline-table!important;">
								<thead>
								<tr style="background-color: #eff1f9;">
								  <th style=" border-right:none!important;"><b>No.</b></th>
								  <th style=" border-right:none!important;"><b>Expenses Date</b></th>
								  <th style=" border-right:none!important;"><b>Claim Type</b></th>
								  <th style=" border-right:none!important;"><b>Mechant</b></th>
								  <th style=" border-right:none!important;"><b>Description</b></th>
								  <th style=" border-right:none!important;"><b>Amount</b></th>
								  <th style=" border-right:none!important;"><b>Attachment</b></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							  </table>
							  
							  <div class="input-field col s12 m12" >
								
								<div class="input-field col s12 m6" style="margin-left: 530px;">
									<p style="margin-bottom: 10px; color: #87c1f1;">Total Amount</p>
									<input type="label" disabled value="{{currency}}" style="padding:0;border-top-left-radius: 5px; border-bottom-left-radius: 5px;border: 1px solid #c1c1c1 !important;width: 47px;height: 3rem;padding-left: 10px; float: left; -webkit-box-sizing: content-box;" >
									<input type="text" name="claim_amount" style="width: -webkit-fill-available; display: flex;border-radius: unset !important;border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important;border: 1px solid #87c1f1 !important;" placeholder="Your claim amount" id="tabtotal_amount" readonly>

								  </div>
								  <div class="input-field col s12 m3">
									<a class="modal-trigger waves-effect btn right" id="remove_claim">Remove Claim</a>
								  </div>
								</div>
							</div>
						  </div>
						</div>

					</div>     

				</div>
				<br>
            </div>
		   </div> -->
		</div>

<!-- Claim Detail-->

			<!-- <div class="card" style="border-radius: 10px!important;"> -->
			<div id="add_claim_modal" class="modal" style="max-height:110% !important; ">
			  <div class="modal-content">
					  <img style="display: inline;float: left;margin-left: 30px" width="22" height="22" class="sidenav-icon" src="/icons/claims.png">
					  <div class="card-title" style="text-align: left;margin-left: 63px;">Claim Details</div>
				  <form id="claim_form">
					<div class="row margin infodetails">
							<div class="input-field col s6">
								<p style="margin-bottom: 10px;">Claim type</p>
								<!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
								
								<select style="padding-left: 10px;width: -webkit-fill-available;" id="sel_claim_type" name="claim_type">
								<option value="" disabled selected>Select Type</option>
									{% set leave_type = frappe.get_all("Expense Claim Type", fields=['name']) %}
									{% for i_leave_type in leave_type %}
										<option value="{{i_leave_type.name}}">{{i_leave_type.name}}</option>
									{% endfor %}
								</select>
								<label class='claim_type_error'></label>

								<!--<label for="signup-name" class="center-align">Full Name</label>-->
							</div>
						  <div class="input-field col s6">
							<p style="margin-bottom: 10px;">Claim Date</p>
							<!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
							<img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" ><input style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available" placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')" id="sel_date" value="2013-01-08" name="claim_date">
							<!-- <label class='error'>Error</label> -->
							<!--<label for="signup-name" class="center-align">Full Name</label>-->
						  </div>
		  
						  <div class="input-field col s12 m6">
							<p style="margin-bottom: 10px;">Merchant</p>
							<!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
								<input type="text" name="merchant" style="width: -webkit-fill-available;" placeholder="e.g. Miya Motors " id="sel_merchant">
								<!-- <label class='error'>Error</label> -->
							<!--<label for="signup-name" class="center-align">Full Name</label>-->
						  </div>
						  <div class="input-field col s12 m6">
							<p style="margin-bottom: 10px;">Amount</p>
							<!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
							<input type="label" disabled value="{{currency}}" style="padding:0;border-top-left-radius: 5px; border-bottom-left-radius: 5px;border: 1px solid #c1c1c1 !important;width: 40px;height: 3rem;padding-left: 10px; float: left; -webkit-box-sizing: content-box;" >
							<input type="text" name="claim_amount" style="width: -webkit-fill-available; display: flex;border-radius: unset !important;border-top-right-radius: 5px !important; border-bottom-right-radius: 5px !important;" placeholder="Your claim amount" id="sel_amount">
							<label class='claim_amount_error'></label>
							
						  </div>

							<div class="input-field col s12">
								<p style="margin-bottom: 10px;">Description</p>
								
								<textarea type="text" id="sel_desc"></textarea>
								
							</div>

							
							
					</div>
				  </form>
			  </div>
			  <div class="modal-footer" style="background-color: #fff !important;">
				<a href="#!" class="right waves-effect waves-light btn" id="add_claim">Add Claim</a>
				<a href="#!" class="right blue-text btn-flat"
				onclick="$('#add_claim_modal').modal('close')">Cancel</a>
			  </div>
			</div>


		</div>
	   </div>
      </div>
	  </div>
    </div> 
   </div>
</div>




{% endblock %}

{% block scripts %}
    <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
    type="text/javascript"></script>
    <script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
    <script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
    <script defer src="/hr/js/leave_request.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/fullcalendar/lib/moment.min.js"></script>
    <script src="../../../app-assets/vendors/fullcalendar/js/fullcalendar.min.js"></script>
    <script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
	<script src="../../../app-assets/js/scripts/app-calendar.js" type="text/javascript"></script>
	<script src="/hr/js/create_claim.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="//cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>


{% endblock %}
