{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/app-calendar.css">
<style type="text/css">
  @media only screen and (max-width: 1460px){
  #table-scroll{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;

    white-space: nowrap!important;
  }

  table{
    width: 1100px !important;
    display: inline-table !important;
  }
  #collapse-table{
    width: 1100px !important;
  }
}

#collapse{
  padding: 0;
  padding-top: 10px;


}

table{
  padding: 0 !important;
  max-width: 100%;
}

.collapsible-body{
  padding: 0 !important;
  background-color:#fcf8e3
}


</style>
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}

<div id="main">
  <div class="row">
    <div class="container">
      <div class="section-data-tables nav-wrapper black-text banner-title3">
        <!--<div class="content-wrapper-before"></div>-->
        <div class="col s12">
          <div class="breadcrumb">
            <a class="breadcrumb">HR Hub</a>
            <a class="breadcrumb">Leave</a>
            <a href="/hr/leave-approval" class="breadcrumb active">Approval</a>
          </div>
        </div>
        <div class="col xl20 l20 m18 s12">
          <div id="card-stats" class="card" style="border-radius: 10px!important;">
            <div class="card-content">
             <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/leave.png">
             <div class="card-title" style="margin-top: -5px;;text-align: left;margin-left: 35px;">Request</div>

             <div class="row">
                 <div style="height: 40px;"></div>
                  <div id="table-scroll" class='form-field col s12' style="padding-right: 0;">

                   <ul id="collapse-table" class="collapsible">
                     <li>
                       <table style="font-size: 14px;" >
                         <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                           <th style="border-right:none!important;width: 250px;">Name</th>
                           <th style="border-right:none!important;">Request DateTime</th>
                           <th style=" border-right:none!important;">Type</th>
                           <th style=" border-right:none!important;">Date</th>
                           <th style=" border-right:none!important;">Status</th>
                           <th style=" border-right:none!important; width: 200px;"></th>

                         </tr>
                       </table>
                     </li>
                     {% for i_leave_detail in leave_requests %}                     
                     <li>
                       <div class="collapsible-header" style="padding: 0 !important;">
                         <table>
                           <tr style="font-size: 13px;" class="collapsible" data-collapsible="accordion">
                             <td style="width: 250px;">
                               {{i_leave_detail.employee_name}}
                             </td>
                             <td>{{ frappe.utils.format_datetime(i_leave_detail.creation) }}</td>
                             <td>{{i_leave_detail.leave_type}}</td>
                             <td>
                               <p>{{ frappe.utils.formatdate(i_leave_detail.from_date) }} - {{ frappe.utils.formatdate(i_leave_detail.to_date) }}</p>
                               <p>{{ i_leave_detail.total_leave_days }} Days</p>
                             </td>
                             <td>{{i_leave_detail.status}}</td>
                             <td style="width: 200px;">
                                <a href="#" class="waves-effect waves-dark btn green btn-small mr-5 approve_leave" data-name="{{i_leave_detail.name}}">Approve</a>
                                <a href="#" class="waves-effect waves-dark red btn btn-small reject_leave" data-name="{{i_leave_detail.name}}">Reject</a>
                             </td>
                           </tr>
                         </table>
                       </div>
                       <div class="collapsible-body" style="padding:0 !important;">

                         <div>
                           <table>
                             <tbody style="border:none !important;">
                             <tr style="font-size: 13px;">
                               <td style="width: 100px;">
                                 Reason
                               </td>
                               <td style="width: 50px;">
                                 :
                               </td>
                               <td >
                                 {% if (i_leave_detail.description) %}
                                 {{i_leave_detail.description | replace("\n","<br>")}}
                                 {% endif %}
                               </td>
                             </tr>
                             <tr style="font-size: 13px;">
                               <td style="width: 100px;">
                                 Attachment
                               </td>
                               <td style="width: 50px;">
                                 :
                               </td>
                               <td >
                                {% if(i_leave_detail.file_url) %}
                                <a href="{{ i_leave_detail.file_url }}" target="_blank" title="{{ i_leave_detail.file_name }}">
                                  <span>{{ i_leave_detail.file_name }}</span>
                                </a>
                                {% endif %}
                               </td>
                             </tr>
                             </tbody>
                           </table>

                        </div>


                            </div>
                        </li>
                         {% endfor %}
                    </ul>
                </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col xl16 l16 m18 s12">
        <div class="card" style="border-radius: 10px!important;  overflow:visible">
        <div class="card-content">
          <form>
            <img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/leave.png">
            <h4 class="card-title directorytitle" style="text-align: left;">History</h4>

            <a href="#!" class="clr_filter_requesthistory modal-trigger waves-effect waves-light right">Clear Filter</a>

            <div style="height: 40px;"></div>
            <div class="row margin infodetails">
              <div class="input-field col s12 m4 l4 xl3">
                <p style="margin-bottom: 10px;">Name</p>
                <select autocomplete="off" id="i_filter_employeee" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;">
                  <option value="" selected>All name</option>
                  {% for item in list_employee: %}
                  <option value="{{item.employee_name}}">{{item.employee_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-field col s12 m4 l4 xl3">
                <p style="margin-bottom: 10px;">Type</p>
                <select autocomplete="off" id="i_filter_eave_type" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;">
                  <option value="" selected>All Type</option>
                  {% for item in list_leave_type: %}
                  <option value="{{item.name}}">{{item.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-field col s12 m4 l4 xl3">
                <p style="margin-bottom: 10px;">Status</p>
                <select autocomplete="off" id="i_filter_leave_status" class="i_filter_requesthistory" style="padding-left: 10px;width: -webkit-fill-available;">
                  <option value="" selected>All status</option>
                  {% for item in list_leave_status: %}
                  <option value="{{item}}">{{item}}</option>
                  {% endfor %}
                </select>
              </div>

            </div>
            <div class="row margin infodetails">
              <div class="input-field col s12 m4 l4 xl3">
                <p style="margin-bottom: 10px; ">Start</p>
                <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                <input id="i_filter_from_date" autocomplete="off" style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available" placeholder="" class="textbox-n i_filter_requesthistory date-range-filter" type="date" onfocus="(this.type='date')">
              </div>
              <div class="input-field col s12 m4 l4 xl3">
                <p style="margin-bottom: 10px;">End</p>
                <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 12px; right: 35px;" >
                <input id="i_filter_to_date" autocomplete="off" style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available" placeholder="" class="textbox-n i_filter_requesthistory date-range-filter" type="date" onfocus="(this.type='date')">
              </div>
            </div>
          </form>
          <div style="height: 40px;"></div>
          <div>
            <div style="padding: 0 !important;"> 
              <table class="table table-striped dataTable display" style="font-size: 14px;" id="request_history">
                <thead>  
                <tr style="border-bottom: 1px solid lightgray !important;font-size: 14px;background-color: #f9f9f9; width: 100%!important;" >
                  <th style="border-right:none!important;width: 250px;">Name</th>
                  <th style=" border-right:none!important;">Type</th>
                  <th style=" border-right:none!important;">Date</th>
                  <th style=" border-right:none!important;">Status</th>
                  <th style="border-right:none!important;">Process DateTime</th>
                  <th style=" border-right:none!important;"></th>
                  <th style="border-right:none!important;">From Date</th>
                  <th style="border-right:none!important;">To Date</th>
                </tr>
                </thead>
                <tbody>
                {% for i_leave_detail in leave_historys %}
                <tr style="font-size: 13px;">
                  <td style="width: 250px;">
                    {{i_leave_detail.employee_name}}
                  </td>
                  <td>{{i_leave_detail.leave_type}}</td>
                  <td>
                    <p>{{ frappe.utils.formatdate(i_leave_detail.from_date) }}<br>{{ frappe.utils.formatdate(i_leave_detail.to_date) }}</p>
                    <p>{{ i_leave_detail.total_leave_days }} Days</p>
                  </td>
                  <td>{{i_leave_detail.status}}</td>
                  <td>{{ frappe.utils.format_datetime(i_leave_detail.modified) }}</td>
                  <td>
                    <a href="#" class="delete_leave" data-name="{{i_leave_detail.name}}" data-docstatus="{{i_leave_detail.docstatus}}">
                        <img class="img-del-dep" src="/icons/icon-58.png" width="21" height="21">
                    </a>
                  </td>
                  <td>{{frappe.utils.formatdate(i_leave_detail.from_date, format_string="yyyy-mm-dd")}}</td>
                  <td>{{frappe.utils.formatdate(i_leave_detail.to_date, format_string="yyyy-mm-dd")}}</td>
                </tr>
                {% endfor %}   
                </tbody>                 
              </table>
            </div>
          </div>      
        </div>
        </div>
      </div>
    </div>
  </div>
      {% endblock %}
    </div>
  </div>

{% block scripts %}
  <script>
    frappe.csrf_token = "{{ csrf_token }}";
    var glb_employee = "{{ employee }}";
    var glb_holiday_list = "{{ holiday_list }}";
  </script>
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
  type="text/javascript"></script>
  <script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
  <script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
  <script src="/app-assets/vendors/fullcalendar/lib/moment.min.js"></script>
  <script src="/app-assets/vendors/fullcalendar/js/fullcalendar.min.js"></script>
  <script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
  <script src="/app-assets/js/scripts/app-calendar.js" type="text/javascript"></script>
  <script defer src="/hr/js/leave_approval.js" type="text/javascript"></script>
{% endblock %}
