{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/fullcalendar/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/app-calendar.css">

<style type="text/css">
	@media only screen and (max-width: 1460px) {
		#table-scroll {
			width: 100%;
			overflow-y: hidden;
			overflow-x: scroll;

			white-space: nowrap !important;
		}

		table {
			display: inline-table !important;
		}

	}
</style>
{% endblock %}

{% block nav %}
	{% if user == 'Guest' %}
		<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
	{% endif %}
	{% if user != 'Guest' %}
		{% include "www/nav.html" %}
	{% endif %}
{% endblock %}

{% block sidenav %}
	<!--sidenav-->
	{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
	<!--footer-->
	{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<style type="text/css">
	[type="checkbox"].filled-in:checked+span:not(.lever):before {
		border-right: 2px solid green !important;
		border-bottom: 2px solid green !important;
	}

	[type="checkbox"].filled-in+span:not(.lever):after {
		border-radius: 6px !important;
	}

	[type="checkbox"].filled-in:checked+span:not(.lever):after {
		border: 2px solid #e1e1e1 !important;
		background-color: white !important;
	}

	[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
		border: 2px solid #e1e1e1 !important;
		background-color: white !important;
	}
</style>

<div id="main">
	<div class="row">
		<div class="container">
			<div class="section-data-tables nav-wrapper black-text banner-title3">
				<!--<div class="content-wrapper-before"></div>-->
				<div class="col s12">
					<div class="breadcrumb">
						<a class="breadcrumb">HR Hub</a>
						<a class="breadcrumb">Leave</a>
						<a href="/hr/leave-settings" class="breadcrumb active">Leave Settings</a>
					</div>
					<div class="col xl12 l12 m12 s12">
						<!-- General Settings  -->
						<div class="card" style="border-radius: 10px!important; overflow:visible">
							<div class="card-content">

								<img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon"
									src="/icons/leave.png">
								<h4 class="card-title directorytitle" style="text-align: left;">Leave Period</h4>

								<div style="height: 40px;"></div>
								<div class="row margin infodetails" id="form-leave-period">
									<input data-fieldname="name"  value="{{leave_period.name}}" type="hidden" autocomplete="off">
									<div class="input-field col s12 m6">
										<p style="margin-bottom: 10px;">Start</p>
										<img src="/icons/calendar-blue.png" width="20" height="20"
											style="position: absolute; margin-top: 12px; right: 35px;">
										<input data-fieldname="from_date"  autocomplete="off"
											style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available"
											placeholder="" class="textbox-n" type="date" value="{{leave_period.from_date}}" onfocus="(this.type='date')">
									</div>
									<div class="input-field col s12 m6">
										<p style="margin-bottom: 10px;">End</p>
										<img src="/icons/calendar-blue.png" width="20" height="20"
											style="position: absolute; margin-top: 12px; right: 35px;">
										<input data-fieldname="to_date"   autocomplete="off"
											style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available"
											placeholder="" class="textbox-n" type="date" value="{{leave_period.to_date}}" onfocus="(this.type='date')">
									</div>
									<div class="input-field col s12 m9">
										<p style="margin-bottom: 10px;">Company</p>
										<select data-fieldname="company"
											style="padding-left: 10px; width: -webkit-fill-available;" autocomplete="off">
											<option value="">Select Comapny</option>
											{% for row in list_company %}											
											<option {% if row.company_name == leave_period.company %} selected {% endif %} value="{{row.company_name}}">{{row.company_name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="input-field col s12 m9">
										<p style="margin-bottom: 10px;">Holiday List</p>
										<select data-fieldname="optional_holiday_list" style="padding-left: 10px; width: 10px;" autocomplete="off">
											<option value="">Select Holiday List</option>
											{% for row in list_holiday %}											
											<option {% if row.holiday_list_name == leave_period.optional_holiday_list %} selected {% endif %} value="{{row.holiday_list_name}}">{{row.holiday_list_name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col s12">
										<button style="border-radius: 25px; width: 150px;" type="button" id="btn-save-leave-period" class="btn waves-effect waves-light right">Save</button>
										
									</div>
								</div>
							</div>

						</div>

						<!-- Holidays -->
						<div class="card" style="border-radius: 10px;overflow-x: auto !important;">
							<div class="card-content">
								<div class="row" style="margin: auto;">
									<img style="display: inline;float: left;" width="22" height="22"
										class="sidenav-icon" src="/icons/leave.png">
									<h4 class="card-title directorytitle" style="display: inline;">Holidays </h4>
									<div style="height: 40px;"></div>
									<div class="row margin infodetails" id="form-holiday">
										<input data-fieldname="name"  value="{{holiday.name}}" type="hidden" autocomplete="off">
										<div class="input-field col s12 m6">
											<p style="margin-bottom: 10px;">Start</p>
											<img src="/icons/calendar-blue.png" width="20" height="20"
												style="position: absolute; margin-top: 12px; right: 35px;">
											<input data-fieldname="from_date" value="{{holiday.from_date}}"  autocomplete="off"
												style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available"
												placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
										</div>

										<div class="input-field col s12 m6">
											<p style="margin-bottom: 10px;">End</p>
											<img src="/icons/calendar-blue.png" width="20" height="20"
												style="position: absolute; margin-top: 12px; right: 35px;">
											<input data-fieldname="to_date" value="{{holiday.to_date}}"  autocomplete="off"
												style="border: 1px solid #c1c1c1; border-radius: 5px;padding-left: 10px; width: -webkit-fill-available"
												placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
										</div>
										<div class="col s12 m6">
											<p style="margin-bottom: 10px;">Total Holidays: {{holiday.total_holidays}} include Saturdays and Sundays</p>
										</div>
										<div class="col s12 m6">
											<button style="border-radius: 25px; width: 150px;" type="button" id="btn-save-holiday" class="btn waves-effect waves-light right">Save</button>
										</div>
										<br>
										<div class="col s12 m12">
											<button data-modal="modal-holiday" style="border-radius: 25px; width: 150px;" type="button" id="btn-add-holiday" class="btn waves-effect waves-light">Add Holiday</button>
										</div>
										<br>
										<div class="step-content">
											<div class="row">
												<div id="table-scroll" class='form-field col s12' style="padding-right: 0;">
													<table id="list-holiday" style="margin-top: 15px; display: inline-table !important;">
														
														{% for row in holiday.holidays %}
														{% if row.description != "Saturday" and row.description != "Sunday" %}
														
														{% endif %}
														{% endfor %}
													</table>
												</div>
											</div>
										</div>
											
									</div>
								</div>
							</div>
						</div>

						<!-- Branches -->
						<div class="card hide" style="border-radius: 10px;overflow-x: auto !important;">
							<div class="card-content">
								<div class="row" style="margin: auto;">
									<img style="display: inline;float: left;" width="22" height="22"
										class="sidenav-icon" src="/icons/leave.png">
									<h4 class="card-title directorytitle" style="display: inline;">Branches </h4>
									<div class="row margin infodetails">
										<div class="input-field col s12 m12" style="margin-bottom: 0px;">
											<p>Branch</p>
										</div>
										<div class="input-field col s9 m6">
											<select name="company" style="padding-left: 10px;width: -webkit-fill-available;">
												<option value="">Select Comapny</option>
												{% set ev1 = frappe.get_all("Company", fields=['*']) %}
												{% for i_ev1 in ev1%}
												<option value="{{i_ev1.company_name}}">{{i_ev1.company_name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="input-field col s12 m6">
											<a class="left waves-effect waves-light btn"
												style="background-color: white;color: #00AEEF;border: 1px solid #00AEEF; width: 170px;"
												href="#!">Add Branch</a>
										</div>
										<div class="input-field col s9 m9">
											<textarea rows="6" cols="60">Main Office</textarea>
										</div>
										
										<ul id="dropdown1" class="dropdown-content">
											<li><a href="#!"><img src="/icons/people-blue.png" width="20" height="20" /></a></li>
											<li><a href="#!"><img src="/icons/icon-57.png" width="20" height="20" /></a></li>
											<li><a href="#!"><img src="/icons/icon-56.png" width="20" height="20" /></a></li>
										</ul>

										<div class="col s12">
											<a href="#!"
												style="background-color: #00aeef;border-radius: 25px;width: 150px;text-align: center;color: white;line-height: 40px;margin: 0px;margin-top: 14px;"
												class="modal-trigger waves-effect waves-light right">
												Save
											</a>
											<a href="#!" class="clr-fil-myclaims modal-trigger waves-effect waves-light right">
												Cancel
											</a>
										</div>

										<div id="remove-padding" style="width: 100%; padding-bottom: 90px;">
											<div class="col s12 m12 l12 xl4" style="margin-bottom: 15px;">

												<ul id="dropdown1" class="dropdown-content">
													<li> <a href="#!"><img src="/icons/people-blue.png" width="20" height="20" /></a></li>
													<li><a href="#!"><img src="/icons/icon-57.png" width="20" height="20" /></a></li>
													<li><a href="#!"><img src="/icons/icon-56.png" width="20" height="20" /></a></li>
												</ul>
											</div>
										</div>
											
									</div>
								</div>
							</div>
						</div>

						<!-- Leave Type -->
						<div class="card" style="border-radius: 10px;  overflow:visible">
							<div class="card-content">
								<div class="row" style="margin: auto;">
									<img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/leave.png">
									<h4 class="card-title directorytitle" style="display: inline;">Leave Type </h4>
									<a id="btn-add-leave-type" href="javascript:show_detail_leave_type()" class="waves-effect waves-light right office-btn">Add Leave Type</a>
									<div style="height: 40px;"></div>
									<div class="row margin infodetails">
										<div class="row margin infodetails">
											<div class="input-field col s12 m9 ">
												<p style="margin-bottom: 10px;">Leave Type</p>
												<select id="select-leave-type" style="padding-left: 10px; width: 10px;" autocomplete="off">
													<option value="" selected>Select Leave Type</option>
													{% for item in list_leave_type: %}
													<option value="{{item.name}}">{{item.name}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
									<br>
									<div id="form-leave-type"></div>
								</div>
							</div>
						</div>

						<!-- Infor -->
						<div class="col xl3 l4 m6 s3 profile-card-main">
							<div class="card" style="border-radius: 10px!important; overflow:visible">

								<span class="card-title">
									<p
										style="font-size: 77%; background-color: #dcdcdc;width: 65%;text-align: center; border-radius: 0px 30px 30px 0px;padding: 8px;margin-top: 4%;">
										INFO</p>
								</span>
								<br>
								<p style="margin-left: 6%;font-size: 14px;">You can configure
									<br>your company workday and
									<br>holidays in <a href="/hr/company-settings" style="color: #00aeef">Company Settings</a></p>

								<div style="height: 30px"></div>

								<a style="text-align: center; display: block; padding:5%; background-color: #00aeef; color: white;"
									class="modal-trigger" href="#modal-empl-per"></a>

								<a href="#modal-epml-ppl" class="modal-trigger" style="text-align: center; display: block; padding:5%; 
				  color: #00aeef;"></a>
							</div>

						</div>

						<!-- Leave Policy Details  -->
						<div class="col xl9 l9 m9 s6">
							<div class="card" style="border-radius: 10px!important;">
								<div class="card-content"> 
									<img style="display: inline;float: left;" width="22" height="22" class="sidenav-icon" src="/icons/leave.png">
									<h4 class="card-title directorytitle" style="text-align: left;">Leave Policy Details</h4>

									<!-- Leave Type Table   -->
									<br><br><br>
									<div class="step-content">
										<div class="row">
											<div class='form-field col s12' style="padding-right: 0;">
												<table style="margin-top: 15px;display: inline-table !important;" id="list_leave_policy_detail">
													<tr style="background-color: #eff1f9;">
														<th style=" border-right:none!important;width: 150px;"><b>Leave Type</b></th>
														<th style=" border-right:none!important;width: 100px;"><b>Allocation</b></th>
														<th style=" border-right:none!important;width: 100px;"><b>Action</b></th>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<br>
									<ul id="dropdown1" class="dropdown-content">
										<li><a href="#!"><img src="/icons/people-blue.png" width="20" height="20" /></a></li>
										<li><a href="#!"><img src="/icons/icon-57.png" width="20" height="20" /></a></li>
										<li><a href="#!"><img src="/icons/icon-56.png" width="20" height="20" /></a></li>
									</ul>
									<div class="col s12">
										<a id="btn_add_leave_policy_detail" data-modal="modal-leave-policy-detail" href="#" class="waves-effect waves-light right btn">Add Leave Policy</a>
									</div
									<div id="remove-padding" style="width: 100%; padding-bottom: 90px;">
										<div class="col s12 m12 l12 xl4" style="margin-bottom: 15px;">
											<ul id="dropdown1" class="dropdown-content">
												<li><a href="#!"><img src="/icons/people-blue.png" width="20" height="20" /></a></li>
												<li><a href="#!"><img src="/icons/icon-57.png" width="20" height="20" /></a></li>
												<li><a href="#!"><img src="/icons/icon-56.png" width="20" height="20" /></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- add leave policy pop-up -->
						<div id="modal-leave-policy-detail" class="modal modal-fixed-footer" style="padding-right: 50px;">
							<div class="modal-content" style="padding: 0px !important;">
								<p class="edit-title">Add Leave Policy</p>
								<form id="form_leave_policy_detail" class="col s12" style="padding: 24px;">
									<input type="hidden" data-fieldname="name"  autocomplete="off">
									<div class="row">
										<div class="input-field col s12" style="margin-bottom: 0px;">
											<p>Leave Type</p>
											<select data-fieldname="leave_type" style="padding-left: 10px; width: 10px;" autocomplete="off">
												<option value="" selected>Select Leave Type</option>
												{% for item in list_leave_type: %}
												<option value="{{item.name}}">{{item.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="input-field col s12" style="margin-top: 0px;">
											<p>Annual Allocation</p>
											<input autocomplete="off" data-fieldname="annual_allocation" type="text" data-length="50" style="width: -webkit-fill-available !important;">
										</div>

									</div>
								</form>
							</div>
							<div class="modal-footer">
								<a href="#!" class="right waves-effect waves-light btn" id="btn_save_leave_policy_detail">Save</a>
								<a href="#!" class="right blue-text btn-flat"
									onclick="$('#modal-leave-policy-detail').modal('close')">Cancel</a>
							</div>
						</div>

						<div id="modal-holiday" class="modal modal-fixed-footer">
							<div class="modal-content" style="padding: 0px !important; ">
							<p class="edit-title">Edit Holiday</p>
								<form class="col s12" style="padding: 24px;" id="form-holiday-edit">
									<input type="hidden" data-fieldname="name"  autocomplete="off">
									<div class="row">
										<div class="input-field col s12 m12" style="margin-top: 0px;">
											<p>Date</p>
											<input data-fieldname="holiday_date"  autocomplete="off"
											style="border: 1px solid #c1c1c1; border-radius: 5px; padding-left: 10px;"
											placeholder="" class="textbox-n" type="date" onfocus="(this.type='date')">
										</div>
										<div class="input-field col s12 m12" style="margin-top: 0px;">
											<p>Description</p>
											<input type="text" data-fieldname="description" autocomplete="off">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<a href="#!" class="right waves-effect waves-light btn" id="save_holiday">Save</a>
								<a href="#" class="right blue-text btn-flat"
								onclick="$('#modal-holiday').modal('close')">Cancel</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div><!--container -->
	</div><!--row -->
</div><!--main -->	
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var glb_holiday_list_name = "{{ holiday_list_name }}";
	var glb_leave_policy_name = "{{leave_policy_name}}"
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
	type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
	type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
	type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/app-assets/vendors/fullcalendar/lib/moment.min.js"></script>
<script src="/app-assets/vendors/fullcalendar/js/fullcalendar.min.js"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/app-calendar.js" type="text/javascript"></script>
<script defer src="/hr/js/leave_settings.js" type="text/javascript"></script>
{% endblock %}