{% extends "www/master.html" %}

{% block title %}HR Hub{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/tinymce/skins/lightgray/skin.min.css">
{% endblock %}

{% block nav %}
{% if user == 'Guest' %}
<li class=""><a href="/signin" aria-current="page">Sign in</a></li>
{% endif %}
{% if user != 'Guest' %}
{% include "www/nav.html" %}
{% endif %}
{% endblock %}

{% block sidenav %}
<!--sidenav-->
{% include "www/hr/sidenav.html" %}
{% endblock %}

{% block footer %}
<!--footer-->
{% include "www/footer.html" %}
{% endblock %}

{% block main %}
<div id="main">
    <div class="row">
        <div class="content-wrapper-before"></div>
        <div class="col-12">
            <div class="container">
                <div class="row section-data-tables" style="margin: 50px;">
                    <div class="col s12 m12 l8 xl8">
                        <div class="nav-wrapper black-text banner-title3">
                            <div class="breadcrumb">
                                <a class="breadcrumb">HR Hub</a>
                                <a href="/hr/reports" class="breadcrumb active">Reports</a>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card" style="border-radius: 10px!important;">
                                <div class="card-content">
                                    <div>
                                       <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/reports.png">
                                       <h4 class="card-title newstitle" style="display: inline;">Profile Report</h4>
                                   </div><br/>
                                   <div class="col s12" style="margin: 20px;">
                                    <p>Make your own custom report! You can make a custom report as needed.<br/>Sort, select, and download. It’s that easy!</p>
                                </div>
                                <div class="input-field col s12 m6">
                                    <p style="margin-bottom: 10px;">Employee</p>
                                    <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                    <select style="padding-left: 10px;width: -webkit-fill-available;">
                                        <option value="" disabled selected>Select employees</option>
                                        {% set emp_name = frappe.get_all("Employee", fields=['*']) %}
                                        {% for i_emp_name in emp_name %}
                                            <option value="{{i_emp_name.employee_name}}">{{i_emp_name.employee_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                </div>
                                <div class="input-field col s12 m6">
                                    <p style="margin-bottom: 10px;">Information Type</p>
                                    <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                    <select style="padding-left: 10px;width: -webkit-fill-available;">
                                        <option value="" disabled selected>Select columns</option>
                                        <option value="information technology">Accident</option>
                                        <option value="engineering">Sick</option>
                                        <option value="telecommunication">Vacation</option>
                                    </select>
                                    <!--<label for="signup-name" class="center-align">Full Name</label>-->
                                </div>
                                <div class="input-field col s12">
                                    <p style="margin-bottom: 10px;display: inline-block;">Reports</p>
                                    <p style="margin-bottom: 10px;display: inline-block;float: right;color: #00aeef;">Clear All</p>
                                    <textarea id="reports" type="text"></textarea>
                                    <a href="#create-news.modal" class="modal-trigger waves-effect waves-light btn right" style="margin: 20px 0px;">Download Report</a>
                                </div>
                            </div>
                        </div>
                        <div style="margin: 30px;"></div>
                        <div class="card" style="border-radius: 10px!important;">
                            <div class="card-content">
                                <div>
                                   <img width="22" height="22" style="display: inline;float: left;" class="sidenav-icon" src="/icons/reports.png">
                                   <h4 class="card-title newstitle" style="display: inline;">Leave Report</h4>
                               </div><br/>
                               <div class="col s12" style="margin: 20px;">
                               </div>
                               <div class="input-field col s12">
                                <p style="margin-bottom: 10px;">Employee</p>
                                <!--<i class="material-icons-outlined prefix pt-2">person_outline</i>-->
                                <select style="padding-left: 10px;width: -webkit-fill-available;">
                                    <option value="" disabled selected>All employees</option>
                                    {% set emp_name = frappe.get_all("Employee", fields=['*']) %}
                                    {% for i_emp_name in emp_name %}
                                        <option value="{{i_emp_name.employee_name}}">{{i_emp_name.employee_name}}</option>
                                    {% endfor %}
                                </select>
                                <!--<label for="signup-name" class="center-align">Full Name</label>-->
                            </div>
                            <div class="option-date-appr input-field col s12 m6">
                                <p style="margin-bottom: 10px;">Start</p>
                                <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 14px; right: 35px;" ><input style="border: 1px solid #c1c1c1; border-radius: 5px;" placeholder="Cutoff from" class="textbox-n" type="date" onfocus="(this.type='date')">
                            </div>
                            <div class="option-date-appr input-field col s12 m6">
                                <p style="margin-bottom: 10px;">End</p>
                                <img src="/icons/calendar-blue.png" width="20" height="20" style="position: absolute; margin-top: 14px; right: 35px;" ><input style="border: 1px solid #c1c1c1; border-radius: 5px;" placeholder="Cutoff from" class="textbox-n" type="date" onfocus="(this.type='date')">
                                <a href="#create-news.modal" class="modal-trigger waves-effect waves-light btn right" style="margin: 20px 0px;">Download Report</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
    frappe.csrf_token = "{{ csrf_token }}";
</script>
<script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"
type="text/javascript"></script>
<script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"
type="text/javascript"></script>
<script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
<script src="/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
<script src="/app-assets/vendors/tinymce/tinymce.min.js" type="text/javascript"></script>
<script defer src="/hr/js/news.js" type="text/javascript"></script>
{% endblock %}
